﻿@model Infrastructure.Database.Models.Designation


<div class="row">

    <form asp-action="AddUpdateDesignation" class="form col-md-6 col-sm-6 AddUpdateForm">
        <fieldset>
            <Legend>
                पद विवरण
            </Legend>
            @Html.HiddenFor(a => a.Id)
            <div class="form-group">
                <label class="control-label">नाम(नेपालीमा) </label>
                <input asp-for="NameNepali" class="form-control" />
                <span asp-validation-for="NameNepali" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">नाम (अंग्रेजीमा) </label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm">बनाउनुहोस्</button>
                <button type="button" class="btn btn-danger btn-sm" onclick='window.location.href="@Url.Action("DesignationList","Account")"'>सुचिमा जानुहोस्</button>
            </div>

        </fieldset>
        

    </form>

</div>
