﻿@model DTO.ChangePasswordViewModel
<div class="register-box-body">
    <h6>पासवोर्ड परिवर्तन गर्नेहुस</h6>

    <form asp-action="ChangePassword" class="form col-md-6 col-sm-6 ChangePasswordForm">
        @Html.ValidationSummary(true)
        <div class="form-group">
            <label asp-for="OldPassword" class="control-label"> </label>
            <input asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"> </label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="control-label"> </label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
       

        <div class="row">
            <div class="col-xs-8">
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Change</button>
                </div>
            </div>
        </div>
    </form>




</div>
@*<div>
        <a href="/" class="text-center">I already have a membership</a>
    </div>*@