﻿@model List<Infrastructure.Database.Models.Designation>

@{ ViewData["Title"] = "पद सुची"; Layout = "~/Views/Shared/_Layout.cshtml"; }
<section class="content-header">
    <h1>
        @ViewData["Title"]
    </h1>
</section>
<section class="content">
    <div class="box box-default">
        <div class="box-header">
            <div class="row">
                <div class="col-lg-1">
                    <a href="/Account/AddUpdateDesignation/0" class="btn btn-primary btn-md ">
                        <i class="fa fa-plus-circle"></i>नयाँ पद
                    </a>
                </div>
            </div>
        </div>
        <table class="table" border="1">

            <tr style="background-color: #3c8dbc;color:white">

                <th>
                    SN
                </th>
                <th>
                    नाम
                </th>
                <th>
                    नाम(अंग्रेजी)
                </th>

                <th>
                    Action
                </th>
            </tr>

            <tbody>
                @{ var i = 1;
                    if (Model != null && Model.Any())
                    {
                        foreach (var data in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(x => i)
                                </td>
                                <td>
                                    @data.NameNepali
                                </td>
                                <td>
                                    @data.Name
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "AddUpdateDesignation", new { id = data.Id })

                                    @Html.ActionLink("Delete", "DeleteDesignation", new { id = data.Id }, new { onclick = "return confirm('Are you sure want to delete this item?')" })

                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr style="text-align:center; color:red"><td colspan="6"><b>No Record Found</b></td></tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>