﻿@model DTO.EditUserViewModel
<div class="register-box-body">
    <h6 class="login-box-msg">Edit User</h6>

    <form asp-action="EditUser" class="form col-md-6 col-sm-6 RegisterForm">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(a => a.Id)
        <div class="form-group">
            <label asp-for="NameNepali" class="control-label"></label>
            <input asp-for="NameNepali" class="form-control" />
            <span asp-validation-for="NameNepali" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FullName" class="control-label"> </label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label"> </label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"> </label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RoleId" class="control-label"> </label>
            @Html.DropDownListFor(m => m.RoleId, new SelectList(ViewBag.RoleDropDown, "GUID", "DisplayName"), "---Select---", new { @class = "form-control" })
            <span asp-validation-for="RoleId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DesignationId" class="control-label"> </label>
            @Html.DropDownListFor(m => m.DesignationId, new SelectList(ViewBag.DesignationDrpDown, "Id", "DisplayName"), "---Select---", new { @class = "form-control" })
            <span asp-validation-for="DesignationId" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Update</button>
                </div>
            </div>
        </div>
    </form>




</div>
@*<div>
        <a href="/" class="text-center">I already have a membership</a>
    </div>*@