﻿@{
    Layout = null;
}
@model DTO.LoginViewModel
   
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Bootstrap Admin App + jQuery">
        <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
        <title>Log In</title>

        <link href="~/Vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/Vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
        <link href="~/css/bootstrap.css" rel="stylesheet" id="bscss" />
        <link href="~/css/app.css" rel="stylesheet" />
    </head>

    <body>
        <h1 class="text-center" style="margin-top:10px; color:red">
            हरिपुर नगरपालिका 
        </h1>
        <h3 class="text-center" style="margin-top:10px; color:red">
            दर्ता चलानी तथा कार्ड प्रणाली
        </h3>
        <div class="wrapper">
            <div class="block-center mt-4 wd-xl">
                <!-- START card-->
                <div class="card card-flat">
                    <div class="card-header text-center bg-dark">
                        <h6 style="color:white">
                            Sign in to continue
                        </h6>
                    </div>
                    <div class="card-body">
                        <form asp-action="Login" class="mb-3">
                            <div class="text-danger">
                                @Html.ValidationSummary(true)
                            </div>

                            <div class="form-group">
                                <div class="input-group with-focus">
                                    <input asp-for="UserName" class="form-control" placeholder="युजरनेम" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group with-focus">
                                    <input asp-for="Password" class="form-control" placeholder="पसवोर्ड" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="checkbox c-checkbox float-left mt-0">
                                    <label>
                                        <input asp-for="RememberMe" />
                                        <span class="fa fa-check"></span>Remember Me
                                    </label>
                                </div>
                                <div class="float-right">
                                    @*<a class="text-muted" href="">Forgot your password?</a>*@
                                </div>
                            </div>
                            <button class="btn btn-block btn-primary mt-3" type="submit">Login</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </body>

</html>
