﻿@model DTO.RegisterViewModel
<div class="wrapper">
    <div class="block-center mt-5 wd-xl">
        <div class="card">
            <div class="register-box-body">
                <form asp-action="Register" class="form col-md-12 col-sm-12 RegisterForm">
                    @Html.ValidationSummary(true)
                    <div class="container">

                        <b style="color:#ffffff">Register New User <br />Fill the form to create new account.</b>
                        <hr>
                        <div class="form-group">
                            <div class="input-group with-focus">
                                <input asp-for="FullName" class="form-control" placeholder="Full Name" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group with-focus">
                                <input asp-for="NameNepali" class="form-control" placeholder="Full Name(Nepali)" />
                                <span asp-validation-for="NameNepali" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group with-focus">
                                <input asp-for="UserName" class="form-control" placeholder="User Name" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group with-focus">
                                <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group with-focus">
                                <input asp-for="Email" class="form-control" placeholder="Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group with-focus">
                                <input asp-for="Password" class="form-control" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group with-focus">
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group with-focus">
                                @Html.DropDownListFor(m => m.RoleId, new SelectList(ViewBag.RoleDropDown, "GUID", "DisplayName"), "---Select Role---", new { @class = "form-control" })
                                <span asp-validation-for="RoleId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group with-focus">
                                @Html.DropDownListFor(m => m.DesignationId, new SelectList(ViewBag.DesignationDrpDown, "Id", "DisplayName"), "---Select Designation---", new { @class = "form-control" })
                                <span asp-validation-for="DesignationId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<style>
    .card {
        background-color: #3c8dbc;
    }
</style>