﻿@model DTO.ShrediDto

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateShredi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><b>श्रेणीको नाम<span class="text-danger">*</span></b></label>
                <input asp-for="SherdiNepali" class="form-control" required="required" />
                <span asp-validation-for="SherdiNepali" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><b>श्रेणीको नाम (English)<span class="text-danger">*</span></b></label>
                <input asp-for="SherdiEnglish" class="form-control" required="required" />
                <span asp-validation-for="SherdiEnglish" class="text-danger"></span>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm">बनाउनुहोस्</button>
                <button type="button" class="btn btn-danger btn-sm" onclick='window.location.href="@Url.Action("ShrediIndex","Account")"'>सुचिमा जानुहोस्</button>
            </div>
        </form>
    </div>
</div>


