﻿@model List<DTO.UserListViewModel>
@{ ViewData["Title"] = "युजर सुची"; Layout = "~/Views/Shared/_Layout.cshtml"; }
<section class="content-header">
    <h1>
        @ViewData["Title"]
    </h1>
</section>
<section class="content">
    <div class="box box-default">
        <div class="box-header">
            <div class="row">
                <div class="col-lg-1">
                    <a href="/Account/Register" class="btn btn-primary btn-md ">
                        <i class="fa fa-plus-circle"></i>नयाँ युजर
                    </a>
                </div>
            </div>
        </div>
        <table class="table" border="1">

            <tr style="background-color: #3c8dbc;color:white">

                <th>
                    SN
                </th>
                <th>
                    नाम
                </th>
                <th>
                    नाम(अंग्रेजी)
                </th>
                <th>
                    पद
                </th>
                <th>
                    ई-मेल
                </th>
                <th>
                    युजरनेम
                </th>
                <th>
                    Action
                </th>
            </tr>
            <tbody>
                @{ var i = 1;
                    if (Model != null && Model.Any())
                    {
                        foreach (var data in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(x => i)
                                </td>
                                <td>
                                    @data.FullNameNepali
                                </td>
                                <td>
                                    @data.Name
                                </td>
                                <td>
                                    @data.Designation
                                </td>
                                <td>
                                    @data.Email
                                </td>
                                <td>
                                    @data.UserName
                                </td>
                                <td>
                                    <a href="/Account/EditUser/@data.Id" class="fa fa-edit">
                                    </a>
                                    <a href="/Account/DeleteUser/@data.Id" class="fa fa-trash">
                                    </a>
                                    <a href="/Account/ChangePassword/@data.Id" class="fa fa-print">
                                    </a>
                                </td>
                            </tr>
                            }

                        }
                    i++;
                    }
                </tbody>
            </table>
        </div>
    </section>
