﻿@model List<DTO.Children.OldChildDetailDto>


@{ ViewData["Title"] = "पुरानो नाबालक कार्ड सुची"; Layout = "~/Views/Shared/_Layout.cshtml"; }
<section class="content-header">
    <h1>
        @ViewData["Title"]
    </h1>
</section>
<section class="content">
    <div class="box box-default">
        <div class="box-header">
            <div class="row">
                <div class="col-lg-1">
                    <a href="/OldChildCard/AddUpdateOldChildCardDetail" class="btn btn-primary btn-md ">
                        <i class="fa fa-plus-circle"></i>नयाँ कार्ड
                    </a>
                </div>
                <div class="col-lg-11">
                    <form asp-action="OldChildCardDetail" method="get">

                        <div class="row">
                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <input name="Name" placeholder="Search By Name" type="text" class="form-control" style="        width: 100%; margin-left: 40px" />
                                    </div>
                                    <div class="col-lg-3">
                                        <input name="CardNumber" placeholder="Search By Card Number" type="text" class="form-control" style="width: 110%; margin-left: 40px" />
                                    </div>
                                    <div class="col-lg-3">
                                        <button type="submit" class="btn btn-success btn-md" style="margin-left: 40px">
                                            <span class="fa fa-filter"></span> Filter
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <table class="table" border="1">

            <tr style="background-color: #3c8dbc;color:white">

                <th>
                    SN
                </th>
                <th>
                    कार्ड प्रयोगकर्ताको नाम
                </th>
                <th>
                    कार्ड नं.
                </th>

                <th>
                    क्रिया
                </th>
            </tr>
            <tbody>
                @{ var i = 1;
                    if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(x => i)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.NameEnglish)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CardNumber)
                                </td>


                                <td>
                                    @Html.ActionLink("Edit", "AddUpdateOldChildCardDetail", new { id = item.Id })
                                    @Html.ActionLink("Details", "OldChildCardPrintView", new { id = item.Id })
                                    @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr style="text-align:center; color:red"><td colspan="6"><b>No Record Found</b></td></tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>