﻿@{
    Layout = null;
}

<html>
<body>

<h1 style="color:red;text-align:center;">
    SYSTEM EXPIRED
</h1>

<p style="color:blue;text-align:center;">सिस्टम अबधि सकिएको छ ।</p>
<p style="color:blue;text-align:center;">System running date has expired please contact vendor.</p>


</body>
</html>