﻿@model DTO.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}


<style>
    .linkTextDesign{
        background:white;
        
    }
</style>

<br />
<div class="row">
    <div class="col-xl-4 col-md-4">
        <!-- START card-->
        <div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-success-dark justify-content-center rounded-left">
                <em class="fa-copy fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-success rounded-right">

                <div class="h2 mt-0">@Model.Totaldarta</div>
                <div class="font-weight-bold">जम्मा दर्ता</div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-4">
        <!-- START card-->
        <div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left">
                <em class="fa fa-pencil fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-primary rounded-right">
                <div class="h2 mt-0">@Model.TotalChalanai</div>

                <div class="font-weight-bold">जम्मा चलानी</div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-4">
        <!-- START card-->
        <div class="card flex-row align-items-center align-items-stretch border-0" style="background-color:red;">
            <div class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left">
                <em class="fa fa-id-card fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-primary rounded-right">
                <div class="h2 mt-0">@Model.TotalChild</div>

                <div class="font-weight-bold">जम्मा नाबालक कार्ड</div>
            </div>
        </div>
    </div>


    <div class=" col-xl-4 col-md-4">
        <!-- START card-->
        <a href="/DartaChalani/GetDartaListOfSevenDays" title="abc"/>
            <div class="card flex-row align-items-center align-items-stretch border-0" style="background-color:red;">
                <div class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left">
                    <em class="fa fa-id-card fa-3x"></em>
                </div>
                <div class="col-8 py-3 bg-primary rounded-right">
                    <div class="h2 mt-0">darta of seven days</div>

                    <div class="font-weight-bold"></div>
                </div>
            </div>
    </div>


    <div class="col-xl-4 col-md-4">
        <!-- START card-->
        <a href="/DartaChalani/GetChalaniListOfSevenDays" title="abc"/>
            <div class="card flex-row align-items-center align-items-stretch border-0" style="background-color:red;">
                <div class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left">
                    <em class="fa fa-id-card fa-3x"></em>
                </div>
                <div class="col-8 py-3 bg-primary rounded-right">
                    <div class="h2 mt-0">chalani of seven days</div>

                    <div class="font-weight-bold"></div>
                </div>
            </div>
    </div>


   
    <!--<div class="col-xl-4 col-md-4">-->
    <!-- START card-->
    <!--<div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-success-dark justify-content-center rounded-left">
                <em class="fa fa-wheelchair fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-success rounded-right">
                <div class="h2 mt-0">@Model.TotalEntryOfDisabledCard</div>
                <div class="font-weight-bold">जम्मा अपाङ्ग</div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-4">-->
    <!-- START card-->
    <!--<div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left">
                <em class="fa fa-print fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-primary rounded-right">
                <div class="h2 mt-0">@Model.TotalPrintedDisabledCard</div>

                <div class="font-weight-bold">कार्ड प्रिन्ट गरिएका अपाङ्ग</div>
            </div>
        </div>
    </div>-->
    <!--<div class="col-xl-4 col-md-4">-->
    <!-- START card-->
    <!--<div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-danger-dark justify-content-center rounded-left">
                <em class="fa fa-battery-3 fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-danger rounded-right">
                <div class="h2 mt-0">@Model.TotalYetToPrintDisabledCard</div>

                <div class="font-italic">कार्ड प्रिन्ट नभएका अपाङ्ग</div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-4">-->
    <!-- START card-->
    <!--<div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-danger-dark justify-content-center rounded-left">
                <em class="fa fa-ambulance fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-danger rounded-right">
                <div class="h2 mt-0">@Model.TotalExtremeDisabled</div>

                <div class="font-italic">जम्मा गम्भीर अपाङ्ग</div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-4">-->
    <!-- START card-->
    <!--<div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-pink-dark justify-content-center rounded-left">
                <em class="icon-symbol-male fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-pink rounded-right">
                <div class="h2 mt-0">@Model.TotalNormalDisabled</div>

                <div class="font-italic">जम्मा सामान्य अपाङ्ग</div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-4">-->
    <!-- START card-->
    <!--<div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-success-dark justify-content-center rounded-left">
                <em class="fa fa-wheelchair fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-success rounded-right">
                <div class="h2 mt-0">@Model.TotalEntryOfDisabledCard</div>
                <div class="font-weight-bold">जम्मा शारिरिक अपाङ्ग</div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-4">-->
    <!-- START card-->
    <!--<div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left">
                <em class="fa fa-print fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-primary rounded-right">
                <div class="h2 mt-0">@Model.TotalVisionDisability</div>

                <div class="font-weight-bold">जम्मा दृष्टि अपाङ्ग</div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-4">-->
    <!-- START card-->
    <!--<div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-danger-dark justify-content-center rounded-left">
                <em class="fa fa-battery-3 fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-danger rounded-right">
                <div class="h2 mt-0">@Model.TotalHearingDisability</div>

                <div class="font-italic">जम्मा सुनाइ अपाङ्ग</div>
            </div>
        </div>
    </div>-->
    <!--<div class="col-xl-4 col-md-4">-->
    <!-- START card-->
    <!--<div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-success-dark justify-content-center rounded-left">
                <em class="icon-people fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-success rounded-right">
                <div class="h2 mt-0"></div>

                <div class="font-italic">जम्मा श्रवण अपाङ्ग</div>
            </div>
        </div>
    </div>-->
    <!--<div class="col-xl-4 col-md-4">-->
    <!-- START card-->
    <!--<div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left">
                <em class="fa fa-print fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-primary rounded-right">
                <div class="h2 mt-0">@Model.TotalVisionAndHearingDisability</div>

                <div class="font-italic">जम्मा श्रवण र दृष्टि अपाङ्ग</div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-4">-->
    <!-- START card-->
    <!--<div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-danger-dark justify-content-center rounded-left">
                <em class="icon-exclamation fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-danger rounded-right">
                <div class="h2 mt-0">@Model.TotalSpeakingDisability</div>

                <div class="font-italic">जम्मा बोलाइ अपाङ्ग</div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-4">-->
    <!-- START card-->
    <!--<div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-danger-dark justify-content-center rounded-left">
                <em class="fa fa-ambulance fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-danger rounded-right">
                <div class="h2 mt-0">@Model.TotalSocialDisability</div>

                <div class="font-italic">जम्मा मानसिक अपाङ्ग</div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-4">-->
    <!-- START card-->
    <!--<div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-pink-dark justify-content-center rounded-left">
                <em class="icon-symbol-male fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-pink rounded-right">
                <div class="h2 mt-0">@Model.TotalMentalDisability</div>

                <div class="font-italic">जम्मा बौद्धिक अपाङ्ग</div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-4">-->
    <!-- START card-->
    <!--<div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-danger-dark justify-content-center rounded-left">
                <em class="fa fa-ambulance fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-danger rounded-right">
                <div class="h2 mt-0">@Model.TotalHemopholia</div>

                <div class="font-italic">जम्मा रक्तश्राव हेमोफोलिया</div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-4">-->
    <!-- START card-->
    <!--<div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-pink-dark justify-content-center rounded-left">
                <em class="icon-symbol-male fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-pink rounded-right">
                <div class="h2 mt-0">@Model.TotalOtism</div>

                <div class="font-italic">जम्मा अटीज्म अपाङ्ग</div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-4">-->
    <!-- START card-->
    <!--<div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-pink-dark justify-content-center rounded-left">
                <em class="icon-symbol-male fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-pink rounded-right">
                <div class="h2 mt-0">@Model.TotalMultipleDisability</div>

                <div class="font-italic">जम्मा वहु अपाङ्ग</div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-4">-->
    <!-- START card-->
    <!--<div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-success-dark justify-content-center rounded-left">
                <em class="icon-people fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-success rounded-right">
                <div class="h2 mt-0">@Model.TotalElderPersonCard</div>

                <div class="font-italic">जम्मा जेष्ठ नागरिक</div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-4">-->
    <!-- START card-->
    <!--<div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-primary-dark justify-content-center rounded-left">
                <em class="fa fa-print fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-primary rounded-right">
                <div class="h2 mt-0">@Model.TotalPrintedElderCard</div>

                <div class="font-italic">कार्ड प्रिन्ट भएका जेष्ठ नागरिक</div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-4">-->
    <!-- START card-->
    <!--<div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-danger-dark justify-content-center rounded-left">
                <em class="icon-exclamation fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-danger rounded-right">
                <div class="h2 mt-0">@Model.TotalYetToPrintElderCard</div>

                <div class="font-italic">कार्ड प्रिन्ट नभएका जेष्ठ नागरिक</div>
            </div>
        </div>
    </div>-->
</div>

