﻿@model IEnumerable<Infrastructure.Database.Models.Chalani>
@{ ViewData["Title"] = "चलानी सुची"; Layout = "~/Views/Shared/_Layout.cshtml"; }
<section class="content-header">
    <h1>
        @ViewData["Title"]
    </h1>
</section>
<section class="content">
    <div class="box box-default">
        <div class="box-header">
            <div class="row">
                <div class="col-lg-1">
                    <a href="/DartaChalani/CreateChalaniDetail/0" class="btn btn-primary btn-md ">
                        <i class="fa fa-plus-circle"></i>नयाँ चलानी
                    </a>
                </div>
                <div class="col-lg-11">
                    <form asp-action="ChalaniList" method="get">

                        <div class="row">
                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <input name="Name" placeholder="Search By Chalani Number" type="text" class="form-control" style="width:120%; margin-left:40px" />
                                    </div>
                                    <div class="col-lg-3">
                                        <button type="submit" class="btn btn-success btn-md" style="margin-left:50px">
                                            <span class="fa fa-filter"></span> Filter
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <table class="table" border="1">

            <tr style="background-color: #3c8dbc;color:white">

                <th>
                    सि.नं.
                </th>
                <th>
                    चलानी नं.
                </th>
                <th>
                    चलानी मिति
                </th>
                <th>
                    पत्र पठाउने कार्यालय / व्यक्तिको नाम
                </th>
                <th>
                    बिषय
                </th>
                <th>
                    पत्र बुझिलिने व्यक्ति
                </th>
                <th> Action</th>
            </tr>
            <tbody>
                @{ var i = 1;
                    if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(x => i)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ChalaniNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ChalanidateNepali)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.CompanyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Subject)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ReceivedBy)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "CreateChalaniDetail", new { id = item.Id })

                                        @Html.ActionLink("Delete", "DeleteChalani", new { id = item.Id }, new { onclick = "return confirm('Are you sure want to delete this item?')" })

                                    </td>
                                </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr style="text-align:center; color:red"><td colspan="10"><b>No Record Found</b></td></tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>