﻿@model DTO.DartaDto

@{
    ViewData["Title"] = "AddUpdateDartaCard";
}
<h6 style="align-content:center;color:brown;margin-bottom:10px;"><u>नयाँ दर्ता</u></h6>
<fieldset>
    <div class="row">
        <div class="col-md-8">
            <div class="form-row">


                <form asp-action="CreateDartaDetail" enctype="multipart/form-data"  class="form-row AddUpdateForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger" ></div>


                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    @Html.HiddenFor(a => a.Id)



                    <div class="col-md-4">
                        <label><b>दर्ता मिति<span class="text-danger">*</span></b></label>
                        <input asp-for="Dartadate" class="form-control nepali-calendar" id="nepali-datepicker" required="required" />
                        <span asp-validation-for="Dartadate" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label><b>पत्र पठाउने कार्यालयको नाम<span class="text-danger">*</span></b></label>
                        <input asp-for="CompanyName" class="form-control" required="required"/>
                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label><b>प्रदेश<span class="text-danger">*</span></b></label>
                        @Html.DropDownList("AddressId", ViewBag.provinces as SelectList, "--Select--", new { @Class = "form-control" })
                        <span asp-validation-for="AddressId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label><b>जिल्ला<span class="text-danger">*</span></b></label>
                        @Html.DropDownList("DistrictId", ViewBag.DistrictsDrpdown as SelectList, "--Select--", new { @Class = "form-control" })
                        <span asp-validation-for="DistrictId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label><b>गाउँपालिका<span class="text-danger">*</span></b></label>
                        @Html.DropDownList("VDCId", ViewBag.vdcsDrpdown as SelectList, "--Select--", new { @Class = "form-control" })
                        <span asp-validation-for="VDCId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label><b>वार्ड<span class="text-danger">*</span></b></label>
                        @Html.DropDownListFor(m => m.Ward, new SelectList(ViewBag.WardDrpDwn, "Id", "DisplayName"), "--Select--", new { @class = "form-control" })
                        <span asp-validation-for="Ward" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label><b>कम्पनीको ठेगाना (कम्पनी बिदेशी भएमा)<span class="text-danger"></span></b></label>
                        <input asp-for="CompanyAddress" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <label><b>प्राप्त पत्रको चलानी नम्बर<span class="text-danger"></span></b></label>
                        <input asp-for="ReferenceNo" class="form-control" />
                        <span asp-validation-for="ReferenceNo" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label><b>प्राप्त पत्रको मिति<span class="text-danger">*</span></b></label>
                        <input asp-for="DateofReceivedLetter" class="form-control nepali-calendar" id="nepali-datepicker1" required="required" />
                        <span asp-validation-for="DateofReceivedLetter" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label><b>बिषय<span class="text-danger">*</span></b></label>
                        <input asp-for="Subject" class="form-control" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label><b>फाट<span class="text-danger">*</span></b></label>
                        @Html.DropDownList("Faat", ViewBag.Fatt as SelectList, "--Select--", new { @class = "form-control" })
                        <span asp-validation-for="Faat" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label><b>कैफियत<span class="text-danger"></span></b></label>
                        <input asp-for="Remarks" class="form-control" />
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label><b>पत्रको फोटो<span class="text-danger"></span></b></label>
                        <fieldset>

                            <input name="file" class="form-control filestyle" type="file" data-classbutton="btn btn-secondary" data-classinput="form-control inline" data-icon="&lt;span class='fa fa-upload mr'&gt;&lt;/span&gt;" id="file">

                        </fieldset>
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm">बनाउनुहोस्</button>
                        <button type="button" class="btn btn-danger btn-sm" onclick='window.location.href="@Url.Action("DartaList","DartaChalani")"'>सुचिमा जानुहोस्</button>
                    </div>
                </form>
            </div>
        </div>



        <div class="col-md-4">

            <div class="card card-default">
                <div class="card-body text-center">
                    <div class="images-list images">
                        <img class="image-preview images manualimgsize" src="" alt="Photo">
                    </div>
                    <br>

                    <hr />
                    <div class="">
                        <h4 class="m-0 text-bold text-center">Preview</h4>
                        <div class="images-list images" id="previewImg">
                           
                                <img id="image" class="image-preview images manualimgsize" src="~/images/@Model.Photo" alt="" />
                          

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
  
</fieldset>

@section Scripts {


    <script type="text/javascript">


        $("#file").change(function () {
            readURL(this);
        });
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $(document).ready(function () {
            var mainInput = $("#nepali-datepicker");
            mainInput.nepaliDatePicker();
            var cmbPerProvince = $("#AddressId");
            var cmbPerDistrict = $("#DistrictId");

            cmbPerProvince.on('change', function () {
                var provinceId = cmbPerProvince.val();

                $.ajax({
                    url: "/DartaChalani/getDistrictsFromProvince?Id=" + provinceId,
                    type: "GET",
                    dataType: "json",
                    success: function (districts) {
                        $('#DistrictId > option').remove();
                        $.each(districts, function (i, district) {
                            console.log(district);
                            $('#DistrictId').append('<option value=' + district.Id + '>' + district.DisplayName + '</option>');

                        });
                        cmbPerDistrict.change();
                    },
                    error: function () {
                        new ToastMessage("Choose Valid Province");
                        console.log("failed to retrieve data.");
                    }
                });

            });


            cmbPerDistrict.on('change', function () {

                var districtId = cmbPerDistrict.val();
                $.ajax({
                    url: "/DartaChalani/getVdcsFromDistrict?Id=" + districtId,
                    type: "GET",
                    dataType: "json",
                    success: function (vdcs) {
                        $('#VDCId > option').remove();
                        $.each(vdcs, function (i, vdc) {
                            $('#VDCId').append('<option value=' + vdc.Id + '>' + vdc.DisplayName + '</option>');
                        });
                    },
                    error: function () {
                        new ToastMessage("Choose Valid District");
                        console.log("failed to retrieve data.");
                    }
                });
            });
            var mainInput = $("#nepali-datepicker1");
            mainInput.nepaliDatePicker();

        });


    </script>
}
