﻿@model IEnumerable<Infrastructure.Database.Models.Darta>
@{ ViewData["Title"] = "दर्ता सुची"; Layout = "~/Views/Shared/_Layout.cshtml"; }
<section class="content-header">
    <h1>
        @ViewData["Title"]
    </h1>
</section>
<section class="content">
    <div class="box box-default">
        <div class="box-header">
            <div class="row">
                <div class="col-lg-1">
                    <a href="/DartaChalani/CreateDartaDetail/0" class="btn btn-primary btn-md ">
                        <i class="fa fa-plus-circle"></i>नयाँ दर्ता
                    </a>
                </div>
                <div class="col-lg-11">
                    <form asp-action="DartaList" method="get">

                        <div class="row">
                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <input name="Name" placeholder="Search By Darta Number" type="text" class="form-control" style="width:115%; margin-left:40px" />
                                    </div>

                                    


                                    <div class="col-lg-3">
                                        <button type="submit" class="btn btn-success btn-md" style="margin-left:40px">
                                            <span class="fa fa-filter"></span> Filter
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <table class="table" border="1">

            <tr style="background-color: #3c8dbc;color:white">

                <th>
                    सि.नं.
                </th>
                <th>
                    दर्ता नं.
                </th>
                <th>
                    दर्ता मिति
                </th>
                <th>
                    पत्र पठाउने कार्यालयको नाम
                </th>
                <th>
                    प्राप्त पत्रको चलानी नम्बर
                </th>
                <th>
                    बिषय
                </th>
                <th>
                    फाट
                </th>
                <td>
                    Action
                </td>
            </tr>
            <tbody>
                @{ var i = 1;
                    if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(x => i)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DartaNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Dartadate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CompanyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ReferenceNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Subject)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Fatt.FattName)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "CreateDartaDetail", new { id = item.Id })

                                        @Html.ActionLink("Delete", "DeleteDarta", new { id = item.Id }, new { onclick = "return confirm('Are you sure want to delete this item?')" })

                                    </td>
                                </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr style="text-align:center; color:red"><td colspan="8"><b>No Record Found</b></td></tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>