﻿@model DTO.EmployeeDto

@{
    ViewData["Title"] = "AddUpdateEmployee";
}
<h6 style="align-content:center;color:brown;margin-bottom:10px;"><u>नयाँ कर्मचारी</u></h6>
<fieldset>
    <div class="row">
        <div class="col-md-8">
            <div class="form-row">


                <form asp-action="AddUpdateEmployee" class="form-row AddUpdateForm" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger" enctype="multipart/form-data"></div>

                    

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.HiddenFor(a => a.Id)
                    <div class="col-md-4">
                        <label>कर्मचारीको पुरा नाम</label>
                        <input asp-for="Employee_Name_Nepali" class="form-control" />
                        <span asp-validation-for="Employee_Name_Nepali" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label>कर्मचारीको पुरा नाम (English)</label>
                        <input asp-for="Employee_Name_English" class="form-control" />
                        <span asp-validation-for="Employee_Name_English" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label>लिङ्ग</label>
                        @Html.DropDownListFor(m => m.Gender, new SelectList(ViewBag.GenderDropdown, "Id", "DisplayName"), "--Select--", new { @class = "form-control" })
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label>जन्म मिति</label>
                        <input asp-for="DOB" class="form-control nepali-calendar" id="nepali-datepicker" />
                        <span asp-validation-for="DOB" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="District_Id" class="control-label">जिल्ला</label>
                        @Html.DropDownList("District_Id", ViewBag.DistrictsDrpdown as SelectList, "--Select--", new { @Class = "form-control" })
                        <span asp-validation-for="District_Id" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Vdc_Id" class="control-label">गा. बि. स/न.पा</label>
                        @Html.DropDownList("Vdc_Id", ViewBag.vdcsDrpdown as SelectList, "--Select--", new { @Class = "form-control" })
                        <span asp-validation-for="Vdc_Id" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Ward" class="control-label">वार्ड</label>
                        @Html.DropDownListFor(m => m.Ward, new SelectList(ViewBag.WardDrpDwn, "Id", "DisplayName"), "--Select--", new { @class = "form-control" })
                        <span asp-validation-for="Ward" class="text-danger"></span>
                    </div>


                    <div class="col-md-4">
                        <label>कार्यालय</label>
                        <input asp-for="Office" class="form-control" />
                        <span asp-validation-for="Office" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Designation_Id" class="control-label">पद</label>
                        @Html.DropDownList("Designation_Id", ViewBag.designationDropdown as SelectList, "--Select--", new { @Class = "form-control" })
                        <span asp-validation-for="Designation_Id" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Shredi_Id" class="control-label">श्रेणी</label>
                        @Html.DropDownList("Shredi_Id", ViewBag.shrediDropdown as SelectList, "--Select--", new { @Class = "form-control" })
                        <span asp-validation-for="Shredi_Id" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label>कार्यालय प्रवेश मिति</label>
                        <input asp-for="Office_Entry_Date" class="form-control nepali-calendar" id="nepali-datepicker1" />
                        <span asp-validation-for="Office_Entry_Date" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label>संकेत न.</label>
                        <input asp-for="Sanket_Number" class="form-control" />
                        <span asp-validation-for="Sanket_Number" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Photo" class="control-label">फोटो</label>
                        <fieldset>

                            <input name="PhotoFile" class="form-control filestyle" type="file" data-classbutton="btn btn-secondary" data-classinput="form-control inline" data-icon="&lt;span class='fa fa-upload mr'&gt;&lt;/span&gt;" id="file">

                        </fieldset>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="बनाउनुहोस्" class="btn btn-primary " />
                        <button type="button" class="btn btn-danger btn-sm" onclick='window.location.href="@Url.Action("Index","Employee")"'>सुचिमा जानुहोस्</button>
                    </div>
                </form>



            </div>
        </div>

        <div class="col-md-4">

            <div class="card card-default">
                <div class="card-body text-center">
                    <div class="images-list images">
                        <img class="image-preview images manualimgsize" src="~/images/@Model.Photo" alt="Photo">
                    </div>
                    <br>

                    <hr />
                    <div class="">
                        <h4 class="m-0 text-bold text-center">Preview</h4>
                        <div class="images-list images" id="previewImg">
                            <img id="image" class="image-preview images manualimgsize" src="#" alt="" />
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</fieldset>



@section Scripts {


    <script type="text/javascript">

        $(document).ready(function () {
            var mainInput = $("#nepali-datepicker");
            mainInput.nepaliDatePicker();

            var mainInput = $("#nepali-datepicker1");
            mainInput.nepaliDatePicker();
            
            var cmbPerDistrict = $("#District_Id");
           

           

            cmbPerDistrict.on('change', function () {

                var districtId = cmbPerDistrict.val();
                $.ajax({
                    url: "/Employee/getVdcsFromDistrict?Id=" + districtId,
                    type: "GET",
                    dataType: "json",
                    success: function (vdcs) {
                        $('#Vdc_Id > option').remove();
                        $.each(vdcs, function (i, vdc) {
                            $('#Vdc_Id').append('<option value=' + vdc.Id + '>' + vdc.DisplayName + '</option>');
                        });
                    },
                    error: function () {
                        new ToastMessage("Choose Valid District");
                        console.log("failed to retrieve data.");
                    }
                });
            });


           
            });


           

     
        $("#file").change(function () {
            readURL(this);
        });
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }



    </script>
}




