﻿@model IEnumerable<DTO.EmployeeDto>
@{ ViewData["Title"] = "कर्मचारी सुची"; Layout = "~/Views/Shared/_Layout.cshtml"; }
<section class="content-header">
    <h1>
        @ViewData["Title"]
    </h1>
</section>
<section class="content">
    <div class="box box-default">
        <div class="box-header">
            <div class="row">
                <div class="col-lg-1">
                    <a href="/Employee/AddUpdateEmployee" class="btn btn-primary btn-md ">
                        <i class="fa fa-plus-circle"></i>नयाँ कर्मचारी
                    </a>
                </div>
                <div class="col-lg-11">
                    <form asp-action="Index" method="get">

                        <div class="row">
                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <input name="Name" placeholder="Search By Name" type="text" class="form-control" style="width:100%; margin-left:40px" />
                                    </div>
                                    <div class="col-lg-3">
                                        <button type="submit" class="btn btn-success btn-md" style="margin-left:40px">
                                            <span class="fa fa-filter"></span> Filter
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <table class="table" border="1">

            <tr style="background-color: #3c8dbc;color:white">

                <th>
                    SN
                </th>
                <th>
                    कर्मचारीको नाम
                </th>
                <th>Action</th>
            </tr>


            

            <tbody>
                @{ var i = 1;
                    if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(x => i)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Employee_Name_Nepali)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "AddUpdateEmployee", new { id = item.Id })

                                    @Html.ActionLink("Delete", "DeleteEmployee", new { id = item.Id }, new { onclick = "return confirm('Are you sure want to delete this item?')" })

                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr style="text-align:center; color:red"><td colspan="6"><b>No Record Found</b></td></tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>
