﻿@model DTO.ChildBasicDetailDTO

@{
    ViewData["Title"] = "AddUpdateChildCard";
}
<h6 style="align-content:center;color:brown;margin-bottom:10px;"><u>नयाँ नाबालक परिचय पत्र</u></h6>
<fieldset>
    <div class="row">
        <div class="col-md-8">
            <div class="form-row">


                <form asp-action="AddUpdateChildCardDetail" class="form-row AddUpdateForm" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger" enctype="multipart/form-data"></div>


                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.HiddenFor(a => a.Id)
                    <div class="col-md-4">
                        <label>पुरा नाम</label>
                        <input asp-for="NameNepali" class="form-control" />
                        <span asp-validation-for="NameNepali" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label>पुरा नाम (English)</label>
                        <input asp-for="NameEnglish" class="form-control" />
                        <span asp-validation-for="NameEnglish" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="PermanentProvinceId" class="control-label"></label>
                        @Html.DropDownList("PermanentProvinceId", ViewBag.perprovinces as SelectList, "--Select--", new { @Class = "form-control" })
                        <span asp-validation-for="PermanentProvinceId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="PermanentDistrictId" class="control-label"></label>
                        @Html.DropDownList("PermanentDistrictId", ViewBag.PerDistrictsDrpdown as SelectList, "--Select--", new { @Class = "form-control" })
                        <span asp-validation-for="PermanentDistrictId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="PermanentVDCId" class="control-label"></label>
                        @Html.DropDownList("PermanentVDCId", ViewBag.PervdcsDrpdown as SelectList, "--Select--", new { @Class = "form-control" })
                        <span asp-validation-for="PermanentVDCId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="PermanentWard" class="control-label"></label>
                        @Html.DropDownListFor(m => m.PermanentWard, new SelectList(ViewBag.PerWardDrpDwn, "Id", "DisplayName"), "--Select--", new { @class = "form-control" })
                        <span asp-validation-for="PermanentWard" class="text-danger"></span>
                    </div>


                    <div class="col-md-4">
                        <label asp-for="TemporaryProvinceId" class="control-label">जन्म प्रदेश </label>
                        @Html.DropDownList("TemporaryProvinceId", ViewBag.perprovinces as SelectList, "--Select--", new { @Class = "form-control" })
                        <span asp-validation-for="TemporaryProvinceId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="TemporaryDistrictId" class="control-label">जन्म जिल्ला  </label>
                        @Html.DropDownList("TemporaryDistrictId", ViewBag.PerDistrictsDrpdown as SelectList, "--Select--", new { @Class = "form-control" })
                        <span asp-validation-for="TemporaryDistrictId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="TemporaryVDCId" class="control-label">जन्म नगर/गाउँपालिका </label>
                        @Html.DropDownList("TemporaryVDCId", ViewBag.PervdcsDrpdown as SelectList, "--Select--", new { @Class = "form-control" })
                        <span asp-validation-for="TemporaryVDCId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="TemporaryWard" class="control-label">जन्म वार्ड </label>
                        @Html.DropDownListFor(m => m.TemporaryWard, new SelectList(ViewBag.PerWardDrpDwn, "Id", "DisplayName"), "--Select--", new { @class = "form-control" })
                        <span asp-validation-for="TemporaryWard" class="text-danger"></span>
                    </div>





                    <div class="col-md-4">
                        <label>लिङ्ग (English)</label>
                        @Html.DropDownListFor(m => m.Gender, new SelectList(ViewBag.GenderTypeDropdown, "Id", "DisplayName"), "--Select--", new { @class = "form-control" })
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label>बाबुको पुरा नाम</label>
                        <input asp-for="FatherNameNepali" class="form-control" />
                        <span asp-validation-for="FatherNameNepali" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label>बाबुको पुरा नाम (English)</label>
                        <input asp-for="FatherNameEnglish" class="form-control" />
                        <span asp-validation-for="FatherNameEnglish" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label>बाबुको ठेगाना</label>
                        <input asp-for="FatherAddressNepali" class="form-control" />
                        <span asp-validation-for="FatherAddressNepali" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label>बाबुको ठेगाना (English)</label>
                        <input asp-for="FatherAddressEnglish" class="form-control" />
                        <span asp-validation-for="FatherAddressEnglish" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label>आमाको नाम</label>
                        <input asp-for="MotherNameNepali" class="form-control" />
                        <span asp-validation-for="MotherNameNepali" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label>आमाको नाम (English)</label>
                        <input asp-for="MotherNameEnglish" class="form-control" />
                        <span asp-validation-for="MotherNameEnglish" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label>आमाको ठेगाना (English)</label>
                        <input asp-for="MotherAddressEnglish" class="form-control" />
                        <span asp-validation-for="MotherAddressEnglish" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label>आमाको ठेगाना</label>
                        <input asp-for="MotherAddressNepali" class="form-control" />
                        <span asp-validation-for="MotherAddressNepali" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label>आम़ा/बुवाको  नागरिकता न.</label>
                        <input asp-for="FatherMotherCitizenship" class="form-control" />
                        <span asp-validation-for="FatherMotherCitizenship" class="text-danger"></span>
                    </div>
                    @*<div class="col-md-4">
                        <label>जारी गर्ने(English)</label>
                        <input asp-for="ApprovedBy" class="form-control" />
                        <span asp-validation-for="ApprovedBy" class="text-danger"></span>
                    </div>*@

                    <div class="col-md-4">
                        <label asp-for="ApprovedById" class="control-label">जारी गर्ने</label>
                        @Html.DropDownList("ApprovedById", ViewBag.employee as SelectList, "--Select--", new { @Class = "form-control" })
                        <span asp-validation-for="ApprovedById" class="text-danger"></span>
                    </div>

                    @*<div class="col-md-4">
                        <label>जारी गर्ने</label>
                        <input asp-for="ApprovedByNepali" class="form-control" />
                        <span asp-validation-for="ApprovedByNepali" class="text-danger"></span>
                    </div>*@
                    <div class="col-md-4">
                        <label asp-for="Photo" class="control-label">फोटो</label>
                        <fieldset>

                            <input name="file" class="form-control filestyle" type="file" data-classbutton="btn btn-secondary" data-classinput="form-control inline" data-icon="&lt;span class='fa fa-upload mr'&gt;&lt;/span&gt;" id="file">

                        </fieldset>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="Employee_Id" class="control-label">सनाखत गर्ने</label>
                        @Html.DropDownList("Employee_Id", ViewBag.employee as SelectList, "--Select--", new { @Class = "form-control" })
                        <span asp-validation-for="Employee_Id" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label>सनाखत गर्नेको ठेगाना</label>
                        <input asp-for="Employee_Address" class="form-control" />
                        <span asp-validation-for="Employee_Address" class="text-danger"></span>
                    </div>






                    <div>
                        <div class="col-md-12 row">
                            <div class="col-md col-md-12">
                                <br />
                                <br />
                                <h5>थप जानकारी खण्ड</h5>
                            </div>


                            <div class="col-md-8">
                                <label asp-for="BirthCertificate" class="control-label">जन्म दर्ता</label>

                                <input name="BirthCertificateFile" class="form-control filestyle" type="file" data-classbutton="btn btn-secondary" data-classinput="form-control inline" data-icon="&lt;span class='fa fa-upload mr'&gt;&lt;/span&gt;" id="file1">

                            </div>

                            <div class="images-list images col-md-4">
                                <img class="image-preview images" style="width:100%" src="~/images/@Model.BirthCertificate" alt="Photo">
                            </div>


                        </div>

                        <br />
                        <br />
                        <div class="col-md-12 row">
                            <div class="col-md-8">
                                <label asp-for="FatherCitizen" class="control-label">बुवाको नागरिकता</label>


                                <input name="FatherCitizenFile" class="form-control filestyle" type="file" data-classbutton="btn btn-secondary" data-classinput="form-control inline" data-icon="&lt;span class='fa fa-upload mr'&gt;&lt;/span&gt;" id="file2">


                            </div>

                            <div class="images-list images col-md-4">
                                <img class="image-preview images " style="width:100%" src="~/images/@Model.FatherCitizen" alt="Photo">
                            </div>

                        </div>

                        <br />
                        <br />
                        <div class="col-md-12 row">
                            <div class="col-md-8">
                                <label asp-for="MotherCitizen" class="control-label">आमाको नागरिकता</label>

                                <input name="MotherCitizenFile" class="form-control filestyle" type="file" data-classbutton="btn btn-secondary" data-classinput="form-control inline" data-icon="&lt;span class='fa fa-upload mr'&gt;&lt;/span&gt;" id="file3">


                            </div>

                            <div class="images-list images col-md-4">
                                <img class="image-preview images " style="width:100%" src="~/images/@Model.MotherCitizen" alt="Photo">
                            </div>

                        </div>
                        <br />
                        <br />
                        <div class="col-md-12 row">
                            <div class="col-md-8">
                                <label asp-for="other" class="control-label">अन्य</label>

                                <input name="OtherFile" class="form-control filestyle" type="file" data-classbutton="btn btn-secondary" data-classinput="form-control inline" data-icon="&lt;span class='fa fa-upload mr'&gt;&lt;/span&gt;" id="file4">


                            </div>

                            <div class="images-list images col-md-4">
                                <img class="image-preview images " style="width:100%" src="~/images/@Model.other" alt="Photo">
                            </div>

                        </div>

                    </div>



                    <div class="row">
                        <div class="col-md-12">

                            <br />



                            <div class="table-responsive bootgrid">
                                <table class="table table-striped bootgrid-table" id="bootgrid-command" aria-busy="false">
                                    <thead>
                                        <tr>

                                            <th data-column-id="id" class="text-left" style=""><span class="text">थप फाईल </span><span class="icon fa "></span></a></th>
                                            <th data-column-id="id" class="text-left" style=""><span class="text"></span><span class="icon fa "></span></a></th>
                                            <th data-column-id="id" class="text-left" style=""><span class="text">क्रिया</span><span class="icon fa "></span></a></th>
                                        </tr>
                                    </thead>
                                    <tbody id="container-of-items">


                                        @if (Model.AddMoreSections.Count() > 0)
                                        {

                                            @foreach (var item in Model.AddMoreSections)
                                            {

                                                var newGuid = Guid.NewGuid();
                                                var text = $"AddMoreSections[{newGuid}].TextArea";
                                                var file = $"AddMoreSections[{newGuid}].fileinput";

                                                <tr class="item-row" id="item-0" data-rowid="0">
                                                    <input type="hidden" class="identifier" name="AddMoreSections.index" autocomplete="off" value="@newGuid" />
                                                    <td class="text-left" style="">
                                                        <div class="">
                                                            <input type="text" value="@item.TextArea" class="form-control a" name="@text" data-rowid="0" />
                                                        </div>
                                                    </td>
                                                    <td class="text-left" style="">
                                                        <div class="">
                                                            <input type="file" value="@item.fileinput" class="form-control tkimg" name="@file" data-rowid="0" />
                                                        </div>
                                                    </td>
                                                    <td class="text-center" style="">
                                                        <button type="button" class="btn btn-outline-primary mb-2 add" data-rowid="0">
                                                            <em class="fa fa-arrow-circle-down"></em>
                                                        </button>

                                                        <button type="button" class="btn btn-outline-danger mb-2 btn-remove" data-rowid="0">
                                                            <em class="fa fa-times"></em>
                                                        </button>
                                                    </td>
                                                </tr>

                                            }
                                        }



                                        else
                                        {


                                            <tr class="item-row" id="item-0" data-rowid="0">
                                                <input type="hidden" class="identifier" name="AddMoreSections.index" autocomplete="off" value="0" />

                                                <td class="text-left" style="">
                                                    <div class="form-group">
                                                        <input type="text" value="" class="form-control a" name="AddMoreSections[0].TextArea" data-rowid="0" />
                                                    </div>
                                                </td>
                                                <td class="text-left" style="">
                                                    <div class="form-group">
                                                        <input type="file" value="" class="form-control tkimg" name="AddMoreSections[0].fileinput" data-rowid="0" />
                                                    </div>
                                                </td>
                                                <td class="text-left" style="">
                                                    <button type="button" class="btn btn-labeled btn-primary mb-2 add" data-rowid="0">
                                                        <em class="fa fa-arrow-circle-down"></em>
                                                    </button>

                                                </td>
                                                <td class="text-left" style="">

                                                    <button type="button" class="btn btn-labeled btn-danger mb-2 btn-remove" data-rowid="0">
                                                        <em class="fa fa-times"></em>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>





                </form>


                <div>
                    <div class="form-group">
                        <input type="submit" value="बनाउनुहोस्" class="btn btn-primary  Basic-Detail-Save" id="submitButton" />
                        <button type="button" class="btn btn-danger btn-sm" onclick='window.location.href="@Url.Action("childcarddetail","cardprint")"'>सुचिमा जानुहोस्</button>
                    </div>

                </div>



               
               

            </div>
        </div>
                

        <div class="col-md-4">

            <div class="card card-default">
                <div class="card-body text-center">
                    <div class="images-list images">
                        <img class="image-preview images manualimgsize" src="~/images/@Model.Photo" alt="Photo">
                    </div>
                    <br>

                    <hr />
                    <div class="">
                        <h4 class="m-0 text-bold text-center">Preview</h4>
                        <div class="images-list images" id="previewImg">
                            <img id="image" class="image-preview images manualimgsize" src="#" alt="" />
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</fieldset>
<script src="~/js/parser.function.js"  asp-append-version="true"></script>
<script src="~/js/RowHelper.js"  asp-append-version="true"></script>
<script src="~/js/Row.js"  asp-append-version="true"></script>

@section Scripts {


    <script type="text/javascript">



        $(document).ready(function () {


            $('#submitButton').on('click', function () {
                $('form').submit();
            });


            $('.add').on('click', function () {
                event.preventDefault();

                let template = $(this).closest('.item-row').eq(0);
                let guid = getRandomGuid();
                let clonedRow = template.clone(true, true);
                clonedRow.find('input').val('');
                clonedRow.find('.sidecontent').focus();
                clonedRow.find('.content').focus();
                clonedRow.find('input').select();
                changeNameBasedOnGuid(clonedRow, guid);
                $(this).closest('.table>tbody').prepend(clonedRow);

                $(`#${guid}`).select2();
                

                $(`#${guid1}`).select2();
               

                $(`#${guid2}`).select2();
               
                return;
                let row = $(this).closest('tr');
            });

        });


        function changeNameBasedOnGuid(row, guid) {
            row.find('.identifier').val(guid);
            row.find('.btn-remove').data('rowid', guid);
            row.find('.btn-remove1').data('rowid', guid);
            row.find('.btn-remove2').data('rowid', guid);
            row.data('rowid', guid);
            row.attr('id', `item-${guid}`);

            let prefix1 = 'AddMoreSections';
            row.find('.a').attr('name', `${prefix1}[${guid}].TextArea`);
            row.find('.tkimg').attr('name', `${prefix1}[${guid}].fileinput`);
           

           


          
        }
        function getRandomGuid() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }


        var _CHILD_ELEMENTS_MINIMAL_UNDER_CONTAINER_OF_ITEMS = 1;
        $("#container-of-items,#container-of-items1,#container-of-items2").on('click', ".btn-remove", function () {
            var userconfirmed = confirm('are you sure you want to remove this row?');
            if (userconfirmed) {
                var row = new Row($(this).data('rowid'));
                $(this).closest('tr').remove();
            }
        });

        function getNumberOfRows() {
            return document.querySelectorAll('#container-of-items,#container-of-items1,#container-of-items2 > [data-rowid]').length;
        }






        $(document).ready(function () {

            var cmbPerProvince = $("#PermanentProvinceId");
            var cmbPerDistrict = $("#PermanentDistrictId");
            var cmbPerTempProvince = $("#TemporaryProvinceId");
            var cmbPerTempDistrict = $("#TemporaryDistrictId");

            cmbPerProvince.on('change', function () {
                var provinceId = cmbPerProvince.val();

                $.ajax({
                    url: "/CardPrint/getDistrictsFromProvince?Id=" + provinceId,
                    type: "GET",
                    dataType: "json",
                    success: function (districts) {
                        $('#PermanentDistrictId > option').remove();
                        $.each(districts, function (i, district) {
                            console.log(district);
                            $('#PermanentDistrictId').append('<option value=' + district.Id + '>' + district.DisplayName + '</option>');

                        });
                        cmbPerDistrict.change();
                    },
                    error: function () {
                        new ToastMessage("Choose Valid Province");
                        console.log("failed to retrieve data.");
                    }
                });

            });


            cmbPerDistrict.on('change', function () {

                var districtId = cmbPerDistrict.val();
                $.ajax({
                    url: "/CardPrint/getVdcsFromDistrict?Id=" + districtId,
                    type: "GET",
                    dataType: "json",
                    success: function (vdcs) {
                        $('#PermanentVDCId > option').remove();
                        $.each(vdcs, function (i, vdc) {
                            $('#PermanentVDCId').append('<option value=' + vdc.Id + '>' + vdc.DisplayName + '</option>');
                        });
                    },
                    error: function () {
                        new ToastMessage("Choose Valid District");
                        console.log("failed to retrieve data.");
                    }
                });
            });


            cmbPerTempProvince.on('change', function () {
                var provinceId = cmbPerTempProvince.val();

                $.ajax({
                    url: "/CardPrint/getDistrictsFromProvince?Id=" + provinceId,
                    type: "GET",
                    dataType: "json",
                    success: function (districts) {
                        $('#TemporaryDistrictId > option').remove();
                        $.each(districts, function (i, district) {
                            console.log(district);
                            $('#TemporaryDistrictId').append('<option value=' + district.Id + '>' + district.DisplayName + '</option>');

                        });
                        cmbPerTempDistrict.change();
                    },
                    error: function () {
                        new ToastMessage("Choose Valid Province");
                        console.log("failed to retrieve data.");
                    }
                });

            });


            cmbPerTempDistrict.on('change', function () {

                var districtId = cmbPerTempDistrict.val();
                $.ajax({
                    url: "/CardPrint/getVdcsFromDistrict?Id=" + districtId,
                    type: "GET",
                    dataType: "json",
                    success: function (vdcs) {
                        $('#TemporaryVDCId > option').remove();
                        $.each(vdcs, function (i, vdc) {
                            $('#TemporaryVDCId').append('<option value=' + vdc.Id + '>' + vdc.DisplayName + '</option>');
                        });
                    },
                    error: function () {
                        new ToastMessage("Choose Valid District");
                        console.log("failed to retrieve data.");
                    }
                });
            });


        });
        $("#file").change(function () {
            readURL(this);
        });
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
      


    </script>
}




