﻿@model DTO.ElderCardDetailDTO

@{
    ViewData["Title"] = "AddUpdateCard";
}
<h6 style="align-content:center;color:brown;margin-bottom:10px;"><u>नयाँ जेष्ठ नागरिक परिचय पत्र</u></h6>
<fieldset>
    <div class="row">
        <div class="col-md-8">
            <div class="form-row">
               
                <form asp-action="AddUpdateElderDetail" class="form-row AddUpdateForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger" enctype="multipart/form-data"></div>
                    @Html.HiddenFor(a => a.Id)
                    @Html.HiddenFor(a => a.DisabledPersonId)
                    @Html.HiddenFor(a => a.GuardianId)
                    @Html.HiddenFor(a => a.CardCategory)
                    @Html.HiddenFor(a => a.Photo)

                    <div class="col-md-4">
                        <label asp-for="CategoryOfElderness" class="control-label"></label>
                        @Html.DropDownList("CategoryOfElderness", new SelectList(ViewBag.CategoryOfEldernessDrpdown, "Id", "DisplayName"), new { @Class = "form-control" })
                        <span asp-validation-for="CategoryOfElderness" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="FullNameNepali" class="control-label"></label>
                        <input asp-for="FullNameNepali" class="form-control" />
                        <span asp-validation-for="FullNameNepali" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="SpouseName" class="control-label"></label>
                        <input asp-for="SpouseName" class="form-control" />
                        <span asp-validation-for="SpouseName" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="Gender" class="control-label"></label>
                        @Html.DropDownListFor(m => m.Gender, new SelectList(ViewBag.GenderTypeDropdown, "Id", "DisplayName"), "--Select--", new { @class = "form-control" })
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="CitizenshipNumberNepali" class="control-label"></label>
                        <input asp-for="CitizenshipNumberNepali" class="form-control" />
                        <span asp-validation-for="CitizenshipNumberNepali" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="DOBNepali" class="control-label"></label>
                        <input asp-for="DOBNepali" class="form-control" id="nepali-datepicker" />
                        <span asp-validation-for="DOBNepali" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="BloodGroup" class="control-label"></label>
                        @Html.DropDownListFor(m => m.BloodGroup, new SelectList(ViewBag.BloodGroupDropDown, "Id", "DisplayName"), new { @class = "form-control" })
                        <span asp-validation-for="BloodGroup" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="MarritalStatus" class="control-label"></label>
                        @Html.DropDownListFor(m => m.MarritalStatus, new SelectList(ViewBag.MarritalStatusDropDown, "Id", "DisplayName"), "--Select--", new { @class = "form-control" })
                        <span asp-validation-for="MarritalStatus" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="ContactNumber" class="control-label"></label>
                        <input asp-for="ContactNumber" class="form-control" />
                        <span asp-validation-for="ContactNumber" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="DiseaseName" class="control-label"></label>
                        <input asp-for="DiseaseName" class="form-control" />
                        <span asp-validation-for="DiseaseName" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="MedicineName" class="control-label"></label>
                        <input asp-for="MedicineName" class="form-control" />
                        <span asp-validation-for="MedicineName" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="TempWardNumber" class="control-label"></label>
                        @Html.DropDownListFor(m => m.TempWardNumber, new SelectList(ViewBag.WardDrpDwn, "Id", "DisplayName"), "--Select--", new { @class = "form-control" })
                        <span asp-validation-for="TempWardNumber" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="TempTole" class="control-label"></label>
                        <input asp-for="TempTole" class="form-control" />
                        <span asp-validation-for="TempTole" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="OtherFacilities" class="control-label"></label>
                        <input asp-for="OtherFacilities" class="form-control" />
                        <span asp-validation-for="OtherFacilities" class="text-danger"></span>
                    </div>
                   
                    <div class="col-md-4">
                        <label asp-for="GuardianFullNameNepali" class="control-label"></label>
                        <input asp-for="GuardianFullNameNepali" class="form-control" />
                        <span asp-validation-for="GuardianFullNameNepali" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="GuardianTempProvinceId" class="control-label"></label>
                        @Html.DropDownList("GuardianTempProvinceId", ViewBag.provinces as SelectList, "--Select--", new { @Class = "form-control" })
                        <span asp-validation-for="GuardianTempProvinceId" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="GuardianTempDistrictId" class="control-label"></label>
                        @Html.DropDownList("GuardianTempDistrictId", ViewBag.DistrictsDrpdown as SelectList, new { @Class = "form-control" })
                        <span asp-validation-for="GuardianTempDistrictId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="GuardianTempAddressId" class="control-label"></label>
                        @Html.DropDownList("GuardianTempAddressId", ViewBag.vdcsDrpdown as SelectList, new { @Class = "form-control" })
                        <span asp-validation-for="GuardianTempAddressId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="GuardianTempWardNumber" class="control-label"></label>
                        @Html.DropDownListFor(m => m.GuardianTempWardNumber, new SelectList(ViewBag.WardDrpDwn, "Id", "DisplayName"), "--Select--", new { @class = "form-control" })
                        <span asp-validation-for="GuardianTempWardNumber" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <label asp-for="GuardianTempTole" class="control-label"></label>
                        <input asp-for="GuardianTempTole" class="form-control" />
                        <span asp-validation-for="GuardianTempTole" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="ApprovedBy" class="control-label"></label>
                        @Html.DropDownList("ApprovedBy", ViewBag.usersDrpDown as SelectList, "--Select--", new { @Class = "form-control" })
                        <span asp-validation-for="ApprovedBy" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Photo" class="control-label"></label>
                        <fieldset>
                            <div class="form-group row">
                                <div class="col-md-10">
                                    <input name="file" class="form-control filestyle" type="file" data-classbutton="btn btn-secondary" data-classinput="form-control inline" data-icon="&lt;span class='fa fa-upload mr'&gt;&lt;/span&gt;" id="file">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="बनाउनुहोस्" class="btn btn-primary  Basic-Detail-Save" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">

            <div class="card card-default">
                <div class="card-body text-center">
                    <div class="images-list images">
                        <img class="image-preview images manualimgsize" src="~/images/@Model.Photo" alt="Contact">
                    </div>
                    <br>

                    <hr />
                    <div class="">
                        <h4 class="m-0 text-bold text-center">Preview</h4>
                        <div class="images-list images" id="previewImg">
                            <img id="image" class="image-preview images manualimgsize" src="#" alt="" />
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</fieldset>

@section scripts
	{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>


        $("#file").change(function () {
        	readURL(this);
        });
        function readURL(input) {

        	if (input.files && input.files[0]) {
        		var reader = new FileReader();

        		reader.onload = function (e) {
        			$('#image').attr('src', e.target.result);
        		}
        		reader.readAsDataURL(input.files[0]);
        	}
        }
        $(document).ready(function () {
            var mainInput = $("#nepali-datepicker");
            mainInput.nepaliDatePicker();
            var cmbProvince = $("#TempProvinceId");
            var cmbDistrict = $("#TempDistrictId");
            var cmbPerProvince = $("#PermanentProvinceId");
            var cmbPerDistrict = $("#PermanentDistrictId");
            var guardianProvince = $("#GuardianTempProvinceId");
            var guardianDistrict = $("#GuardianTempDistrictId");
            var btnSave = $(".Basic-Detail-Save");
            var btnAdditionalSave = $(".AdditionalDetailSave");
            cmbProvince.on('change', function () {
                var provinceId = cmbProvince.val();

                $.ajax({
                    url: "/CardPrint/getDistrictsFromProvince?Id=" + provinceId,
                    type: "GET",
                    dataType: "json",
                    success: function (districts) {
                        $('#TempDistrictId > option').remove();
                        $.each(districts, function (i, district) {
                            console.log(district);
                            $('#TempDistrictId').append('<option value=' + district.Id + '>' + district.DisplayName + '</option>');

                        });
                        cmbDistrict.change();
                    },
                    error: function () {
                        new ToastMessage("Choose Valid Province");
                        console.log("failed to retrieve data.");
                    }
                });

            });


            cmbDistrict.on('change', function () {

                var districtId = cmbDistrict.val();
                $.ajax({
                    url: "/CardPrint/getVdcsFromDistrict?Id=" + districtId,
                    type: "GET",
                    dataType: "json",
                    success: function (vdcs) {
                        $('#TempAddressId > option').remove();
                        $.each(vdcs, function (i, vdc) {
                            $('#TempAddressId').append('<option value=' + vdc.Id + '>' + vdc.DisplayName + '</option>');
                        });
                    },
                    error: function () {
                        new ToastMessage("Choose Valid District");
                        console.log("failed to retrieve data.");
                    }
                });
            });

            cmbPerProvince.on('change', function () {
                var provinceId = cmbPerProvince.val();

                $.ajax({
                    url: "/CardPrint/getDistrictsFromProvince?Id=" + provinceId,
                    type: "GET",
                    dataType: "json",
                    success: function (districts) {
                        $('#PermanentDistrictId > option').remove();
                        $.each(districts, function (i, district) {
                            console.log(district);
                            $('#PermanentDistrictId').append('<option value=' + district.Id + '>' + district.DisplayName + '</option>');

                        });
                        cmbPerDistrict.change();
                    },
                    error: function () {
                        new ToastMessage("Choose Valid Province");
                        console.log("failed to retrieve data.");
                    }
                });

            });


            cmbPerDistrict.on('change', function () {

                var districtId = cmbPerDistrict.val();
                $.ajax({
                    url: "/CardPrint/getVdcsFromDistrict?Id=" + districtId,
                    type: "GET",
                    dataType: "json",
                    success: function (vdcs) {
                        $('#PermanentAddressId > option').remove();
                        $.each(vdcs, function (i, vdc) {
                            $('#PermanentAddressId').append('<option value=' + vdc.Id + '>' + vdc.DisplayName + '</option>');
                        });
                    },
                    error: function () {
                        new ToastMessage("Choose Valid District");
                        console.log("failed to retrieve data.");
                    }
                });
            });

            guardianProvince.on('change', function () {
                var GuardianprovinceId = guardianProvince.val();

                $.ajax({
                    url: "/CardPrint/getDistrictsFromProvince?Id=" + GuardianprovinceId,
                    type: "GET",
                    dataType: "json",
                    success: function (districts) {
                        $('#GuardianTempDistrictId > option').remove();
                        $.each(districts, function (i, district) {
                            console.log(district);
                            $('#GuardianTempDistrictId').append('<option value=' + district.Id + '>' + district.DisplayName + '</option>');
                        });
                        guardianDistrict.change();
                    },
                    error: function () {
                        new ToastMessage("Choose Valid Province");
                        console.log("failed to retrieve data.");
                    }
                });

            });


            guardianDistrict.on('change', function () {

                var GuardiandistrictId = guardianDistrict.val();
                $.ajax({
                    url: "/CardPrint/getVdcsFromDistrict?Id=" + GuardiandistrictId,
                    type: "GET",
                    dataType: "json",
                    success: function (vdcs) {
                        $('#GuardianTempAddressId > option').remove();
                        $.each(vdcs, function (i, vdc) {
                            $('#GuardianTempAddressId').append('<option value=' + vdc.Id + '>' + vdc.DisplayName + '</option>');
                        });
                    },
                    error: function () {
                        new ToastMessage("Choose Valid District");
                        console.log("failed to retrieve data.");
                    }
                });
            });



            btnSave.on('click', function () {
                saveBasicDetail();
            });
            //showNotification = function (Message, stat) {
            //    if (stat == "success") {
            //        $.notify(Message, {
            //            status: "success",
            //            timeout: '4500'
            //        });
            //    }
            //    if (stat == "error") {
            //        $.notify(Message, {
            //            status: "danger",
            //            timeout: '4500'
            //        });
            //    }
            //    if (stat == "notify") {
            //        $.notify(Message, {
            //            status: "primary",
            //            timeout: '4500'
            //        });
            //    }

            //},
            saveBasicDetail = function () {
                debugger;
                event.preventDefault();
                var $form = $('.AddUpdateForm').eq(0);
                $form.data('validator', null);
                $.validator.unobtrusive.parse($form);
                $form.validate();
                if (!$form.valid()) {
                    return;
                }
                var formData = seralizeFormCommon($form);

                $.ajax({
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    url: $form.attr('action'),
                    data: formData,
                    success: function (data) {
                        if (data.success == true) {
                            if (data.Data != null) {
                                $('#Id').val(data.Data.CardId);
                                $('#DisabledPersonId').val(data.Data.DisabledPersonId);
                                $('#GuardianId').val(data.Data.GuardianId);
                            }
                            new ToastMessage("Card Basic Detail Saved Successfully");
                        } else {
                            new ToastMessage(data.Message);
                        }
                    },
                    failure: function (response) {
                        new ToastMessage("Unable to save/update card basic detail");
                    }
                });
            },
                seralizeFormCommon = function (formDom) {
                    var data = new FormData();
                    formDom.find("input,select,textarea").each(function (inpIndex, inpElement) {
                        var propName = $(inpElement).attr("name");
                        if ($(inpElement).attr("type") === "file") {
                            if ($(inpElement)[0].files[0] !== undefined) {
                                if ($(inpElement).attr("multiple") !== undefined) {
                                    $.each($(inpElement)[0].files, function (key, value) {
                                        data.append(propName + "[" + key + "]", $(inpElement)[0].files[key]);
                                    })
                                } else {
                                    data.append(propName, $(inpElement)[0].files[0]);
                                }
                                console.log(propName, $(inpElement)[0].files);
                            }
                        }
                        else {
                            var inputValue = $(inpElement).val();
                            //console.log(propName, inputValue);
                            //if array
                            if (inputValue.constructor === Array) {
                                $.each(inputValue, function (index, value) {
                                    data.append(propName + "[" + index + "]", value)
                                })
                            } else {
                                data.append(propName, inputValue);
                            }
                        }
                    });
                    console.log(data);
                    return data;
                }
        });

    </script>
}


