﻿@model DTO.CardDetailDTO

@{
    ViewData["Title"] = "AddUpdateCard";
    var isDisplay = "";
    if (Model.Id == 0)
    {
         isDisplay = "display:none";
    }
    
}
<div class="col-sm-12" id="linksPanel" style="padding:10px !important; @isDisplay">
    <a href="/CardPrint/DisabledIndividualReport/@Model.Id" class="btn btn-primary fa fa-edit" id="reportLink">
       View Report
    </a>
    <a href="/CardPrint/DisableCardPrintView/@Model.Id" class="btn btn-success fa fa-print pull-right" id="printLink">
        Print View
    </a>
</div>
<h6 style="align-content:center;color:brown"><u>नयाँ अपाङ्ग परिचय पत्र</u></h6>
<section class="content">

    <div class="row">

        <!-- /.col -->
        <div class="col-md-8">
            <div class="">
                <ul class="nav nav-tabs">
                    <li class="active nav-item"><a href="#Basic" class="nav-link" data-toggle="tab">Basic Detail</a></li>
                    <li class="nav-item"><a href="#Additional" data-toggle="tab" class="nav-link">Additional Detail</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="Basic">

                        <form asp-action="SaveDisabledBasicDetail" class="form-row AddUpdateForm" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            @Html.HiddenFor(a => a.Id)
                            @Html.HiddenFor(a => a.DisabledPersonId)
                            @Html.HiddenFor(a => a.GuardianId)
                            @Html.HiddenFor(a => a.CardCategory)
                            @Html.HiddenFor(a => a.Photo)
                            <div class="col-md-4">
                                <label asp-for="IdCardType" class="control-label"></label>
                                @Html.DropDownListFor(m => m.IdCardType, new SelectList(ViewBag.IDCardTypeDropdown, "Id", "DisplayName"), "---Select---", new { @class = "form-control" })
                                <span asp-validation-for="IdCardType" class="text-danger"></span>
                            </div>

                            <div class="col-md-4">
                                <label asp-for="FullName" class="control-label"></label>
                                <input asp-for="FullName" class="form-control" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="FullNameNepali" class="control-label"></label>
                                <input asp-for="FullNameNepali" class="form-control" />
                                <span asp-validation-for="FullNameNepali" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="Gender" class="control-label"></label>
                                @Html.DropDownListFor(m => m.Gender, new SelectList(ViewBag.GenderTypeDropdown, "Id", "DisplayName"), new { @class = "form-control" })
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="CitizenshipNumber" class="control-label"></label>
                                <input asp-for="CitizenshipNumber" class="form-control" />
                                <span asp-validation-for="CitizenshipNumber" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="CitizenshipNumberNepali" class="control-label"></label>
                                <input asp-for="CitizenshipNumberNepali" class="form-control" />
                                <span asp-validation-for="CitizenshipNumberNepali" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="DOBNepali" class="control-label"></label>
                                <input asp-for="DOBNepali" class="form-control" id="nepali-datepicker" />
                                <span asp-validation-for="DOBNepali" class="text-danger"></span>
                            </div>

                            <div class="col-md-4">
                                <label asp-for="BloodGroup" class="control-label"></label>
                                @Html.DropDownListFor(m => m.BloodGroup, new SelectList(ViewBag.BloodGroupDropDown, "Id", "DisplayName"), new { @class = "form-control" })
                                <span asp-validation-for="BloodGroup" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="MarritalStatus" class="control-label"></label>
                                @Html.DropDownListFor(m => m.MarritalStatus, new SelectList(ViewBag.MarritalStatusDropDown, "Id", "DisplayName"), "--Select--", new { @class = "form-control" })
                                <span asp-validation-for="MarritalStatus" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="DisabilityTypeByNature" class="control-label"></label>
                                @Html.DropDownListFor(m => m.DisabilityTypeByNature, new SelectList(ViewBag.DisabilityNatureDropDown, "Id", "DisplayName"), new { @class = "form-control" })
                                <span asp-validation-for="DisabilityTypeByNature" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="DisabilityTypeBySeriousness" class="control-label"></label>
                                @Html.DropDownListFor(m => m.DisabilityTypeBySeriousness, new SelectList(ViewBag.DisabilitySeriousnessDropDown, "Id", "DisplayName"), "----Select----", new { @class = "form-control" })
                                <span asp-validation-for="DisabilityTypeBySeriousness" class="text-danger"></span>
                            </div>

                            <div class="col-md-4">
                                <label asp-for="TempWardNumber" class="control-label"></label>
                                @Html.DropDownListFor(m => m.TempWardNumber, new SelectList(ViewBag.WardDrpDwn, "Id", "DisplayName"), "--Select--", new { @class = "form-control" })
                                <span asp-validation-for="TempWardNumber" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="TempTole" class="control-label"></label>
                                <input asp-for="TempTole" class="form-control" />
                                <span asp-validation-for="TempTole" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="PermanentProvinceId" class="control-label"></label>
                                @Html.DropDownList("PermanentProvinceId", ViewBag.provinces as SelectList, "--Select--", new { @Class = "form-control" })
                                <span asp-validation-for="PermanentProvinceId" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="PermanentDistrictId" class="control-label"></label>
                                @Html.DropDownList("PermanentDistrictId", ViewBag.DistrictsDrpdown as SelectList, new { @Class = "form-control" })
                                <span asp-validation-for="PermanentDistrictId" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="PermanentAddressId" class="control-label"></label>
                                @Html.DropDownList("PermanentAddressId", ViewBag.vdcsDrpdown as SelectList, new { @Class = "form-control" })
                                <span asp-validation-for="PermanentAddressId" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="PermanentWardNumber" class="control-label"></label>
                                @Html.DropDownListFor(m => m.PermanentWardNumber, new SelectList(ViewBag.WardDrpDwn, "Id", "DisplayName"), "--Select--", new { @class = "form-control" })
                                <span asp-validation-for="PermanentWardNumber" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="PermanentTole" class="control-label"></label>
                                <input asp-for="PermanentTole" class="form-control" />
                                <span asp-validation-for="PermanentTole" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <h6>Guardian Detail</h6>
                                <hr />
                            </div>
                            <div class="clear"></div>
                            <div class="col-md-4">
                                <label asp-for="GuardianFullName" class="control-label"></label>
                                <input asp-for="GuardianFullName" class="form-control" />
                                <span asp-validation-for="GuardianFullName" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="GuardianFullNameNepali" class="control-label"></label>
                                <input asp-for="GuardianFullNameNepali" class="form-control" />
                                <span asp-validation-for="GuardianFullNameNepali" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="GuardianRelationWithCitizen" class="control-label"></label>
                                <input asp-for="GuardianRelationWithCitizen" class="form-control" />
                                <span asp-validation-for="GuardianRelationWithCitizen" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="GuardianGender" class="control-label"></label>
                                @Html.DropDownListFor(m => m.GuardianGender, new SelectList(ViewBag.GenderTypeDropdown, "Id", "DisplayName"), new { @class = "form-control" })
                                <span asp-validation-for="GuardianGender" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="GuardianTempProvinceId" class="control-label"></label>
                                @Html.DropDownList("GuardianTempProvinceId", ViewBag.provinces as SelectList, "--Select--", new { @Class = "form-control" })
                                <span asp-validation-for="GuardianTempProvinceId" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="GuardianTempDistrictId" class="control-label"></label>
                                @Html.DropDownList("GuardianTempDistrictId", ViewBag.DistrictsDrpdown as SelectList, new { @Class = "form-control" })
                                <span asp-validation-for="GuardianTempDistrictId" class="text-danger"></span>
                            </div>

                            <div class="col-md-4">
                                <label asp-for="GuardianTempAddressId" class="control-label"></label>
                                @Html.DropDownList("GuardianTempAddressId", ViewBag.vdcsDrpdown as SelectList, new { @Class = "form-control" })
                                <span asp-validation-for="GuardianTempAddressId" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="GuardianTempWardNumber" class="control-label"></label>
                                @Html.DropDownListFor(m => m.GuardianTempWardNumber, new SelectList(ViewBag.WardDrpDwn, "Id", "DisplayName"), "--Select--", new { @class = "form-control" })
                                <span asp-validation-for="GuardianTempWardNumber" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="GuardianTempTole" class="control-label"></label>
                                <input asp-for="GuardianTempTole" class="form-control" />
                                <span asp-validation-for="GuardianTempTole" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="ApprovedBy" class="control-label"></label>
                                @Html.DropDownList("ApprovedBy", ViewBag.usersDrpDown as SelectList, "--Select--", new { @Class = "form-control" })
                                <span asp-validation-for="ApprovedBy" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Photo" class="control-label"></label>
                                <fieldset>
                                    <div class="form-group">
                                        <div class="col-md-8">
                                            <input name="file" class="form-control filestyle" type="file" data-classbutton="btn btn-primary" data-classinput="form-control inline" data-icon="&lt;span class='fa fa-upload mr'&gt;&lt;/span&gt;" id="file">
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="बनाउनुहोस्" class="btn btn-primary  Basic-Detail-Save" />
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="Additional">
                        <form asp-action="AddUpdateAdditionalDetail" class="form-row AdditionalSaveForm">
                            <div class="col-md-12">
                                <h6>Additional Detail</h6>
                                <hr />
                            </div>
                            @Html.HiddenFor(a => a.CardDetailId)
                            <div class="col-md-4">
                                <label asp-for="Qualification" class="control-label"></label>
                                <input asp-for="Qualification" class="form-control" />
                                <span asp-validation-for="Qualification" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="CurrentSchoolCollegeName" class="control-label"></label>
                                <input asp-for="CurrentSchoolCollegeName" class="form-control" />
                                <span asp-validation-for="CurrentSchoolCollegeName" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="StudyingOrFinished" class="control-label"></label>
                                <input asp-for="StudyingOrFinished" class="form-control" />
                                <span asp-validation-for="StudyingOrFinished" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="GuardianCitizenshipNumber" class="control-label"></label>
                                <input asp-for="GuardianCitizenshipNumber" class="form-control" />
                                <span asp-validation-for="GuardianCitizenshipNumber" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="GuardianCitizenshipNumberNepali" class="control-label"></label>
                                <input asp-for="GuardianCitizenshipNumberNepali" class="form-control" />
                                <span asp-validation-for="GuardianCitizenshipNumberNepali" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="WhatKindOfWorkcanDoInDailyLife" class="control-label"></label>
                                <input asp-for="WhatKindOfWorkcanDoInDailyLife" class="form-control" />
                                <span asp-validation-for="WhatKindOfWorkcanDoInDailyLife" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="WhatKindOfWorkCantDo" class="control-label"></label>
                                <input asp-for="WhatKindOfWorkCantDo" class="form-control" />
                                <span asp-validation-for="WhatKindOfWorkCantDo" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="IsNeededAnyEquipement" class="control-label"></label>
                                @Html.DropDownListFor(m => m.IsNeededAnyEquipement, new SelectList(ViewBag.YesNoDropDown, "Id", "DisplayName"), "---Select---", new { @class = "form-control" })
                                <span asp-validation-for="IsNeededAnyEquipement" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="AdditionalEquipements" class="control-label"></label>
                                <input asp-for="AdditionalEquipements" class="form-control" />
                                <span asp-validation-for="AdditionalEquipements" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="HasAnyAdditionalEquipement" class="control-label"></label>
                                @Html.DropDownListFor(m => m.HasAnyAdditionalEquipement, new SelectList(ViewBag.YesNoDropDown, "Id", "DisplayName"), "---Select---", new { @class = "form-control" })
                                <span asp-validation-for="HasAnyAdditionalEquipement" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="OtherFacilities" class="control-label"></label>
                                <input asp-for="OtherFacilities" class="form-control" />
                                <span asp-validation-for="OtherFacilities" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="OtherFacilitiesNeeded" class="control-label"></label>
                                <input asp-for="OtherFacilitiesNeeded" class="form-control" />
                                <span asp-validation-for="OtherFacilitiesNeeded" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="OfficeToProvideFacility" class="control-label"></label>
                                <input asp-for="OfficeToProvideFacility" class="form-control" />
                                <span asp-validation-for="OfficeToProvideFacility" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="Occupation" class="control-label"></label>
                                <input asp-for="Occupation" class="form-control" />
                                <span asp-validation-for="Occupation" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="Remarks" class="control-label"></label>
                                <input asp-for="Remarks" class="form-control" />
                                <span asp-validation-for="Remarks" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="button" value="बनाउनुहोस्" class="btn btn-primary AdditionalDetailSave" />
                            </div>
                        </form>

                    </div>

                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <div class="col-md-4">

            <div class="card card-default">
                <div class="card-body text-center">
                    <div class="">
                        <img class="image-preview images manualimgsize" src="~/images/@Model.Photo" alt="Contact">
                    </div>
                    <br>

                    <hr />
                    <div class="">
                        <h4 class="m-0 text-bold text-center">Preview</h4>
                        <div class="" id="previewImg">
                            <img id="image" class="image-preview images manualimgsize" src="#" alt="" />
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

</section>


@section scripts
	{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>


        $("#file").change(function () {
            readURL(this);
        });
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#image').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $(document).ready(function () {
            var mainInput = $("#nepali-datepicker");
            mainInput.nepaliDatePicker();
            var cmbProvince = $("#TempProvinceId");
            var cmbDistrict = $("#TempDistrictId");
            var cmbPerProvince = $("#PermanentProvinceId");
            var cmbPerDistrict = $("#PermanentDistrictId");
            var guardianProvince = $("#GuardianTempProvinceId");
            var guardianDistrict = $("#GuardianTempDistrictId");
            var btnSave = $(".Basic-Detail-Save");
            var btnAdditionalSave = $(".AdditionalDetailSave");
            cmbProvince.on('change', function () {
                var provinceId = cmbProvince.val();

                $.ajax({
                    url: "/CardPrint/getDistrictsFromProvince?Id=" + provinceId,
                    type: "GET",
                    dataType: "json",
                    success: function (districts) {
                        $('#TempDistrictId > option').remove();
                        $.each(districts, function (i, district) {
                            console.log(district);
                            $('#TempDistrictId').append('<option value=' + district.Id + '>' + district.DisplayName + '</option>');

                        });
                        cmbDistrict.change();
                    },
                    error: function () {
                        new ToastMessage("Choose Valid Province");
                        console.log("failed to retrieve data.");
                    }
                });

            });


            cmbDistrict.on('change', function () {

                var districtId = cmbDistrict.val();
                $.ajax({
                    url: "/CardPrint/getVdcsFromDistrict?Id=" + districtId,
                    type: "GET",
                    dataType: "json",
                    success: function (vdcs) {
                        $('#TempAddressId > option').remove();
                        $.each(vdcs, function (i, vdc) {
                            $('#TempAddressId').append('<option value=' + vdc.Id + '>' + vdc.DisplayName + '</option>');
                        });
                    },
                    error: function () {
                        new ToastMessage("Choose Valid District");
                        console.log("failed to retrieve data.");
                    }
                });
            });

            cmbPerProvince.on('change', function () {
                var provinceId = cmbPerProvince.val();

                $.ajax({
                    url: "/CardPrint/getDistrictsFromProvince?Id=" + provinceId,
                    type: "GET",
                    dataType: "json",
                    success: function (districts) {
                        $('#PermanentDistrictId > option').remove();
                        $.each(districts, function (i, district) {
                            console.log(district);
                            $('#PermanentDistrictId').append('<option value=' + district.Id + '>' + district.DisplayName + '</option>');

                        });
                        cmbPerDistrict.change();
                    },
                    error: function () {
                        new ToastMessage("Choose Valid Province");
                        console.log("failed to retrieve data.");
                    }
                });

            });


            cmbPerDistrict.on('change', function () {

                var districtId = cmbPerDistrict.val();
                $.ajax({
                    url: "/CardPrint/getVdcsFromDistrict?Id=" + districtId,
                    type: "GET",
                    dataType: "json",
                    success: function (vdcs) {
                        $('#PermanentAddressId > option').remove();
                        $.each(vdcs, function (i, vdc) {
                            $('#PermanentAddressId').append('<option value=' + vdc.Id + '>' + vdc.DisplayName + '</option>');
                        });
                    },
                    error: function () {
                        new ToastMessage("Choose Valid District");
                        console.log("failed to retrieve data.");
                    }
                });
            });

            guardianProvince.on('change', function () {
                var GuardianprovinceId = guardianProvince.val();

                $.ajax({
                    url: "/CardPrint/getDistrictsFromProvince?Id=" + GuardianprovinceId,
                    type: "GET",
                    dataType: "json",
                    success: function (districts) {
                        $('#GuardianTempDistrictId > option').remove();
                        $.each(districts, function (i, district) {
                            console.log(district);
                            $('#GuardianTempDistrictId').append('<option value=' + district.Id + '>' + district.DisplayName + '</option>');
                        });
                        guardianDistrict.change();
                    },
                    error: function () {
                        new ToastMessage("Choose Valid Province");
                        console.log("failed to retrieve data.");
                    }
                });

            });


            guardianDistrict.on('change', function () {

                var GuardiandistrictId = guardianDistrict.val();
                $.ajax({
                    url: "/CardPrint/getVdcsFromDistrict?Id=" + GuardiandistrictId,
                    type: "GET",
                    dataType: "json",
                    success: function (vdcs) {
                        $('#GuardianTempAddressId > option').remove();
                        $.each(vdcs, function (i, vdc) {
                            $('#GuardianTempAddressId').append('<option value=' + vdc.Id + '>' + vdc.DisplayName + '</option>');
                        });
                    },
                    error: function () {
                        new ToastMessage("Choose Valid District");
                        console.log("failed to retrieve data.");
                    }
                });
            });



            btnSave.on('click', function () {
                saveBasicDetail();
            });
            //showNotification = function (Message, stat) {
            //    if (stat == "success") {
            //        $.notify(Message, {
            //            status: "success",
            //            timeout: '4500'
            //        });
            //    }
            //    if (stat == "error") {
            //        $.notify(Message, {
            //            status: "danger",
            //            timeout: '4500'
            //        });
            //    }
            //    if (stat == "notify") {
            //        $.notify(Message, {
            //            status: "primary",
            //            timeout: '4500'
            //        });
            //    }

            //},
            saveBasicDetail = function () {
                event.preventDefault();
                var $form = $('.AddUpdateForm').eq(0);
                console.log($form);
                $form.data('validator', null);
                $.validator.unobtrusive.parse($form);
                $form.validate();
                if (!$form.valid()) {
                    return;
                }

                var formStringsData = seralizeFormCommon($form);


                $.ajax({
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    url: $form.attr('action'),
                    data: formStringsData,
                    success: function (data) {
                        if (data.success == true) {
                            if (data.Data != null) {

                                $('#CardDetailId').val(data.Data.CardId);
                                $('#Id').val(data.Data.CardId);
                                $('#DisabledPersonId').val(data.Data.DisabledPersonId);
                                $('#GuardianId').val(data.Data.GuardianId);
                                $('#linksPanel').show();
                                $('#reportLink').attr("href", "/CardPrint/DisabledIndividualReport/" + data.Data.CardId);
                                $('#printLink').attr("href", "/CardPrint/DisableCardPrintView/" + data.Data.CardId);
                            }
                            new ToastMessage("Card Basic Detail Saved Successfully");
                        } else {
                            new ToastMessage(data.Message);
                        }
                    },
                    failure: function (response) {
                        new ToastMessage("Unable to save/update card basic detail");
                    }
                });
            },
                seralizeFormCommon = function (formDom) {

                    var data = new FormData();
                    formDom.find("input,select,textarea").each(function (inpIndex, inpElement) {
                        var propName = $(inpElement).attr("name");
                        if ($(inpElement).attr("type") === "file") {
                            if ($(inpElement)[0].files[0] !== undefined) {
                                if ($(inpElement).attr("multiple") !== undefined) {
                                    $.each($(inpElement)[0].files, function (key, value) {
                                        data.append(propName + "[" + key + "]", $(inpElement)[0].files[key]);
                                    })
                                } else {
                                    data.append(propName, $(inpElement)[0].files[0]);
                                }
                                console.log(propName, $(inpElement)[0].files);
                            }
                        }
                        else {
                            var inputValue = $(inpElement).val();
                            //console.log(propName, inputValue);
                            //if array
                            if (inputValue.constructor === Array) {
                                $.each(inputValue, function (index, value) {
                                    data.append(propName + "[" + index + "]", value)
                                })
                            } else {
                                data.append(propName, inputValue);
                            }
                            console.log(propName, inputValue);
                        }
                    });
                    console.log("Before Return");
                    console.log(data);
                    return data;
                }

            btnAdditionalSave.on('click', function () {
                saveAdditionalDetail();
            });
            saveAdditionalDetail = function () {
                event.preventDefault();
                if ($('#Id').val() == 0) {
                    new ToastMessage("Please Save Basic Detail First")
                    return;
                }
                var $form = $('.AdditionalSaveForm').eq(0);

                $form.data('validator', null);
                $.validator.unobtrusive.parse($form);
                $form.validate();
                if (!$form.valid()) {
                    return;
                }
                var formData = seralizeFormCommon($form);

                $.ajax({
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    url: $form.attr('action'),
                    data: formData,
                    success: function (data) {
                        if (data.success == true) {
                            new ToastMessage("Card Additional Detail Saved Successfully")

                        } else {
                            new ToastMessage(data.message)
                        }
                    },
                    failure: function (response) {
                        new ToastMessage("Unable save/update additional detail")
                    }
                });
            }
        });

</script>
}


