﻿@model DTO.DisabledPersonCard
@{
    ViewData["Title"] = "अपाङ्ग परिचयपत्र";
    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Card Print</title>

    

    <link href="~/css/app.css" rel="stylesheet" />
    <link href="~/css/pioneer-pagination.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/whirl.css" rel="stylesheet" />
    <link href="~/Custom/css/override.css?v=1.4" rel="stylesheet" />
    <link href="~/Custom/css/utils.css" rel="stylesheet" />
    <link href="~/css/nepali.datepicker.v3.2.min.css" rel="stylesheet" />
    <link href="~/lib/ToastMessage/ToastMessage.css" rel="stylesheet" />
</head>
<body onload="window.print()">
    @Html.Partial("~/Views/CardPrint/DisabledCardPrintPartial.cshtml", Model);

    <script src="~/Vendor/jquery.js"></script>
    <script src="~/Vendor/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="~/js/navigation.min.js"></script>
    @*<script src="~/Vendor/popper.js"></script>*@
    <script src="~/Vendor/bootstrap.js"></script>

    <script src="~/Vendor/app.js"></script>
    <script src="~/js/helpers.js"></script>

    <script src="~/js/toggler.js"></script>
    <script src="~/js/TotalAmountHelper.js"></script>


    <script src="~/lib/ToastMessage/ToastMessage.js"></script>
    <script src="~/js/nepali.datepicker.v3.2.min.js"></script>

    <script>

		$(function () {
			$('.has-tooltip').tooltip();

			@{
				if (TempData["message"] != null)
				{
					MunicipalityCardPrinting.Utils.Alert alert = Newtonsoft.Json.JsonConvert.DeserializeObject<MunicipalityCardPrinting.Utils.Alert>(TempData["message"].ToString());
					if (alert.message_type == DTO.Enums.ResponseTypes.success)
					{
						<text>
							$.notify("@alert.message", {
								status: 'success',
								timeout: '45000'
							});
						</text>
					}
					if (alert.message_type == DTO.Enums.ResponseTypes.error)
					{
						<text>
							$.notify("@alert.message", {
								status: 'danger',
								timeout: '45000'
							});
						</text>
					}
                    if (alert.message_type == DTO.Enums.ResponseTypes.notify)
					{
						<text>
							$.notify("@alert.message", {
								status: 'notify',
								timeout: '45000'
							});
						</text>
					}
				}
			}
		});
		$('.type-ahead').select2({ width: "100%", placeholder:"Select" });
    </script>
    <style>
        .full-width {
            width: 100%;
        }

        .uk-notify {
            z-index: 9816988504 !important;
        }

        .alert {
            color: white !important;
        }

        .alert-success {
            background-color: #388E3C !important;
        }

        .alert-danger {
            background-color: #F44336 !important;
        }
    </style>
</body>
</html>

