﻿@model DTO.Children.ChildernCard
@{
    ViewData["Title"] = "नाबालक परिचयपत्र";

}
<link href="~/css/bootstrap.css" rel="stylesheet" />
<link href="~/Vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />
<script src="~/Vendor/jquery.js"></script>
<div class="col-sm-12" style="padding:10px !important">
    <a href="/CardPrint/AddUpdateChildCardDetail/@Model.Id" class="btn btn-primary fa fa-edit">
        Edit Information
    </a>
    <a href='/CardPrint/IncreaseChildPrintCount?Id=@Model.Id&cardNumber=@Model.CardNumber' class="btn btn-primary fa fa-edit">
        Increase Print Count
    </a>
    <button class="btn btn-success fa fa-print pull-right" id="printCard">
        Print
    </button>
</div>
@Html.Partial("~/Views/CardPrint/GetChildPrintPartialView.cshtml", Model)

<script type="text/javascript">
    $(document).ready(function () {
        $('#printCard').click(function () {
            printDiv();
        });
    });

    function printDiv() {

        var divToPrint = document.getElementById('divToPrint');
        let dataId =@Model.Id;
        let dataCardNumber =@Model.CardNumber;

        $.ajax({
            type: 'Get',
            processData: false,
            contentType: false,
            url: "/CardPrint/GetChildPrintPartialView?Id=" + dataId ,
            success: function (data) {
                if (data.success == true) {
                    var newWin = window.open('', 'Print-Window');

                    newWin.document.open();
                    //var partialViewData = data.dataView;
                    //newWin.document.write(partialViewData);
                    newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');

                    newWin.document.close();

                    setTimeout(function () { newWin.close(); }, 1000);

                } else {
                    new ToastMessage("Something went wrong please contact administrator")
                }
            },
            failure: function (response) {
                new ToastMessage("Something went wrong please contact administrator")
            }
        });



    }

</script>



