﻿@model DTO.Children.ChildernCard
@{
    Layout = null;
}
<html>
<body>
    <div id="divToPrint">
        <style>
            /* P.pagebreakhere {
                page-break-before: always;
            }*/

            .BlueCard {
                background: lightblue;
                color: yellow;
            }

            .RedCard {
                background: #F94336;
                color: yellow;
            }

            .YellowCard {
                background: yellow;
                color: blue;
            }

            .WhiteCard {
                background: #FFFFFF;
                color: black;
            }

            .NationalLogo {
                padding-top: 10px;
            }

            .dynamicValue {
                /*font-weight: bolder;*/
            }

            .cardHeadingClass {
                text-align: center;
            }

            .cardDataText {
                font-size: smaller;
            }

            .OverflowCls {
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        </style>
        <div style="width:600px; height:370px;border:4px solid; border-color:black !important" class="@Model.CardTypeCSSClass">
            <table width="100%" style="margin-top:10px">
                <tr>
                    <td width="20%" rowspan="2">
                        <img src="~/img/NepaliNationalLogo.png" alt="logo" class="NationalLogo" style="width: 50px;height: 30px;position: absolute;margin-top: -35px;" />
                        @if (Model.PrintCountNepali > 0)
                        {
                            <span style="width: 70px;height: 30px;position: absolute;margin-top: 0px;">Copy- <strong>@Model.PrintCountNepali</strong></span>
                        }

                    </td>
                    <td width="55%" class="cardHeadingClass" style="border:0px; padding:0px">
                        @if (Model.CardTypeCSSClass != "RedCard")
                        {
                            <span style="color: blue;font-size: medium"><strong>Government Of Nepal</strong></span>
                        }
                        else
                        {
                            <span style="color: red;font-size: medium"><strong>Government Of Nepal</strong></span>
                        }
                    </td>
                    <td width="25%" style="border:0px">

                        <span class="dynamicValue"></span>
                    </td>

                </tr>

                @Html.HiddenFor(a => a.Id)
                <tr>
                    <td width="55%" class="cardHeadingClass cardDataText" style="border:0px; padding:0px">
                        @if (Model.CardTypeCSSClass != "RedCard")
                        {
                            <span style="color: blue;"><strong>Ministry Of Home Affairs</strong></span>
                        }
                        else
                        {
                            <span style=" color:red;"><strong>Ministry Of Home Affairs</strong></span>
                        }
                    </td>
                    <td width="25%" style="border:0px">
                    </td>
                </tr>
                <tr class="cardDataText">
                    <td width="25%" height="20%" class="cardDataText">
                        <span class="OverflowCls">ID CARD NUMBER: <span class="dynamicValue">@Model.CardNumber</span></span>
                    </td>
                    <td width="50%" class="cardHeadingClass" style="border:0px">
                        @if (Model.CardTypeCSSClass != "RedCard")
                        {
                            <span style=" color:blue;"><strong>District Administration Office</strong></span>
                        }
                        else
                        {
                            <span style=" color:red;"><strong>District Administration Office</strong></span>
                        }

                    </td>
                    <td width="25%" rowspan="3">
                        @if (string.IsNullOrEmpty(@Model.Photo))
                        {
                            <span class="text-center" style="width:80px;height:80px;position:absolute; margin-top: -45px;border:1px solid;">
                                Photo
                            </span>
                        }
                        else
                        {
                            <img src="~/images/@Model.Photo" alt="logo" style="width: 80px;height: 80px;position: absolute;margin-top: -45px;" />
                        }

                    </td>

                </tr>
                <tr>
                    <td width="25%" height="20%" style="border:0px" class="carddatatext">
                        <span>Name: <span class="dynamicvalue">@Model.NameEnglish</span></span>
                    </td>
                    <td width="50%" class="cardHeadingClass" style="border:0px">
                        @if (Model.CardTypeCSSClass == "RedCard")
                        {
                            <span style=" color:blue;"><strong>Rasuwa</strong></span>
                        }
                        else
                        {
                            <span style=" color:red;"><strong>Rasuwa</strong></span>
                        }

                    </td>
                </tr>
                <tr>
                    <td width="25%" class="cardDataText" style="border:0px">
                        Sex: <span class="dynamicValue">@Model.Gender</span>
                    </td>
                    <td width="50%" class="cardHeadingClass">
                        @if (Model.CardTypeCSSClass == "RedCard")
                        {
                            <span style="background:blue; color:white;"><strong>Child Identity Card</strong></span>
                        }
                        else
                        {
                            <span style="background:red; color:white;"><strong>Child Identity Card</strong></span>
                        }

                    </td>
                </tr>

                <tr>
                    <td colspan="2" class="cardDataText" style="border:0px">
                        Birth Address: <span class="dynamicValue">@Model.TemporaryProvinceId,@Model.TemporaryDistrictId</span>
                    </td>

                </tr>
                <tr>

                    <td colspan="3" class="cardDataText" style="border:0px">
                        <table width="100%" style="margin:0px !important; padding:0px">
                            <tr class="cardDataText">
                                <td width="75%">
                                    Permanent Address:<span class="dynamicValue">@Model.PermanentProvinceId,@Model.PermanentDistrictId</span>
                                </td>

                            </tr>
                        </table>
                    </td>


                </tr>
                <tr>
                    <td colspan="3" class="cardDataText" style="border:0px;">
                        <table width="100%" style="margin:0px !important; padding:0px">
                            <tr class="cardDataText">
                                <td width="40%">
                                    Father's Name:<span class="dynamicValue">@Model.FatherNameEnglish</span>
                                </td>

                                <td width="40%">
                                    Father's Address:<span class="dynamicValue">@Model.FatherAddressEnglish</span>
                                </td>



                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>

                    <td colspan="3" class="cardDataText " style="border:0px;">
                        <table width="100%" style="margin-top: auto; padding: 0px">
                            <tr class="cardDataText">
                                <td width="40%">
                                    Mother's Name:<span class="dynamicValue">@Model.MotherNameEnglish</span>
                                </td>

                                <td width="40%">
                                    Mother's Address:<span class="dynamicValue">@Model.MotherAddressEnglish</span>
                                </td>




                            </tr>
                        </table>

                    </td>


                </tr>


                <tr class="cardDataText">

                    <td colspan="3">
                        <table width="100%" style="margin-top:auto !important; padding:0px">
                            <tr class="cardDataText">

                                <td style="text-align:left;">
                                    <span>Father/Mother Citizenship Number:</span> <span class="dynamicValue">@Model.FatherMotherCitizenShip</span>
                                </td>




                            </tr>
                        </table>

                    </td>
                </tr>
                <tr class="cardDataText">
                    <td width="25%" rowspan="3">
                        <span class="text-center" style="width:80px;height:11%;position:absolute; margin-top: -20px;border:1px solid">
                            Right
                        </span>


                    </td>
                    <td width="25%" rowspan="3">
                        <span class="text-center" style="width:80px;height:11%;position:absolute; margin-top: -20px;border:1px solid;margin-left:-72px;">
                            Left
                        </span>
                    </td>

                    <td style="text-align:left;">
                        <u>Approved By:</u>
                    </td>

                </tr>
                <tr class="cardDataText">

                    <td colspan="3">
                        <table width="100%" style="margin:0px !important; padding:0px">
                            <tr>

                                <td style="text-align:right;">
                                    <span>Signature:................................</span>
                                </td>


                            </tr>
                        </table>

                    </td>
                </tr>

                <tr class="cardDataText">

                    <td colspan="3">
                        <table width="100%" style="margin:0px !important; padding:0px">
                            <tr>

                                <td style="text-align:left;">
                                    <span>Name:</span> <span class="dynamicValue">@Model.ApprovedBy</span>
                                </td>


                            </tr>
                        </table>

                    </td>
                </tr>
                <tr class="cardDataText">
                    <td colspan="3">
                        <table width="100%" style="margin:0px !important; padding:0px">
                            <tr>

                                <td style="text-align:right;">
                                    <span>Position:</span> <span style=" margin-right: 90px;" class="dynamicValue">@Model.ApprovedBy</span>
                                </td>

                            </tr>
                        </table>

                    </td>
                </tr>

                <tr class="cardDataText">

                    <td colspan="3">
                        <table width="100%" style="margin:0px !important; padding:0px">
                            <tr>

                                <td style="text-align:right;">
                                    <span>Date:</span> <span style=" margin-right: 80px;" class="dynamicValue">@Model.PrintDate</span>
                                </td>


                            </tr>
                        </table>

                    </td>
                </tr>

            </table>
        </div>
        <p class="pagebreakhere">

        </p>


        @*nepali*@

        <div style="width:600px; height:400px;border:4px solid; border-color:black !important" class="@Model.CardTypeCSSClass pull-right">
            <table width="100%" style="margin-top:10px">
                <tr>
                    <td width="20%" rowspan="2">
                        <img src="~/img/NepaliNationalLogo.png" alt="logo" class="NationalLogo" style="width: 50px;height: 30px;position: absolute;margin-top: -35px;" />
                        @if (Model.PrintCountNepali > 0)
                        {
                            <span style="width: 70px;height: 30px;position: absolute;margin-top: 0px;">प्रतिलिपि- <strong>@Model.PrintCountnpl</strong></span>
                        }

                    </td>
                    <td width="55%" class="cardHeadingClass" style="border:0px; padding:0px">
                        @if (Model.CardTypeCSSClass != "RedCard")
                        {
                            <span style="color: blue;font-size: medium"><strong>नेपाल सरकार</strong></span>
                        }
                        else
                        {
                            <span style="color: red;font-size: medium"><strong> नेपाल सरकार</strong></span>
                        }
                    </td>
                    <td width="25%" style="border:0px">

                        <span class="dynamicValue"></span>
                    </td>

                </tr>

                @Html.HiddenFor(a => a.Id)
                <tr>
                    <td width="55%" class="cardHeadingClass cardDataText" style="border:0px; padding:0px">
                        @if (Model.CardTypeCSSClass != "RedCard")
                        {
                            <span style="color: blue;"><strong>गृह मन्त्रालय</strong></span>
                        }
                        else
                        {
                            <span style=" color:red;"><strong>गृह मन्त्रालय</strong></span>
                        }
                    </td>
                    <td width="25%" style="border:0px">
                    </td>
                </tr>
                <tr class="cardDataText">
                    <td width="25%" height="20%" class="cardDataText">
                        <span class="OverflowCls">नाबालक परिचय-पत्र न: <span class="dynamicValue">@Model.CardNumberNepali</span></span>
                    </td>
                    <td width="50%" class="cardHeadingClass" style="border:0px">
                        @if (Model.CardTypeCSSClass != "RedCard")
                        {
                            <span style=" color:blue;"><strong>जिल्ला प्रसासन कार्यालय </strong></span>
                        }
                        else
                        {
                            <span style=" color:red;"><strong>जिल्ला प्रसासन कार्यालय</strong></span>
                        }

                    </td>
                    <td width="25%" rowspan="3">
                        @if (string.IsNullOrEmpty(@Model.Photo))
                        {
                            <span class="text-center" style="width:80px;height:80px;position:absolute; margin-top: -45px;border:1px solid; margin-right:-100px">
                                Photo
                            </span>
                        }
                        else
                        {
                            <img src="~/images/@Model.Photo" alt="logo" style="width: 80px;height: 80px;position: absolute;margin-top: -45px;" />
                        }

                    </td>

                </tr>
                <tr>
                    <td width="25%" class="carddatatext" style="border:0px">
                        नाम,थर: <span class="dynamicvalue">@Model.NameEnglish</span>
                    </td>
                    <td width="50%" class="cardHeadingClass" style="border:0px">
                        @if (Model.CardTypeCSSClass == "RedCard")
                        {
                            <span style=" color:blue;"><strong>रसुवा</strong></span>
                        }
                        else
                        {
                            <span style=" color:red;"><strong>रसुवा</strong></span>
                        }

                    </td>
                </tr>
                <tr>
                    <td width="25%" class="cardDataText" style="border:0px">
                        लिङ्ग: <span class="dynamicValue">@Model.GenderNepali</span>
                    </td>
                    <td width="50%" class="cardHeadingClass">
                        @if (Model.CardTypeCSSClass == "RedCard")
                        {
                            <span style="background:blue; color:white;"><strong>नाबालक परिचय-पत्र</strong></span>
                        }
                        else
                        {
                            <span style="background:red; color:white;"><strong>नाबालक परिचय-पत्र</strong></span>
                        }

                    </td>
                </tr>

                <tr>
                    <td colspan="2" class="cardDataText" style="border:0px">
                        जन्मस्थान : <span class="dynamicValue">@Model.TemporaryNepaliProvinceId,@Model.TemporaryNepaliDistrictId</span>
                    </td>

                </tr>
                <tr>

                    <td colspan="3" class="cardDataText" style="border:0px">
                        <table width="100%" style="margin:0px !important; padding:0px">
                            <tr class="cardDataText">
                                <td width="75%">
                                    स्थाई ठेगाना:<span class="dynamicValue">@Model.PermanentNepaliProvinceId,@Model.PermanentNepaliDistrictId</span>
                                </td>

                            </tr>
                        </table>
                    </td>


                </tr>
                <tr>
                    <td colspan="3" class="cardDataText" style="border:0px;">
                        <table width="100%" style="margin:0px !important; padding:0px">
                            <tr class="cardDataText">
                                <td width="40%">
                                    बुवाको नाम:<span class="dynamicValue">@Model.FatherNameNepali</span>
                                </td>

                                <td width="40%">
                                    बुवाको ठेगाना:<span class="dynamicValue">@Model.FatherAddressNepali</span>
                                </td>



                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>

                    <td colspan="3" class="cardDataText " style="border:0px;">
                        <table width="100%" style="margin-top: auto; padding: 0px">
                            <tr class="cardDataText">
                                <td width="40%">
                                    आमको नाम:<span class="dynamicValue">@Model.MotherNameNepali</span>
                                </td>

                                <td width="40%">
                                    आमको ठेगाना:<span class="dynamicValue">@Model.MotherAddressNepali</span>
                                </td>




                            </tr>
                        </table>

                    </td>


                </tr>


                <tr class="cardDataText">

                    <td colspan="3">
                        <table width="100%" style="margin-top:auto !important; padding:0px">
                            <tr class="cardDataText">

                                <td style="text-align:left;">
                                    <span>Father/Mother Citizenship Number:</span> <span class="dynamicValue">@Model.FatherMotherCitizenShipNepali</span>
                                </td>




                            </tr>
                        </table>

                    </td>
                </tr>
                <tr class="cardDataText">
                    <td width="25%" rowspan="3">
                        <span class="text-center" style="width:80px;height:11%;position:absolute; margin-top: -20px;border:1px solid">
                            दाँया
                        </span>


                    </td>
                    <td width="25%" rowspan="3">
                        <span class="text-center" style="width:80px;height:11%;position:absolute; margin-top: -20px;border:1px solid;margin-left:-78px;">
                            बाँया
                        </span>
                    </td>

                    <td style="text-align:left;">
                        <u>जारि गर्ने:</u>
                    </td>

                </tr>
                <tr class="cardDataText">

                    <td colspan="3">
                        <table width="100%" style="margin:0px !important; padding:0px">
                            <tr>

                                <td style="text-align:right;">
                                    <span>दस्तखत:................................</span>
                                </td>


                            </tr>
                        </table>

                    </td>
                </tr>

                <tr class="cardDataText">

                    <td colspan="3">
                        <table width="100%" style="margin:0px !important; padding:0px">
                            <tr>

                                <td style="text-align:left;">
                                    <span>नाम:</span> <span class="dynamicValue">@Model.ApprovedByNepali</span>
                                </td>


                            </tr>
                        </table>

                    </td>
                </tr>
                <tr class="cardDataText">
                    <td colspan="3">
                        <table width="100%" style="margin:0px !important; padding:0px">
                            <tr>

                                <td style="text-align:right;">
                                    <span>Position:</span> <span style=" margin-right: 90px;" class="dynamicValue">@Model.ApprovedBy</span>
                                </td>

                            </tr>
                        </table>

                    </td>
                </tr>

                <tr class="cardDataText">

                    <td colspan="3">
                        <table width="100%" style="margin:0px !important; padding:0px">
                            <tr>

                                <td style="text-align:right;">
                                    <span>मिती:</span> <span style=" margin-right: 80px;" class="dynamicValue">@Model.PrintDate</span>
                                </td>


                            </tr>
                        </table>

                    </td>
                </tr>

            </table>
        </div>








        @*<div style="width:600px; height:370px; border:4px solid; border-color:black !important" class="@Model.CardTypeCSSClass pull-right">
                <table width="100%" style="margin-top:10px">
                    <tr>
                        <td width="20%" rowspan="2">
                            <img src="~/img/NepaliNationalLogo.png" alt="logo" class="NationalLogo" style="width: 50px;height: 30px;position: absolute;margin-top: -35px;" />
                            @if (Model.PrintCountNepali > 0)
                            {
                                <span style="width: 70px;height: 30px;position: absolute;margin-top: 0px;">Copy- <strong>@Model.PrintCountNepali</strong></span>
                            }

                        </td>
                        <td width="55%" class="cardHeadingClass" style="border:0px; padding:0px">
                            @if (Model.CardTypeCSSClass == "RedCard")
                            {
                                <span style="color: blue;font-size: medium"><strong>भद्रपुर नगरपालिका</strong></span>
                            }
                            else
                            {
                                <span style="color: red;font-size: medium"><strong>भद्रपुर नगरपालिका </strong></span>
                            }


                        </td>
                        <td width="25%" style="border:0px">

                            <span class="dynamicValue"></span>
                        </td>

                    </tr>

                    @Html.HiddenFor(a => a.Id)
                    <tr>
                        <td width="55%" class="cardHeadingClass cardDataText" style="border:0px; padding:0px">
                            @if (Model.CardTypeCSSClass == "RedCard")
                            {
                                <span style="color: blue;"><strong>नगर कार्यपालिकाको कार्यालय</strong></span>
                            }
                            else
                            {
                                <span style=" color:red;"><strong>नगर कार्यपालिकाको कार्यालय</strong></span>
                            }
                        </td>
                        <td width="25%" style="border:0px">
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" height="20%" class="cardDataText">
                            <span class="OverflowCls">नाबालक परिचय-पत्र न: <span class="dynamicValue">@Model.CardNumberNepali</span></span>
                        </td>
                        <td width="50%" class="cardHeadingClass cardDataText" style="border:0px">
                            @if (Model.CardTypeCSSClass == "RedCard")
                            {
                                <span style=" color:blue;"><strong>भद्रपुर, झापा</strong></span>
                            }
                            else
                            {
                                <span style=" color:red;"><strong>भद्रपुर, झापा</strong></span>
                            }

                        </td>
                        <td width="25%" rowspan="3">
                            @if (string.IsNullOrEmpty(@Model.Photo))
                            {
                                <span class="text-center" style="width:78px;height:80px;position:absolute; margin-top: -45px;border:1px solid;margin-left:-10px">
                                    Photo
                                </span>
                            }
                            else
                            {
                                <img src="~/images/@Model.Photo" alt="logo" style="width: 78px;height: 80px;position: absolute;margin-top: -45px;margin-left:-10px" />
                            }

                        </td>

                    </tr>
                    <tr class="cardDataText">
                        <td width="25%" height="20%" style="border:0px" class="carddatatext">
                            <span>
                                नाम,थर: <span class="dynamicvalue">@Model.NameNepali</span>
                            </span>
                        </td>
                        <td width="50%" class="cardHeadingClass" style="border:0px">
                            @if (Model.CardTypeCSSClass == "RedCard")
                            {
                                <span style=" color:blue;"><strong>१ नं. प्रदेश नेपाल</strong></span>
                            }
                            else
                            {
                                <span style=" color:red;"><strong>१ नं. प्रदेश नेपाल</strong></span>
                            }

                        </td>
                    </tr>
                    <tr>
                        <td width="25%" class="cardDataText" style="border:0px">
                            लिङ्ग: <span class="dynamicValue">@Model.GenderNepali</span>
                        </td>
                        <td width="50%" class="cardHeadingClass">
                            @if (Model.CardTypeCSSClass == "RedCard")
                            {
                                <span style="background:blue; color:white;"><strong>नाबालक परिचय-पत्र </strong></span>
                            }
                            else
                            {
                                <span style="background:red; color:white;"><strong>नाबालक परिचय-पत्र </strong></span>
                            }

                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" class="cardDataText" style="border:0px">
                            जन्मस्थान: <span class="dynamicValue">@Model.TemporaryNepaliProvinceId,@Model.TemporaryNepaliDistrictId</span>
                        </td>

                    </tr>
                    <tr>

                        <td colspan="3" class="cardDataText" style="border:0px">
                            <table width="100%" style="margin:0px !important; padding:0px">
                                <tr class="cardDataText">
                                    <td width="75%">
                                       जन्मस्थान स्थाई ठेगाना: <span class="dynamicValue">@Model.PermanentNepaliProvinceId,@Model.PermanentNepaliDistrictId</span>
                                    </td>

                                </tr>
                            </table>
                        </td>


                    </tr>
                    <tr>
                        <td colspan="3" class="cardDataText" style="border:0px;">
                            <table width="100%" style="margin:0px !important; padding:0px">
                                <tr class="cardDataText">
                                    <td width="40%">
                                        बुवाको नाम:<span class="dynamicValue">@Model.FatherNameNepali</span>
                                    </td>

                                    <td width="40%">
                                        बुवाको ठेगाना:<span class="dynamicValue">@Model.FatherAddressNepali</span>
                                    </td>



                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>

                        <td colspan="3" class="cardDataText " style="border:0px;">
                            <table width="100%" style="margin-top: auto; padding: 0px">
                                <tr class="cardDataText">
                                    <td width="40%">

                                        आमको नाम:<span class="dynamicValue">@Model.MotherNameNepali</span>
                                    </td>

                                    <td width="40%">

                                        आमको ठेगाना :<span class="dynamicValue">@Model.MotherAddressNepali</span>
                                    </td>


                                </tr>
                            </table>

                        </td>
                    </tr>


                    <tr class="cardDataText">

                        <td colspan="3">
                            <table width="100%" style="margin-top:auto !important; padding:0px">
                                <tr class="cardDataText">

                                    <td style="text-align:left;">
                                        <span>Father/Mother Citizenship Number:</span> <span class="dynamicValue">@Model.FatherMotherCitizenShipNepali</span>
                                    </td>




                                </tr>
                            </table>

                        </td>
                    </tr>


                    <tr class="cardDataText">

                        <td colspan="3">
                            <table width="100%" style="margin-top:10px !important; padding:0px">
                                <tr class="cardDataText">
                                    <td width="25%" rowspan="3">
                                        <span class="text-center" style="width:80px;height:11%;position:absolute; margin-top: -20px;border:1px solid">
                                            दाँया
                                        </span>


                                    </td>
                                    <td width="25%" rowspan="3">
                                        <span class="text-center" style="width:80px;height:11%;position:absolute; margin-top: -20px;border:1px solid;margin-left:-42px;">
                                            बाँया दाँया
                                        </span>
                                    </td>

                                    <td style="text-align:left;">
                                        <u>जारि गर्ने बाँया दाँया:</u>
                                    </td>


                                </tr>
                            </table>

                        </td>
                    </tr>
                    <tr class="cardDataText">

                        <td colspan="3">
                            <table width="100%" style="margin:0px !important; padding:0px">
                                <tr>

                                    <td style="text-align:right;">
                                        <span>दस्तखतजारि गर्ने बाँया दाँया:</span> <span class="dynamicValue">.....................</span>
                                    </td>


                                </tr>
                            </table>

                        </td>
                    </tr>

                    <tr class="cardDataText">

                        <td colspan="3">
                            <table width="100%" style="margin:0px !important; padding:0px">
                                <tr>

                                    <td style="text-align:right;">
                                        <span>नाम:</span> <span class="dynamicValue">@Model.ApprovedByNepali</span>
                                    </td>


                                </tr>
                            </table>

                        </td>
                    </tr>
                    <tr class="cardDataText">
                        <td colspan="3">
                            <table width="100%" style="margin:0px !important; padding:0px">
                                <tr>

                                    <td style="text-align:right;">
                                        <span>Position:</span> <span style=" margin-right: 90px;" class="dynamicValue">@Model.ApprovedBy</span>
                                    </td>

                                </tr>
                            </table>

                        </td>
                    </tr>


                    <tr class="cardDataText">
                        <td colspan="3">
                            <table width="100%" style="margin:0px !important; padding:0px">
                                <tr class="cardDataText">
                                    <td style="text-align:right;">
                                        <span>मिती दस्तखतजारि गर्ने बाँया दाँया:</span> <span class="dynamicValue">@Model.PrintDate</span>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>

                </table>
            </div>*@

    </div>
</body>
</html>