﻿@model DTO.DisabledIndividualReport
<link href="~/Custom/css/IndividualReport.css" rel="stylesheet" />
<link href="~/css/bootstrap.css" rel="stylesheet" />
<link href="~/Vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />
<script src="~/Vendor/jquery.js"></script>
<div class="col-sm-12" style="padding:10px !important">
    <a href="/CardPrint/AddUpdateView/@Model.Id" class="btn btn-primary fa fa-edit">
        Edit Information
    </a>
    <button class="btn btn-success fa fa-print pull-right" id="printCard">
        Print
    </button>
</div>
<div id="divToPrint">
    <table width="100%">
        <tr style="text-align:center">
            <td>
                <span style=" color:red;"><strong>भद्रपुर नगरपालिका</strong></span>
                <br />
                <span style=" color:red;"><strong>नगर कार्यपालिका कार्यालय</strong></span>
                <br />
                <span style=" color:red;">भद्रपुर, झापा</span>
                <br />
                <span style=" color:red;">१ नं प्रदेश नेपाल</span>
            </td>
        </tr>
    </table>
    <table border="1" width="100%">
        <tr>
            <td class="titleValue">
                अपांगता परिचय पत्र नं: <span class="reportDynamicValue">@Model.CardNumberNepali</span>
            </td>

            <td class="titleValue">
                परिचयपत्रको प्रकार: <span class="reportDynamicValue">@Model.CardTypeNepali</span>
            </td>

        </tr>
    </table>
    <table border="1" width="100%">
        <tr>
            <td class="titleValue" colspan="3">
                नाम थर: <span class="reportDynamicValue">@Model.NameNepali</span>
            </td>

        </tr>
        <tr>
            <td class="titleValue" colspan="3">
                ठेगाना (स्थाई) : <span class="reportDynamicValue"> @Model.AddressNepali</span>
            </td>

        </tr>
        <tr>
            <td class="titleValue" colspan="3">
                ठेगाना (अस्थाई) :<span class="reportDynamicValue">@Model.PermanentAddress</span>
            </td>

        </tr>
        <tr>
            <td class="titleValue">
                जन्म मिति: <span class="reportDynamicValue">@Model.DateNepali</span>
            </td>

            <td class="titleValue" colspan="2">
                नागरिकता नम्बर: <span class="reportDynamicValue">@Model.CitizenshipNumberNepali</span>
            </td>

        </tr>
        <tr>
            <td class="titleValue">
                लिङ्ग: <span class="reportDynamicValue">@Model.GenderNepali</span>
            </td>

            <td class="titleValue">
                रक्त समूह: <span class="reportDynamicValue">@Model.BloodGroupNepali</span>
            </td>

            <td class="titleValue">
                वैवाहिक अवस्था: <span class="reportDynamicValue">@Model.MarritalStatusNepali</span>
            </td>

        </tr>
        <tr>
            <td class="titleValue" colspan="3">
                बावुआमा वा संरक्षकको नाम थर: <span class="reportDynamicValue">@Model.GuardianNameNepali</span>
            </td>

        </tr>
        <tr>
            <td class="titleValue" colspan="3">
                ठेगाना: <span class="reportDynamicValue">@Model.GuardianAddressNepali</span>
            </td>

        </tr>
        <tr>
            <td class="titleValue" colspan="3">
                अपाङ्ग भएको व्यक्तिसंगको नाता: <span class="reportDynamicValue">@Model.RelationWithCitizen</span>
            </td>

        </tr>
        <tr>
            <td class="titleValue" colspan="3">
                पछिल्लो शैक्षिक् योग्यता: <span class="reportDynamicValue">@Model.Qualification</span>
            </td>

        </tr>
        <tr>
            <td class="titleValue" colspan="3">
                अध्ययन नगरेको/पढाइ सकेको: <span class="reportDynamicValue">@Model.StudyingOrFinished</span>
            </td>

        </tr>

        <tr>
            <td class="titleValue" colspan="3">
                अध्यययनरत स्कुल वा कलेज: <span class="reportDynamicValue">@Model.CurrentSchoolCollegeName</span>
            </td>

        </tr>
        <tr>
            <td class="titleValue" colspan="3">
                पेशा: <span class="reportDynamicValue">@Model.Occupation</span>
            </td>

        </tr>
        <tr>
            <td class="titleValue" colspan="3">
                अपाङ्गताको किसिम:
            </td>
        </tr>
        <tr>
            <td class="titleValue" colspan="3">
                &nbsp; &nbsp; अपाङ्गताको प्रकृतिको आधारमा <span class="reportDynamicValue">@Model.OnTheBasisOfNatureNepali</span>
            </td>

        </tr>
        <tr>
            <td class="titleValue" colspan="3">
                &nbsp; &nbsp; अपाङ्गताको गम्भीरताको आधारमा: <span class="reportDynamicValue">@Model.OnTheBasisOfSeriousnessNepali</span>
            </td>

        </tr>
    </table>

    <table border="1" width="100%">
        <tr>
            <td class="titleValue" colspan="2">
                कस्ता दैनिक क्रियाकलापहरु गर्न सकिन्छ ?
            </td>
        </tr>
        <tr>
            <td class="reportDynamicValue" colspan="2">
                @Model.WhatKindOfWorkcanDoInDailyLife
            </td>
        </tr>
        <tr>
            <td class="titleValue">
                कस्ता दैनिक क्रियाकलापहरु गर्न सकिदैन ?
            </td>
        </tr>
        <tr>
            <td class="reportDynamicValue">
                @Model.WhatKindOfWorkcanDoInDailyLife
            </td>
        </tr>
        <tr>
            <td class="titleValue">
                सहायक सामग्री आवश्यक: <span class="reportDynamicValue">@Model.IsNeededAnyEquipement</span>
            </td>

        </tr>
        <tr>
            <td class="titleValue">
                आवश्यक पर्ने भए के ?: <span class="reportDynamicValue">@Model.AdditionalEquipements</span>
            </td>
        </tr>
        <tr>
            <td class="titleValue">
                हाल सामग्री : <span class="reportDynamicValue">@Model.HasAnyAdditionalEquipement</span>
            </td>

        </tr>
        <tr>
            <td class="titleValue">
                परिचय पत्र वाहकले प्राप्त गरेका अन्य सेवा सुविधा:
            </td>
        </tr>
        <tr>
            <td class="reportDynamicValue">
                @Model.OtherFacilities
            </td>
        </tr>
        <tr>
            <td class="titleValue" colspan="2">
                परिचयपत्र बाहकलाइ आवश्यक परेका अन्य सेवा सुबिधा:
            </td>
        </tr>
        <tr>
            <td class="reportDynamicValue">
                @Model.OtherFacilitiesNeeded
            </td>
        </tr>
        <tr>
            <td class="titleValue">
                सेवा सुबिधा प्रदान गर्ने निकाय: <span class="reportDynamicValue">@Model.OfficeToProvideFacility</span>
            </td>

        </tr>
        <tr>
            <td class="titleValue">
                अन्य: <span class="reportDynamicValue">@Model.Remarks</span>
            </td>

        </tr>
    </table>

    <table border="1" width="100%">
        <tr>
            <td class="titleValue" width="50%">
                परिचय पत्र बुझ्नेको:
                <br />
                नाम:<span class="reportDynamicValue">@Model.GuardianNameNepali</span>
                <br />
                दस्तखत:
            </td>
            <td class="titleValue" width="50%">
                प्रमाणित गर्ने अधिकारीको
                <br />
                दस्तखत:
                <br />
                नाम,थर: <span class="reportDynamicValue">@Model.ApproverNameNepali</span>
                <br />
                पद: <span class="reportDynamicValue">@Model.DesignationNepali</span>
                <br />
                कार्यालय: <span class="reportDynamicValue">भद्रपुर नगरपालिका कार्यालय</span>
                <br />
                मिति: <span class="reportDynamicValue"></span>
            </td>
        </tr>
    </table>
</div>

<script>
    $(document).ready(function () {
        replaceEmptyValuesWithNA();
        $('#printCard').click(function () {
            printDiv();
        });
    });
    replaceEmptyValuesWithNA = function () {
        $('span.reportDynamicValue').each(function () {

            var originalValue = $(this).text();
            if (originalValue == undefined || originalValue.trim() == "") {
                $(this).text("डाटा उपलब्ध छैन");
            }
        });

        $('td.reportDynamicValue').each(function () {

            var originalValue = $(this).text();
            if (originalValue == undefined || originalValue.trim() == "") {
                $(this).text("डाटा उपलब्ध छैन");
            }
        });
    };
    function printDiv() {

        var divToPrint = document.getElementById('divToPrint');
        var newWin = window.open('', 'Print-Window');

        newWin.document.open();

        newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');

        newWin.document.close();

        setTimeout(function () { newWin.close(); }, 10);



    }
</script>