﻿@model List<DTO.DisabledCardViewModel>

<table class="table table-bordered">
    <tr>
        
        <th>
            कार्डको प्रकार
        </th>
        <th>
            अपाङ्ग व्यक्तिको नाम
        </th>
        <th>
            अपाङ्गताको प्रकार (प्रकृतिको आधारमा)
        </th>
        <th>
            अपाङ्गताको प्रकार (गम्भीरताको आधारमा)
        </th>
        <th>
            क्रिया
        </th>
    </tr>
    @if (Model != null)
    {
        foreach (var data in Model)
        {
            <tr>
                
                <td>
                    @data.CardType
                </td>
                <td>
                    @data.CardHolder
                </td>
                <td>
                    @data.DisablityTypeByNature
                </td>
                <td>
                    @data.DisablityTypeBySeriousness
                </td>
                <td>
                    <a href="/CardPrint/AddUpdateView/@data.CardId" class="fa fa-edit">
                    </a>
                    <a href="/CardPrint/DeleteDisabledCard/@data.CardId" class="fa fa-trash">
                    </a>
                    <a href="/CardPrint/DisableCardPrintView/@data.CardId" class="fa fa-print">
                    </a>
                    <a href="/CardPrint/DisabledIndividualReport/@data.CardId" class="fa fa-eye" title="बेहोरा">
                    </a>
                </td>
            </tr>
        }

    }
</table>
