﻿@model DTO.DisabledPersonCard
<div id="divToPrint">
    <style>
        P.pagebreakhere {
            page-break-before: always;
        }

        .BlueCard {
            background: lightblue;
            color:yellow;
        }

        .RedCard {
            background: #F94336;
            color: yellow;
        }

        .YellowCard {
            background: yellow;
            color: blue;
        }

        .WhiteCard {
            background: #FFFFFF;
            color: black;
        }

        .NationalLogo {
            padding-top: 10px;
        }

        .dynamicValue {
            font-weight: bolder;
        }

        .cardHeadingClass {
            text-align: center;
        }

        .cardDataText {
            font-size: smaller;
        }

        .OverflowCls {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
    <div style="width:500px; height:295px;border:4px solid; border-color:black !important" class="@Model.CardTypeCSSClass">
        <table width="100%" style="margin-top:10px">
            <tr>
                <td width="20%" rowspan="2">
                    <img src="~/img/NepaliNationalLogo.png" alt="logo" class="NationalLogo" style="width: 50px;height: 30px;position: absolute;margin-top: -35px;" />
                    @if (Model.PrintCount > 0)
                    {
                        <span style="width: 70px;height: 30px;position: absolute;margin-top: 0px;">Copy- <strong>@Model.PrintCount</strong></span>
                    }

                </td>
                <td width="55%" class="cardHeadingClass" style="border:0px; padding:0px">
                    @if (Model.CardTypeCSSClass == "RedCard")
                    {
                        <span style="color: blue;font-size: medium"><strong>HARIPUR Municipality</strong></span>
                    }
                    else
                    {
                        <span style="color: red;font-size: medium"><strong>HARIPUR Municipality</strong></span>
                    }
                </td>
                <td width="25%" style="border:0px">

                    <span class="dynamicValue">Annex-2</span>
                </td>

            </tr>
            <tr>
                <td width="55%" class="cardHeadingClass" style="border:0px; padding:0px">
                    @if (Model.CardTypeCSSClass == "RedCard")
                    {
                        <span style="color: blue;"><strong>Office of Municipality Executive</strong></span>
                    }
                    else
                    {
                        <span style=" color:red;"><strong>Office of Municipality Executive</strong></span>
                    }
                </td>
                <td width="25%" style="border:0px">
                </td>
            </tr>
            <tr>
                <td width="25%" height="20%" class="cardDataText">
                    <span class="OverflowCls">ID CARD NUMBER: <span class="dynamicValue">@Model.CardNumber</span></span>
                </td>
                <td width="50%" class="cardHeadingClass" style="border:0px">
                    @if (Model.CardTypeCSSClass == "RedCard")
                    {
                        <span style=" color:blue;"><strong>Haripur , Sarlahi</strong></span>
                    }
                    else
                    {
                        <span style=" color:red;"><strong>Haripur , Sarlahi</strong></span>
                    }

                </td>
                <td width="25%" rowspan="3">
                    @if (string.IsNullOrEmpty(@Model.Photo))
                    {
                        <span class="text-center" style="width:80px;height:80px;position:absolute; margin-top: -45px;border:1px solid">
                            Photo
                        </span>
                    }
                    else
                    {
                        <img src="~/images/@Model.Photo" alt="logo" style="width: 80px;height: 80px;position: absolute;margin-top: -45px;
" />
                    }

                </td>

            </tr>
            <tr>
                <td width="25%" height="20%" style="border:0px" class="cardDataText">
                    <span>ID CARD Type: <span class="dynamicValue">@Model.CardType</span></span>
                </td>
                <td width="50%" class="cardHeadingClass" style="border:0px">
                    @if (Model.CardTypeCSSClass == "RedCard")
                    {
                        <span style=" color:blue;"><strong>2 No. Province Nepal</strong></span>
                    }
                    else
                    {
                        <span style=" color:red;"><strong>2 No. Province Nepal</strong></span>
                    }

                </td>
            </tr>
            <tr>
                <td width="25%" class="cardDataText" style="border:0px">
                    Full Name: <span class="dynamicValue">@Model.Name</span>
                </td>
                <td width="50%" class="cardHeadingClass">
                    @if (Model.CardTypeCSSClass == "RedCard")
                    {
                        <span style="background:blue; color:white;"><strong>Disability Identity Card</strong></span>
                    }
                    else
                    {
                        <span style="background:red; color:white;"><strong>Disability Identity Card</strong></span>
                    }

                </td>
            </tr>
            <tr>
                <td colspan="3" width="75%" class="cardDataText" style="border:0px">
                    Address: <span class="dynamicValue">@Model.Address</span>
                </td>
            </tr>
            <tr>
                <td width="20%" class="cardDataText" style="border:0px">
                    DOB: <span class="dynamicValue">@Model.Date</span>
                </td>
                <td colspan="2" class="cardDataText" style="border:0px">
                    Citizenship No.: <span class="dynamicValue">@Model.CitizenshipNumber</span>
                </td>
            </tr>
            <tr>
                <td width="20%" class="cardDataText" style="border:0px">
                    Sex <span class="dynamicValue">@Model.Gender</span>
                </td>
                <td width="65%" class="cardDataText" colspan="2" style="border:0px">
                    Blood Group: <span class="dynamicValue">@Model.BloodGroup</span>
                </td>
            </tr>
            <tr>
                <td width="20%" class="cardDataText" rowspan="2" style="border:0px">
                    Type of disability On the basis of
                </td>
                <td colspan="2" class="cardDataText" style="border:0px">
                    <table width="100%" style="margin:0px !important; padding:0px">
                        <tr>
                            <td width="43%">
                                Nature:<span class="dynamicValue">@Model.OnTheBasisOfNature</span>
                            </td>
                            <td style="text-align:center;">
                                <u>Approved By:</u>
                            </td>
                        </tr>
                    </table>
                </td>


            </tr>
            <tr>
                <td colspan="2" class="cardDataText" style="border:0px;">
                    <table width="100%" style="margin:0px !important; padding:0px">
                        <tr>
                            <td width="48%">
                                Severity:<span class="dynamicValue">@Model.OnTheBasisOfSeriousness</span>
                            </td>

                            <td style="text-align:center;">
                                <span>Name:</span> <span class="dynamicValue">@Model.ApproverName</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>

                <td colspan="3" class="cardDataText">
                    <table width="100%" style="margin:0px !important; padding:0px">
                        <tr>
                            <td width="63%">
                                Father's Name/Mother's Name/Guardian Name:
                            </td>
                            <td style="text-align:center;">
                                <span>Signature:</span> <span class="dynamicValue">...........................</span>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
            <tr class="cardDataText">

                <td colspan="3">
                    <table width="100%" style="margin:0px !important; padding:0px">
                        <tr>
                            <td width="63%" class="dynamicValue">
                                @Model.GuardianName
                            </td>
                            <td style="text-align:center;">
                                <span>Designation:</span> <span class="dynamicValue">@Model.Designation</span>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
            <tr class="cardDataText">

                <td colspan="3">
                    <table width="100%" style="margin:0px !important; padding:0px">
                        <tr>
                            <td width="63%">
                                Signature Of Id Card holder: <span class="dynamicValue">....................................</span>
                            </td>
                            <td style="text-align:center;">
                                <span>Date:</span> <span class="dynamicValue">@Model.PrintDate</span>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>

        </table>
    </div>
    <p class="pagebreakhere">

    </p>
    <div style="width:500px; height:295px; border:4px solid; border-color:black !important" class="@Model.CardTypeCSSClass pull-right">
        <table width="100%" style="margin-top:10px">
            <tr>
                <td width="20%" rowspan="2">
                    <img src="~/img/NepaliNationalLogo.png" alt="logo" class="NationalLogo" style="width: 50px;height: 30px;position: absolute;margin-top: -35px;" />
                    @if (Model.PrintCount > 0)
                    {
                        <span style="width: 70px;height: 30px;position: absolute;margin-top: 0px;">प्रतिलिपि- <strong>@Model.PrintCountNepali</strong></span>
                    }
                </td>
                <td width="55%" class="cardHeadingClass" style="border:0px; padding:0px">
                    @if (Model.CardTypeCSSClass == "RedCard")
                    {
                        <span style="color: blue;font-size: medium"><strong>हरिपुर नगरपालिका</strong></span>
                    }
                    else
                    {
                        <span style="color: red;font-size: medium"><strong>हरिपुर नगरपालिका</strong></span>
                    }
                </td>
                <td width="25%" style="border:0px">

                    <span class="dynamicValue">अनुसूची-२</span>
                </td>

            </tr>
            <tr>
                <td width="55%" class="cardHeadingClass" style="border:0px; padding:0px">
                    @if (Model.CardTypeCSSClass == "RedCard")
                    {
                        <span style="color: blue;"><strong>नगर कार्यपालिकाको कार्यालय</strong></span>
                    }
                    else
                    {
                        <span style=" color:red;"><strong>नगर कार्यपालिकाको कार्यालय</strong></span>
                    }
                </td>
                <td width="25%" style="border:0px">
                </td>
            </tr>
            <tr>
                <td width="25%" height="20%" class="cardDataText">
                    <span class="OverflowCls">प.प.नं.: <span class="dynamicValue">@Model.CardNumberNepali</span></span>
                </td>
                <td width="50%" class="cardHeadingClass" style="border:0px">
                    @if (Model.CardTypeCSSClass == "RedCard")
                    {
                        <span style=" color:blue;"><strong>हरिपुर, सर्लाही</strong></span>
                    }
                    else
                    {
                        <span style=" color:red;"><strong>हरिपुर, सर्लाही</strong></span>
                    }

                </td>
                <td width="25%" rowspan="3">
                    @if (string.IsNullOrEmpty(@Model.Photo))
                    {
                        <span class="text-center" style="width: 80px;height: 80px;position: absolute;margin-top: -45px; border:1px solid;">
                            फोटो
                        </span>
                    }
                    else
                    {
                        <img src="~/images/@Model.Photo" alt="logo" style="width: 80px;height: 80px;position: absolute;margin-top: -45px;" />
                    }

                </td>

            </tr>
            <tr>
                <td width="25%" height="20%" style="border:0px" class="cardDataText">
                    <span>परिचय पत्रको प्रकार: <span class="dynamicValue">@Model.CardType</span></span>
                </td>
                <td width="50%" class="cardHeadingClass" style="border:0px">
                    @if (Model.CardTypeCSSClass == "RedCard")
                    {
                        <span style=" color:blue;"><strong>२ नं. प्रदेश नेपाल</strong></span>
                    }
                    else
                    {
                        <span style=" color:red;"><strong>२ नं. प्रदेश नेपाल</strong></span>
                    }

                </td>
            </tr>
            <tr>
                <td width="25%" class="cardDataText" style="border:0px">
                    नाम, थर: <span class="dynamicValue">@Model.NameNepali</span>
                </td>
                <td width="50%" class="cardHeadingClass">
                    @if (Model.CardTypeCSSClass == "RedCard")
                    {
                        <span style="background:blue; color:white;"><strong>अपाङ्गता परिचय पत्र</strong></span>
                    }
                    else
                    {
                        <span style="background:red; color:white;"><strong>अपाङ्गता परिचय पत्र</strong></span>
                    }

                </td>
            </tr>
            <tr>
                <td colspan="3" width="75%" class="cardDataText" style="border:0px">
                    ठेगाना: <span class="dynamicValue">@Model.AddressNepali</span>
                </td>
            </tr>
            <tr>
                <td width="20%" class="cardDataText" style="border:0px">
                    जन्म मिति: <span class="dynamicValue">@Model.DateNepali</span>
                </td>
                <td colspan="2" class="cardDataText" style="border:0px">
                    नागरिकता नं.: <span class="dynamicValue">@Model.CitizenshipNumberNepali</span>
                </td>
            </tr>
            <tr>
                <td width="20%" class="cardDataText" style="border:0px">
                    लिङ्ग <span class="dynamicValue">@Model.GenderNepali</span>
                </td>
                <td width="65%" class="cardDataText" colspan="2" style="border:0px">
                    रक्त समूह: <span class="dynamicValue">@Model.BloodGroupNepali</span>
                </td>
            </tr>
            <tr>
                <td width="20%" class="cardDataText" rowspan="2" style="border:0px">
                    अपाङ्गको किसिम
                </td>
                <td colspan="2" class="cardDataText" style="border:0px">
                    <table width="100%" style="margin:0px !important; padding:0px">
                        <tr>
                            <td width="43%">
                                प्रकृति:<span class="dynamicValue">@Model.OnTheBasisOfNatureNepali</span>
                            </td>
                            <td style="text-align:center;">
                                <u>प्रमाणित गर्ने:</u>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="cardDataText" style="border:0px;">
                    <table width="100%" style="margin:0px !important; padding:0px">
                        <tr>
                            <td width="43%">
                                गम्भीरता:<span class="dynamicValue">@Model.OnTheBasisOfSeriousnessNepali</span>
                            </td>
                            <td style="text-align:center;">
                                <span>नाम:</span> <span class="dynamicValue">@Model.ApproverNameNepali</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>

                <td colspan="3" class="cardDataText">
                    <table width="100%" style="margin:0px !important; padding:0px">
                        <tr>
                            <td width="63%">
                                बाबु /आमा वा संरक्षकको नाम:
                            </td>
                            <td style="text-align:center;">
                                <span>हस्ताक्षर:</span> <span class="dynamicValue">...........................</span>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
            <tr class="cardDataText">

                <td colspan="3">
                    <table width="100%" style="margin:0px !important; padding:0px">
                        <tr>
                            <td width="63%" class="dynamicValue">
                                @Model.GuardianNameNepali
                            </td>
                            <td style="text-align:center;">
                                <span>पद:</span> <span class="dynamicValue">@Model.DesignationNepali</span>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
            <tr class="cardDataText">

                <td colspan="3">
                    <table width="100%" style="margin:0px !important; padding:0px">
                        <tr>
                            <td width="63%">
                                परिचय पत्र वाहकको दस्तखत: <span class="dynamicValue">....................................</span>
                            </td>
                            <td style="text-align:center;">
                                <span>मिति:</span> <span class="dynamicValue">@Model.PrintDateNepali</span>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>

        </table>
    </div>
</div>