﻿@model DTO.DisabledProgressReportWrapper
@{
    var count = 1;
}
<link href="~/css/bootstrap.css" rel="stylesheet" />
<link href="~/Vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />
<script src="~/Vendor/jquery.js"></script>
<div class="col-sm-12" style="padding:10px !important">
    
    <button class="btn btn-success fa fa-print pull-right" id="printCard">
        Print
    </button>
</div>
<div id="divToPrint">
    <style>
        .titleValue {
            font-weight: bolder;
        }

        .reportDynamicValue {
            color: #23b7e5 !important;
        }
    </style>
    <table width="100%">
        <tr style="text-align:center">
            <td class="titleValue" colspan="2">
                अपाङ्गता परिचयपत्र वितरणको प्रगति विवरण:
            </td>
        </tr>
        <tr>
            <td width="50%">
                @*जिल्ला: @Model.DistrictNepali, स्थानीय तह: @Model.Municipality*@
                जिल्ला: सर्लाही, स्थानीय तह: हरिपुर नगरपालिका
            </td>
            <td width="50%" style="text-align:right">
                मिति: @Model.DateNepali
            </td>
        </tr>
    </table>

    <table width="100%" border="1" class="MainReportBody">
        <tr>
            <td class="titleValue" rowspan="2">
                क्र.स.
            </td>
            <td class="titleValue" rowspan="2">
                अपाङ्गताको प्रकार
            </td>
            <td class="titleValue" colspan="4">
                क वर्ग संख्या
            </td>

            <td class="titleValue" colspan="4">
                ख वर्ग संख्या
            </td>
            <td class="titleValue" colspan="4">
                ग वर्ग संख्या
            </td>
            <td class="titleValue" colspan="4">
                घ वर्ग संख्या
            </td>

            <td class="titleValue" colspan="4">
                कुल जम्मा संख्या
            </td>
        </tr>
        <tr>
            <td class="titleValue">
                महिला
            </td>
            <td class="titleValue">
                पुरूष
            </td>
            <td class="titleValue">
                अन्य
            </td>
            <td class="titleValue">
                जम्मा
            </td>
            <td class="titleValue">
                महिला
            </td>
            <td class="titleValue">
                पुरूष
            </td>
            <td class="titleValue">
                अन्य
            </td>
            <td class="titleValue">
                जम्मा
            </td>
            <td class="titleValue">
                महिला
            </td>
            <td class="titleValue">
                पुरूष
            </td>
            <td class="titleValue">
                अन्य
            </td>
            <td class="titleValue">
                जम्मा
            </td>
            <td class="titleValue">
                महिला
            </td>
            <td class="titleValue">
                पुरूष
            </td>
            <td class="titleValue">
                अन्य
            </td>
            <td class="titleValue">
                जम्मा
            </td>
            <td class="titleValue">
                महिला
            </td>
            <td class="titleValue">
                पुरूष
            </td>
            <td class="titleValue">
                अन्य
            </td>
            <td class="titleValue">
                जम्मा
            </td>
        </tr>
        @foreach (var data in Model.reports)
        {
    <tr>
        <td class="reportDynamicValue">
            @Utils.Statics.NepaliNumberConverter.ConvertDigitsToNepaliDigits($"{count}")
        </td>
        <td class="reportDynamicValue">
            @data.DisabilityTypeNepali
        </td>

        <td class="reportDynamicValue">
            @data.TypeA.FemaleCountNepali
        </td>
        <td class="reportDynamicValue">
            @data.TypeA.MaleCountNepali
        </td>
        <td class="reportDynamicValue">
            @data.TypeA.OtherCountNepali
        </td>
        <td class="reportDynamicValue">
            @data.TypeA.TotalCountNepali
        </td>


        <td class="reportDynamicValue">
            @data.TypeB.FemaleCountNepali
        </td>
        <td class="reportDynamicValue">
            @data.TypeB.MaleCountNepali
        </td>
        <td class="reportDynamicValue">
            @data.TypeB.OtherCountNepali
        </td>
        <td class="reportDynamicValue">
            @data.TypeB.TotalCountNepali
        </td>


        <td class="reportDynamicValue">
            @data.TypeC.FemaleCountNepali
        </td>
        <td class="reportDynamicValue">
            @data.TypeC.MaleCountNepali
        </td>
        <td class="reportDynamicValue">
            @data.TypeC.OtherCountNepali
        </td>
        <td class="reportDynamicValue">
            @data.TypeC.TotalCountNepali
        </td>


        <td class="reportDynamicValue">
            @data.TypeD.FemaleCountNepali
        </td>
        <td class="reportDynamicValue">
            @data.TypeD.MaleCountNepali
        </td>
        <td class="reportDynamicValue">
            @data.TypeD.OtherCountNepali
        </td>
        <td class="reportDynamicValue">
            @data.TypeD.TotalCountNepali
        </td>


        <td class="reportDynamicValue">
            @data.TotalFemaleNepali
        </td>
        <td class="reportDynamicValue">
            @data.TotalMaleNepali
        </td>
        <td class="reportDynamicValue">
            @data.TotalOtherNepali
        </td>
        <td class="reportDynamicValue">
            @data.TotalNepali
        </td>
    </tr>
            count++;
        }
    <tr>
        <td class="titleValue" colspan="2">
            जम्मा
        </td>

        <td class="reportDynamicValue">
            @Model.Total.TypeAFemale
        </td>
        <td class="reportDynamicValue">
            @Model.Total.TypeAMale
        </td>
        <td class="reportDynamicValue">
            @Model.Total.TypeAOther
        </td>
        <td class="reportDynamicValue">
            @Model.Total.TypeATotal
        </td>


        <td class="reportDynamicValue">
            @Model.Total.TypeBFemale
        </td>
        <td class="reportDynamicValue">
            @Model.Total.TypeBMale
        </td>
        <td class="reportDynamicValue">
            @Model.Total.TypeBOther
        </td>
        <td class="reportDynamicValue">
            @Model.Total.TypeBTotal
        </td>


        <td class="reportDynamicValue">
            @Model.Total.TypeCFemale
        </td>
        <td class="reportDynamicValue">
            @Model.Total.TypeCMale
        </td>
        <td class="reportDynamicValue">
            @Model.Total.TypeCOther
        </td>
        <td class="reportDynamicValue">
            @Model.Total.TypeCTotal
        </td>


        <td class="reportDynamicValue">
            @Model.Total.TypeDFemale
        </td>
        <td class="reportDynamicValue">
            @Model.Total.TypeDMale
        </td>
        <td class="reportDynamicValue">
            @Model.Total.TypeDOther
        </td>
        <td class="reportDynamicValue">
            @Model.Total.TypeDTotal
        </td>


        <td class="reportDynamicValue">
            @Model.Total.TotalFemale
        </td>
        <td class="reportDynamicValue">
            @Model.Total.TotalMale
        </td>
        <td class="reportDynamicValue">
            @Model.Total.TotalOther
        </td>
        <td class="reportDynamicValue">
            @Model.Total.Total
        </td>
    </tr>
    </table>
</div>

<script>
    $(document).ready(function () {
        replaceEmptyValuesWithNA();
        $('#printCard').click(function () {
            printDiv();
        });
    });
    replaceEmptyValuesWithNA = function () {
        $('span.reportDynamicValue').each(function () {

            var originalValue = $(this).text();
            if (originalValue == undefined || originalValue.trim() == "" || originalValue == "०") {
                $(this).text("-");
            }
        });

        $('td.reportDynamicValue').each(function () {

            var originalValue = $(this).text();
            if (originalValue == undefined || originalValue.trim() == "" || originalValue == "०") {
                $(this).text("-");
            }
        });
    };
    function printDiv() {

        var divToPrint = document.getElementById('divToPrint');
        var newWin = window.open('', 'Print-Window');

        newWin.document.open();

        newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');

        newWin.document.close();

        setTimeout(function () { newWin.close(); }, 10);



    }
</script>

