﻿@model List<DTO.ElderCardViewModel>

<table border="1" class="table table-bordered">
    <tr>
        <th>
            कार्ड प्रयोगकर्ताको नाम
        </th>
        <th>
           जेष्ठताको वर्गीकरण
        </th>
        
        <th>
            क्रिया
        </th>
    </tr>
    @if (Model != null)
    {
        foreach (var data in Model)
        {
            <tr>
                
                <td>
                    @data.CardHolderName
                </td>
                <td>
                    @data.CategoryOfElder
                </td>
               
                <td>
                    <a href="/CardPrint/AddUpdateElderDetail/@data.CardId" class="fa fa-edit">
                    </a>
                    <a href="/CardPrint/DeleteElderCard/@data.CardId" class="fa fa-trash">
                    </a>
                    <a href="/CardPrint/ElderPersonCardView/@data.CardId" class="fa fa-print">
                    </a>
                </td>
            </tr>
        }

    }
</table>