﻿@model DTO.ElderPersonCard
@{
    ViewData["Title"] = "जेष्ठ नागरिक परिचयपत्र";

}
<link href="~/Custom/css/DisabledCardPrint.css" rel="stylesheet" />
<link href="~/css/bootstrap.css" rel="stylesheet" />
<link href="~/Vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />
<script src="~/Vendor/jquery.js"></script>
<div class="col-sm-12" style="padding:10px !important">
    <a href="/CardPrint/AddUpdateElderDetail/@Model.Id" class="btn btn-primary fa fa-edit">
        Edit Information
    </a>
    <button class="btn btn-success fa fa-print pull-right" id="printCard">
        Print
    </button>
</div>
<div id="divToPrint">
    <style>
        P.pagebreakhere {
            page-break-before: always;
        }

        .BlueCard {
            background: lightblue;
        }

        .RedCard {
            background: #F94336;
        }

        .YellowCard {
            background: yellow;
        }

        .GreenCard {
            background: green;
        }

        .NationalLogo {
            padding-top: 10px;
        }

        .dynamicValue {
            font-weight: bolder;
        }

        .cardHeadingClass {
            text-align: center;
        }

        .cardDataText {
            font-size: smaller;
        }

        .OverflowCls {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .td cardDataText {
        }
    </style>

    @*<p class="pagebreakhere">

        </p>*@
    <div style="width:500px;height:260px; border:4px solid" class="YellowCard">
        <table width="100%" style="margin-top:10px">
            <tr>
                <td width="20%" rowspan="2">
                    <img src="~/img/NepaliNationalLogo.png" alt="logo" class="NationalLogo" style="width: 70px;height: 50px;position: absolute;margin-top: -35px;" />
                </td>
                <td width="55%" class="cardHeadingClass" style="border:0px; padding:0px">

                    <span style="color: red;font-size: medium"><strong>हरिपुर नगरपालिका</strong></span>
                </td>
                <td width="25%" style="border:0px">
                </td>

            </tr>
            <tr>
                <td width="55%" class="cardHeadingClass" style="border:0px; padding:0px">

                    <span style=" color:red;"><strong>नगर कार्यपालिकाको कार्यालय</strong></span>
                </td>
                <td width="25%" style="border:0px">
                </td>
            </tr>
            <tr>
                <td width="25%" height="20%" class="cardDataText">
                    <span class="OverflowCls">प.प.नं.: <span class="dynamicValue">@Model.CardNumberNepali</span></span>
                </td>
                <td width="50%" class="cardHeadingClass" style="border:0px">

                    <span style=" color:red;"><strong>हरिपुर, सर्लाही</strong></span>
                    <br />
                    <span style=" color:red;"><strong>२ नं. प्रदेश नेपाल</strong></span>
                </td>
                <td width="25%" rowspan="3">
                    @if (string.IsNullOrEmpty(@Model.Photo))
                    {
                        <span class="text-center" style="width: 80px;height: 80px;position: absolute;margin-top: -55px; border:1px solid;">
                            फोटो
                        </span>
                    }
                    else
                    {
                        <img src="~/images/@Model.Photo" alt="logo" style="width: 80px;height: 80px;position: absolute;margin-top: -55px;" />
                    }

                </td>

            </tr>
            <tr>
                <td width="25%" height="20%" style="border:0px" class="cardDataText">
                </td>
                <td width="50%" class="cardHeadingClass" style="border:0px">
                    <span style="background:red; color:white;"><strong>जेष्ठ नागरिक परिचय-पत्र</strong></span>
                </td>
            </tr>
            <tr>
                <td width="25%" colspan="2" class="cardDataText" style="border:0px">
                    नाम, थर: <span class="dynamicValue">@Model.NameNepali</span>
                </td>

            </tr>
            <tr>
                <td colspan="3" class="cardDataText" style="border:0px">
                    नागरिकता नं.: <span class="dynamicValue">@Model.CitizenshipNumberNepali</span>
                </td>
            </tr>
            <tr>
                <td colspan="3" width="75%" class="cardDataText" style="border:0px">
                    ठेगाना: <span class="dynamicValue">@Model.AddressNepali</span>
                </td>
            </tr>

            <tr>
                <td width="20%" class="cardDataText" style="border:0px">
                    लिङ्ग <span class="dynamicValue">@Model.GenderNepali</span>
                </td>
                <td width="65%" class="cardDataText" colspan="2" style="border:0px">
                    जेष्ठताको वर्गीकरण: <span class="dynamicValue">@Model.CategoryOfElderness</span>
                </td>
            </tr>
            <tr>
                <td class="cardDataText" colspan="3" style="border:0px">
                    उपलब्ध छुट तथा सुविधाहरु: <span class="dynamicValue">@Model.Facilities</span>
                </td>
            </tr>
            <tr>
                <td class="cardDataText" colspan="3" style="border:0px">
                    पति/पत्नीको नाम : <span class="dynamicValue">@Model.SpouseName</span>
                </td>
            </tr>


        </table>
    </div>
    <p class="pagebreakhere">

    </p>

    <div style="width:500px;height:260px; border:4px solid" class="YellowCard">
        <table width="100%" style="margin-top:10px">
            <tr>
                <td class="cardDataText" colspan="2" style="border:0px">
                    संरक्षकको नाम, थर सम्पर्क ठेगाना: <span class="dynamicValue">@Model.GuardianNameAddress</span>
                </td>
            </tr>
            <tr>
                <td class="cardDataText" colspan="2" style="border:0px">
                    रक्त समूह र रोग भए रोगको नाम र सेवन गरिएको औसधिको नाम:
                </td>
            </tr>
            <tr>
                <td class="cardDataText" colspan="2" style="border:0px">
                    <span class="dynamicValue">@Model.BloodGroupDiseaseMedicine</span>
                </td>
            </tr>
            <tr>
                <td class="cardDataText" colspan="2" style="border:0px">
                   सम्पर्क नं: <span class="dynamicValue">@Model.PhoneNumber</span>
                </td>
            </tr>
            <tr class="cardDataText"> 
                <td width="50%" style="text-align:center">
                   <span style="width:80px;height:80px;position:absolute; border:1px solid">
                        कार्यालय छाप
                    </span>
                </td>
                <td width="50%" style="text-align:center;">
                    <span>
                        प्रमाणित गर्नेको:
                    </span>
                    <br />
                    <span>
                        दस्तखत:<span class="dynamicValue">.......................</span>
                    </span>
                    <br />
                    <span>
                        नाम,थर: <span class="dynamicValue">@Model.ApproverNameNepali</span>
                    </span>
                    <br />
                    <span>
                        पद: <span class="dynamicValue">@Model.DesignationNepali</span>
                    </span>
                    <br />
                    <span>
                       मिति: <span class="dynamicValue">@Model.PrintDate</span>
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#printCard').click(function () {
            printDiv();
        });
    });

    function printDiv() {

        var divToPrint = document.getElementById('divToPrint');
        let dataId =@Model.Id;
        let dataCardNumber =@Model.CardNumber;



        $.ajax({
            type: 'Get',
            processData: false,
            contentType: false,
            url: "/CardPrint/IncreasePrintCount?Id=" + dataId + "&cardNumber=" + ""+dataCardNumber+"",
            success: function (data) {
                if (data.success == true) {
                    var newWin = window.open('', 'Print-Window');

                    newWin.document.open();

                    newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');

                    newWin.document.close();

                    setTimeout(function () { newWin.close(); }, 10);

                } else {
                    new ToastMessage("Something went wrong please contact administrator")
                }
            },
            failure: function (response) {
                new ToastMessage("Something went wrong please contact administrator")
            }
        });



    }

</script>



