﻿@model DTO.Children.ChildernCard
@{
    Layout = null;
}
<html>
<body>
    <div id="divToPrint">
        <style>
            /* P.pagebreakhere {
                page-break-before: always;
            }*/

            .BlueCard {
                background: lightblue;
                color: yellow;
            }

            .RedCard {
                background: #F94336;
                color: yellow;
            }

            .YellowCard {
                background: yellow;
                color: blue;
            }

            .WhiteCard {
                background: #FFFFFF;
                color: black;
            }

            .NationalLogo {
                padding-top: 10px;
            }

            .dynamicValue1 {
                font-weight: bolder;
            }

            .cardHeadingClass {
                text-align: center;
            }

            .cardDataText {
                font-size: smaller;
            }

            .cardDataText1 {
                font-size: medium;
            }

            .OverflowCls {
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        </style>




        @*nepali*@

        <div style="width:620px; height:423px;border:4px solid; border-color:black !important" class="@Model.CardTypeCSSClass ">
            <table width="100%" style="margin-top:10px">
                <tr>
                    <td width="20%" rowspan="2">
                        <img src="~/img/NepaliNationalLogo.png" alt="logo" class="NationalLogo" style="width: 50px;height: 30px;position: absolute;margin-top: -35px;" />


                    </td>
                    <td width="55%" class="cardHeadingClass cardDataText" style="border:0px; padding:0px">
                        @if (Model.CardTypeCSSClass != "RedCard")
                        {
                            <span style="color: blue;"><strong>नेपाल सरकार</strong></span>
                        }
                        else
                        {
                            <span style="color: red;"><strong> नेपाल सरकार</strong></span>
                        }
                    </td>
                    <td width="25%" style="border:0px">

                        <span class="dynamicValue"></span>
                    </td>

                </tr>

                @Html.HiddenFor(a => a.Id)
                <tr>
                    <td width="55%" class="cardHeadingClass cardDataText" style="border:0px; padding:0px">
                        @if (Model.CardTypeCSSClass != "RedCard")
                        {
                            <span style="color: blue;"><strong>गृह मन्त्रालय</strong></span>
                        }
                        else
                        {
                            <span style=" color:red;"><strong>गृह मन्त्रालय</strong></span>
                        }
                    </td>
                    <td width="25%" style="border:0px">
                    </td>
                </tr>
                <tr class="cardDataText">
                    <td width="50%" height="20%" class="">
                        @if (Model.PrintCountNepali > 0)
                        {
                            <span style="width: 70px;height: 30px;position: absolute;margin-top: 6px;">प्रतिलिपि-@Model.PrintCountnpl</span>
                        }
                    </td>
                    <td width="25%" class="cardHeadingClass cardDataText1 OverflowCls" style="border:0px">
                        @if (Model.CardTypeCSSClass != "RedCard")
                        {
                            <span style=" color:blue;"><strong>जिल्ला प्रसासन कार्यालय </strong></span>
                        }
                        else
                        {
                            <span style=" color:red;"><strong>जिल्ला प्रसासन कार्यालय</strong></span>
                        }

                    </td>
                    <td width="25%" rowspan="3">
                        @if (string.IsNullOrEmpty(@Model.Photo))
                        {
                            <span class="text-center" style=" width: 80px; height: 80px; position: absolute;margin-top: -45px; margin-left: 57px; border: 1px solid;margin-right: -90px"> Photo </span>
                        }
                        else
                        {
                            <img src="~/images/@Model.Photo" alt="logo" style="width: 80px;height: 80px;position: absolute;margin-top: -45px; margin-left: 57px;" />
                        }

                    </td>

                </tr>
                <tr>
                    <td width="50%" class="carddatatext" style="border:0px">
                        @*<span class=" dynamicvalue OverflowCls">नाम,थर: </span><span class="dynamicvalue ">@Model.NameNepali</span>*@
                    </td>
                    <td width="25%" class="cardHeadingClass cardDataText" style="border:0px">
                        @if (Model.CardTypeCSSClass == "RedCard")
                        {
                            <span style=" color:blue;"><strong>रसुवा</strong></span>
                        }
                        else
                        {
                            <span style=" color:red;"><strong>रसुवा</strong></span>
                        }

                    </td>
                </tr>
                <tr>
                    @*<td width="25%" class="cardDataText" style="border:0px">
                लिङ्ग: <span class="dynamicValue">@Model.GenderNepali</span>
            </td>*@

                    <td width="50%" height="20%" class="cardDataText">
                        <span class="OverflowCls">नाबालक परिचय-पत्र न: <span class="dynamicValue">@Model.CardNumberNepali</span></span>
                    </td>
                    <td width="50%" class="cardHeadingClass">
                        @if (Model.CardTypeCSSClass == "RedCard")
                        {
                            <span style="background:blue; color:white;"><strong>नाबालक परिचय-पत्र</strong></span>
                        }
                        else
                        {
                            <span style="background:red; color:white;"><strong>नाबालक परिचय-पत्र</strong></span>
                        }

                    </td>
                </tr>

                <tr>
                    @*<td colspan="2" class="cardDataText" style="border:0px">
                जन्मस्थान : <span class="dynamicValue">@Model.TemporaryNepaliProvinceId,@Model.TemporaryNepaliDistrictId</span>
            </td>*@

                    <td colspan="2" class="cardDataText" style="border:0px">
                        <span class=" dynamicvalue OverflowCls">नाम,थर: </span>
                        <span class="dynamicvalue ">@Model.NameNepali</span>
                    </td>


                </tr>


                <tr>
                    <td width="25%" class="cardDataText" style="border:0px">
                        लिङ्ग: <span class="dynamicValue">@Model.GenderNepali</span>
                    </td>
                </tr>



                <tr>

                    <td colspan="3" class="cardDataText" style="border:0px;margin-top:10px">
                        <table width="100%" style="margin:0px !important; padding:0px;">
                            <tr class="cardDataText">

                                <td width="40%">
                                    जन्मस्थान : <span class="dynamicValue">@Model.TemporaryNepaliProvinceId,@Model.TemporaryNepaliDistrictId</span>

                                </td>



                            </tr>
                        </table>
                    </td>



                <tr>

                    <td colspan="3" class="cardDataText" style="border:0px;margin-top:10px">
                        <table width="100%" style="margin:0px !important; padding:0px;">
                            <tr class="cardDataText">

                                <td width="40%">
                                    स्थाई ठेगाना:<span class="dynamicValue">@Model.PermanentNepaliProvinceId,@Model.PermanentNepaliDistrictId</span>
                                </td>



                            </tr>
                        </table>
                    </td>


                    @*<td width="25%" class="cardDataText" style="border:0px">
                स्थाई ठेगाना:<span class="dynamicValue">@Model.PermanentNepaliProvinceId,@Model.PermanentNepaliDistrictId</span>
            </td>*@
                </tr>


                <tr>
                    <td colspan="3" class="cardDataText" style="border:0px;margin-top:10px">
                        <table width="100%" style="margin:0px !important; padding:0px;">
                            <tr class="cardDataText">
                                <td width="40%">
                                    बुवाको नाम:<span class="dynamicValue">@Model.FatherNameNepali</span>
                                </td>

                                <td width="40%">
                                    बुवाको ठेगाना:<span class="dynamicValue">@Model.FatherAddressNepali</span>
                                </td>



                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>

                    <td colspan="3" class="cardDataText " style="border:0px;">
                        <table width="100%" style="margin-top: auto; padding: 0px">
                            <tr class="cardDataText">
                                <td width="40%">
                                    आमको नाम:<span class="dynamicValue">@Model.MotherNameNepali</span>
                                </td>

                                <td width="40%">
                                    आमको ठेगाना:<span class="dynamicValue">@Model.MotherAddressNepali</span>
                                </td>




                            </tr>
                        </table>

                    </td>


                </tr>












                <tr>

                    <td colspan="3" class="cardDataText " style="border:0px;">
                        <table width="100%" style="margin-top: auto; padding: 0px">
                            <tr class="cardDataText">
                                <td width="40%">
                                    बुवा/आमाको नागरिकता न.:<span class="dynamicValue">@Model.FatherMotherCitizenShipNepali</span>
                                </td>
                            </tr>
                        </table>

                    </td>


                </tr>




                <tr class="cardDataText">
                    <td width="25%" rowspan="5">
                        <span class="text-center" style="width:80px;height:11%;position:absolute; margin-top: -45px;border:1px solid">
                            दाँया
                        </span>


                    </td>
                    <td width="25%" rowspan="5">
                        <span class="text-center" style="width:80px;height:11%;position:absolute; margin-top: -45px;border:1px solid;margin-left:-155px;">
                            बाँया
                        </span>
                    </td>

                    <td width="50%" style="text-align:left;" class="cardDataText">
                        <u>जारि गर्ने:</u>
                    </td>

                </tr>
                <tr class="cardDataText">
                    <td style="text-align:left;" class="cardDataText">
                        <span class="OverflowCls">दस्तखत:................................................</span>
                    </td>
                </tr>

                <tr class="cardDataText">



                    <td style="text-align:left;" class="cardDataText">
                        <span class="dynamicValue OverflowCls">नाम:@Model.ApprovedByNepali</span> @*<span class="dynamicValue OverflowCls">@Model.ApprovedByNepali</span>*@
                    </td>


                </tr>
                <tr class="cardDataText">
                    <td style="text-align:left;" class="cardDataText">
                        <span>पद: @Model.PositionNepali</span> @*<span style=" margin-right: 90px;" class="dynamicValue">@Model.ApprovedBy</span>*@
                    </td>
                </tr>

                <tr class="cardDataText">

                    <td style="text-align:left;" class="cardDataText">
                        <span>मिती: @Model.PrintDate</span> @*<span style=" margin-right: 80px;" class="dynamicValue">@Model.PrintDate</span>*@
                    </td>

                </tr>

            </table>
        </div>

        <p class="pagebreakhere">

        </p>



        @*English*@




        <div style="width:620px; height:395px;border:4px solid; border-color:black !important" class="@Model.CardTypeCSSClass pull-right">
            <table width="100%" style="margin-top:10px">
                <tr>
                    <td width="20%" rowspan="2">
                        <img src="~/img/NepaliNationalLogo.png" alt="logo" class="NationalLogo" style="width: 50px;height: 30px;position: absolute;margin-top: -35px;" />


                    </td>
                    <td width="55%" class="cardHeadingClass cardDataText" style="border:0px; padding:0px">
                        @if (Model.CardTypeCSSClass != "RedCard")
                        {
                            <span style="color: blue;"><strong>Government Of Nepal</strong></span>
                        }
                        else
                        {
                            <span style="color: red;"><strong>Government Of Nepal</strong></span>
                        }
                    </td>
                    <td width="25%" style="border:0px">

                        <span class="dynamicValue"></span>
                    </td>

                </tr>

                @Html.HiddenFor(a => a.Id)
                <tr>
                    <td width="55%" class="cardHeadingClass cardDataText" style="border:0px; padding:0px">
                        @if (Model.CardTypeCSSClass != "RedCard")
                        {
                            <span style="color: blue;"><strong>Ministry Of Home Affairs</strong></span>
                        }
                        else
                        {
                            <span style=" color:red;"><strong>Ministry Of Home Affairs</strong></span>
                        }
                    </td>
                    <td width="25%" style="border:0px">
                    </td>
                </tr>
                <tr class="cardDataText">
                    <td width="50%" height="20%" class="">
                        @if (Model.PrintCountNepali > 0)
                        {
                            <span style="width: 70px;height: 30px;position: absolute;margin-top: 6px;">Copy-@Model.PrintCountNepali</span>
                        }
                    </td>
                    <td width="25%" class="cardHeadingClass cardDataText1 OverflowCls" style="border:0px">
                        @if (Model.CardTypeCSSClass != "RedCard")
                        {
                            <span style=" color:blue;"><strong>District Administration Office </strong></span>
                        }
                        else
                        {
                            <span style=" color:red;"><strong>District Administration Office</strong></span>
                        }

                    </td>
                    <td width="25%" rowspan="3">
                        @if (string.IsNullOrEmpty(@Model.Photo))
                        {
                            <span class="text-center" style=" width: 80px; height: 80px; position: absolute;margin-top: -45px; margin-left: 65px; border: 1px solid;margin-right: -90px"> Photo </span>
                        }
                        else
                        {
                            <img src="~/images/@Model.Photo" alt="logo" style="width: 80px;height: 80px;position: absolute;margin-top: -45px; margin-left: 65px;" />
                        }

                    </td>

                </tr>
                <tr>
                    <td width="50%" class="carddatatext" style="border:0px">
                        @*<span class=" dynamicvalue OverflowCls">नाम,थर: </span><span class="dynamicvalue ">@Model.NameNepali</span>*@
                    </td>
                    <td width="25%" class="cardHeadingClass cardDataText" style="border:0px">
                        @if (Model.CardTypeCSSClass == "RedCard")
                        {
                            <span style=" color:blue;"><strong>Rasuwa</strong></span>
                        }
                        else
                        {
                            <span style=" color:red;"><strong>Rasuwa</strong></span>
                        }

                    </td>
                </tr>
                <tr>
                    @*<td width="25%" class="cardDataText" style="border:0px">
                        लिङ्ग: <span class="dynamicValue">@Model.GenderNepali</span>
                    </td>*@

                    <td width="50%" height="20%" class="cardDataText">
                        <span class="OverflowCls">Minor ID Card No: <span class="dynamicValue">@Model.CardNumber</span></span>
                    </td>
                    <td width="50%" class="cardHeadingClass">
                        @if (Model.CardTypeCSSClass == "RedCard")
                        {
                            <span style="background:blue; color:white;"><strong>Minor Identity Card</strong></span>
                        }
                        else
                        {
                            <span style="background:red; color:white;"><strong>Minor Identity Card</strong></span>
                        }

                    </td>
                </tr>

                <tr>
                    @*<td colspan="2" class="cardDataText" style="border:0px">
                        जन्मस्थान : <span class="dynamicValue">@Model.TemporaryNepaliProvinceId,@Model.TemporaryNepaliDistrictId</span>
                    </td>*@

                    <td colspan="2" class="cardDataText" style="border:0px">
                        <span class=" dynamicvalue OverflowCls">Name: </span>
                        <span class="dynamicvalue ">@Model.NameEnglish</span>
                    </td>


                </tr>


                <tr>
                    <td width="25%" class="cardDataText" style="border:0px">
                        Gender: <span class="dynamicValue">@Model.Gender</span>
                    </td>
                </tr>


                <tr>
                    <td colspan="3" class="cardDataText" style="border:0px;margin-top:10px">
                        <table width="100%" style="margin:0px !important; padding:0px;">
                            <tr class="cardDataText">
                                <td width="25%">
                                    Birthplace : <span class="dynamicValue">@Model.TemporaryProvinceId,@Model.TemporaryDistrictId</span>
                                </td>
                                </tr>
                            </table>
                        </td>
                            </tr>


                <tr>
                    <td colspan="3" class="cardDataText" style="border:0px;margin-top:10px">
                        <table width="100%" style="margin:0px !important; padding:0px;">
                            <tr class="cardDataText">
                                <td width="25%">
                                    Permanent Address:<span class="dynamicValue">@Model.PermanentProvinceId,@Model.PermanentDistrictId</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>


                                        <tr>
                                            <td colspan="3" class="cardDataText" style="border:0px;margin-top:10px">
                                                <table width="100%" style="margin:0px !important; padding:0px;">
                                                    <tr class="cardDataText">
                                                        <td width="40%">
                                                            Father's Name:<span class="dynamicValue">@Model.FatherNameEnglish</span>
                                                        </td>

                                                        <td width="40%">
                                                            Father's Address:<span class="dynamicValue">@Model.FatherAddressEnglish</span>
                                                        </td>



                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>

                                            <td colspan="3" class="cardDataText " style="border:0px;">
                                                <table width="100%" style="margin-top: auto; padding: 0px">
                                                    <tr class="cardDataText">
                                                        <td width="40%">
                                                            Mother's Name:<span class="dynamicValue">@Model.MotherNameEnglish</span>
                                                        </td>

                                                        <td width="40%">
                                                            Mother's Address:<span class="dynamicValue">@Model.MotherAddressEnglish</span>
                                                        </td>




                                                    </tr>
                                                </table>

                                            </td>


                                        </tr>

                                        <tr>

                                            <td colspan="3" class="cardDataText " style="border:0px;">
                                                <table width="100%" style="margin-top: auto; padding: 0px">
                                                    <tr class="cardDataText">
                                                        <td width="40%">
                                                            Father/Mother Citizenship No.:<span class="dynamicValue">@Model.FatherMotherCitizenShip</span>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </td>


                                        </tr>




                                        <tr class="cardDataText">
                                            <td width="25%" rowspan="5">
                                                <span class="text-center" style="width:80px;height:11%;position:absolute; margin-top: -45px;border:1px solid">
                                                    Right
                                                </span>


                                            </td>
                                            <td width="25%" rowspan="5">
                                                <span class="text-center" style="width:80px;height:11%;position:absolute; margin-top: -45px;border:1px solid;margin-left:-125px;">
                                                    Left
                                                </span>
                                            </td>

                                            <td width="50%" style="text-align:left;" class="cardDataText dynamicValue1">
                                                <u>Approved By:</u>
                                            </td>

                                        </tr>
                                        <tr class="cardDataText">
                                            <td style="text-align:left;" class="cardDataText">
                                                <span class="OverflowCls">Signature:.................................................</span>
                                            </td>
                                        </tr>

                                        <tr class="cardDataText">
                                            <td style="text-align:left;" class="cardDataText">
                                                <span class="dynamicValue OverflowCls">Name:@Model.ApprovedBy</span> @*<span class="dynamicValue OverflowCls">@Model.ApprovedByNepali</span>*@
                                            </td>


                                        </tr>
                                        <tr class="cardDataText">
                                            <td style="text-align:left;" class="cardDataText">
                                                <span>पद: @Model.PositionEnglish</span> @*<span style=" margin-right: 90px;" class="dynamicValue">@Model.ApprovedBy</span>*@
                                            </td>
                                        </tr>

                                        <tr class="cardDataText">

                                            <td style="text-align:left;" class="cardDataText">
                                                <span>Date: @Model.PrintDate</span> @*<span style=" margin-right: 80px;" class="dynamicValue">@Model.PrintDate</span>*@
                                            </td>

                                        </tr>

                                    </table>
</div>



       

    </div>
</body>
</html>