﻿@model List<DTO.PrintedDisabledList>
@{
    ViewData["title"] = ViewBag.title;

}
<div class="col-sm-12 text-center" style="margin-top:5px">
    <h5 class="block-center">प्रिन्ट गरिएका @ViewBag.titleको परिचयपत्रको सुची</h5>
</div>

    <table width="100%">
        <tr style="text-align:center">
            <td>
                <span style=" color:red;"><strong>हरिपुर नगरपालिका</strong></span>
                <br />
                <span style=" color:red;"><strong>नगर कार्यपालिका कार्यालय</strong></span>
                <br />
                <span style=" color:red;">हरिपुर, सर्लाही</span>
                <br />
                <span style=" color:red;">२ नं प्रदेश नेपाल</span>
            </td>
        </tr>
    </table>
<table class="table table-bordered">
    <tr>

        <th>
            प.प.नं
        </th>
        <th>
            जारि मिति
        </th>
        <th>
            नाम, थर
        </th>
        <th>
            ठेगाना
        </th>
        <th>
            जन्म मिति
        </th>
        <th>
            उमेर
        </th>
        <th>
            नागरिकता नं
        </th>
        @if (ViewBag.Category == (int)DTO.Enums.CardCategoryEnum.Disabled)
        {
            <th>
                बिस्तार
            </th>
        }
        else
        {
            <th>
                क्रिया
            </th>
        }



    </tr>
    @if (Model == null || !Model.Any())
    {
        <tr>
            <td colspan="8">
                <span><strong>डाटा उपलब्ध छैन</strong></span>
            </td>
        </tr>
    }
    else
    {
        foreach (var data in Model)
        {
            <tr>

                <td>
                    @data.CardNumber
                </td>
                <td>
                    @data.PrintedDate
                </td>
                <td>
                    @data.FullName
                </td>
                <td>
                    @data.Address
                </td>
                <td>
                    @data.DateOfBirth
                </td>
                <td>
                    @data.Age
                </td>
                <td>
                    @data.CitizenshipNumber
                </td>
                <td>
                    @if (ViewBag.Category == (int)DTO.Enums.CardCategoryEnum.Disabled)
                    {
                        <a href="/CardPrint/DisabledIndividualReport/@data.CardId" class="fa fa-eye" title="बेहोरा">
                        </a>
                    }
                    else
                    {
                        <a href="/CardPrint/AddUpdateElderDetail/@data.CardId" class="fa fa-edit" title="बेहोरा">
                        </a>
                    }
                    

                </td>
            </tr>
        }

    }
</table>
