﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Card Print</title>

    <environment include="Development">

    </environment>
    <environment exclude="Development">

    </environment>

    <link href="~/css/app.css" rel="stylesheet" />
    <link href="~/css/pioneer-pagination.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/whirl.css" rel="stylesheet" />
    <link href="~/Custom/css/override.css?v=1.4" rel="stylesheet" />
    <link href="~/Custom/css/utils.css" rel="stylesheet" />
    <link href="~/css/nepali.datepicker.v3.2.min.css" rel="stylesheet" />
    <link href="~/lib/ToastMessage/ToastMessage.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <!-- top navbar-->
        <header class="topnavbar-wrapper">
            <!-- START Top Navbar-->
            <nav class="navbar topnavbar">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/Home">
                        <div class="brand-logo">

                            <img class="img-fluid" src="~/img/logo.png" alt="App Logo" style="max-height:34px;">
                            @*<span style="color:red"><b>नेपाल सरकार</b> </span><br />*@
                            <br/> 
                            <span style="color:red"><b>हरिपुर नगरपालिका </b> </span><br />
                            <span style="color:red"><b>दर्ता चलानी तथा कार्ड प्रणाली</b></span><br />
                        </div>
                        @*<div class="brand-logo-collapsed">
                                <img class="img-fluid" src="~/img/logo.png" alt="App Logo" style="max-height:34px;" />
                            </div>*@

                    </a>
                </div>

                <!-- START navbar header-->
                <!-- END navbar header-->
                <!-- START Left navbar-->
                <ul class="navbar-nav mr-auto flex-row">
                    <li class="nav-item">
                        <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                        <a class="nav-link d-none d-md-block d-lg-block d-xl-block" href="#" data-trigger-resize="" data-toggle-state="aside-collapsed">
                            <em class="fa fa-navicon"></em>
                        </a>
                        <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
                        <a class="nav-link sidebar-toggle d-md-none" href="#" data-toggle-state="aside-toggled" data-no-persist="true">
                            <em class="fa fa-navicon"></em>
                        </a>
                    </li>
                    <!-- START User avatar toggle-->
                    <!-- END lock screen-->
                </ul>
                <!-- END Left navbar-->
                <!-- START Right Navbar-->

               
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">

                            <img class="img-fluid" src="~/img/avatar.png" alt="App Logo" style="max-height:70px;">
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <span class="dropdown-item dropdown-header">User And Account</span>
                            <div class="dropdown-divider"></div>
                            <a class="nav-link" href="/Account/ChangePassword">
                                <em class="icon-eye"> Change Password</em>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="/Account/Register" class="nav-link">
                                <em class="icon-user"> New Users</em>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="nav-link" href="/Account/Logout" data-toggle-fullscreen="">
                                <em class="icon-logout"> Logout</em>
                            </a>
                        </div>
                    </li>
                </ul>
                <!-- END Right Navbar-->
                <!-- START Search form-->
                <form class="navbar-form" role="search" action="search.html">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Type and hit enter ...">
                        <div class="fa fa-times navbar-form-close" data-search-dismiss=""></div>
                    </div>
                    <button class="d-none" type="submit">Submit</button>
                </form>
                <!-- END Search form-->
            </nav>
            <!-- END Top Navbar-->
        </header>
        <!-- sidebar-->
        <aside class="aside-container">
            <!-- START Sidebar (left)-->
            <div class="aside-inner">
                <nav class="sidebar" data-sidebar-anyclick-close="">
                    <!-- START sidebar nav-->
                    <ul class="sidebar-nav">
                        <!-- START user info-->
                        <li class="has-user-block">
                            <div class="collapse" id="user-block">
                                <div class="item user-block">
                                    <!-- User picture-->
                                    <div class="user-block-picture">
                                        <div class="user-block-status">
                                            <img class="img-thumbnail rounded-circle" src="~/img/user/02.jpg" alt="Avatar" width="60" height="60">
                                            <div class="circle bg-success circle-lg"></div>
                                        </div>
                                    </div>
                                    <!-- Name and Job-->
                                    <div class="user-block-info">
                                        @*<span class="user-block-name">Hello, Mike</span>
                        <span class="user-block-role">Designer</span>*@
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- END user info-->
                        <!-- Iterates over all sidebar items-->
                        <li class="nav-heading" style="background-color: black;">
                            <center>
                                <span data-localize="sidebar.heading.HEADER" style="padding-right: 60px; ">
                                    <strong style="color: white;">
                                        DASHBOARD
                                    </strong>
                                </span>
                            </center>
                        </li>
                        <br />
                        <li class="" id="abc">
                            <a href="/Home/Index">
                                <i class="fa fa-home"> </i> <strong style="color:white;">गृह पृष्ठ</strong>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="#Setup" title="Setup" data-toggle="collapse">
                                <em class="icon-drawer"></em>
                                <span><strong style="color:white;">सेटअप</strong></span>
                            </a>
                            <ul class="sidebar-nav sidebar-subnav collapse" id="Setup">

                                <li class=" ">
                                    <a href="/Account/AddUpdateDesignation/0" title="Add new designation">
                                        <i class="icon-energy"></i>
                                        <span><strong style="color:white;">नयाँ पद</strong></span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="/Account/DesignationList" title="Vew Designations">
                                        <i class="icon-magnifier"></i>
                                        <span><strong style="color:white;">पदहरु</strong></span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="/Fatt/AddUpdateFatt" title="Add new Fatt">
                                        <i class="icon-user"></i>
                                        <span><strong style="color:white;">नयाँ फाट </strong></span>
                                    </a>
                                </li>

                                <li class=" ">
                                    <a href="/Fatt/Index" title="Fatt Details">
                                        <i class="icon-people"></i>
                                        <span><strong style="color:white;">फाटहरु </strong></span>
                                    </a>
                                </li>

                                <li class=" ">
                                    <a href="/Account/AddShredi" title="Add new Shredi">
                                        <i class="icon-user"></i>
                                        <span><strong style="color:white;">नयाँ श्रेणी </strong></span>
                                    </a>
                                </li>

                                <li class=" ">
                                    <a href="/Account/ShrediIndex" title="Shredi Details">
                                        <i class="icon-people"></i>
                                        <span><strong style="color:white;">श्रेणीहरु </strong></span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="/Account/Register" title="Register new user">
                                        <i class="icon-user"></i>
                                        <span><strong style="color:white;">नयाँ युजर</strong></span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="/Account/UserList" title="All Users">
                                        <i class="icon-people"></i>
                                        <span><strong style="color:white;">युजरहरु</strong></span>
                                    </a>
                                </li>

                            </ul>

                        </li>
                        <li class=" ">
                            <a href="#Darta" title="Darta" data-toggle="collapse">
                                <em class="icon-credit-card"></em>
                                <span><strong style="color:white;">दर्ता</strong></span>
                            </a>
                            <ul class="sidebar-nav sidebar-subnav collapse" id="Darta">

                                <li class=" ">
                                    <a href="/DartaChalani/CreateDartaDetail/0" title="Add new designation">
                                        <i class="icon-energy"></i>
                                        <span><strong style="color:white;">नयाँ दर्ता</strong></span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="/DartaChalani/DartaList" title="Vew entries">
                                        <i class="icon-magnifier"></i>
                                        <span><strong style="color:white;">सम्पूर्ण प्रविष्टिहरू</strong></span>
                                    </a>
                                </li>


                            </ul>

                        </li>
                        <li class=" ">
                            <a href="#Chalani" title="Chalani" data-toggle="collapse">
                                <em class="icon-credit-card"></em>
                                <span><strong style="color:white;">चलानी</strong></span>
                            </a>
                            <ul class="sidebar-nav sidebar-subnav collapse" id="Chalani">

                                <li class=" ">
                                    <a href="/DartaChalani/CreateChalaniDetail/0" title="Add new designation">
                                        <i class="icon-energy"></i>
                                        <span><strong style="color:white;">नयाँ चलानी</strong></span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="/DartaChalani/ChalaniList" title="Vew entries">
                                        <i class="icon-magnifier"></i>
                                        <span><strong style="color:white;">सम्पूर्ण प्रविष्टिहरू</strong></span>
                                    </a>
                                </li>


                            </ul>

                        </li>



                        <li class=" ">
                            <a href="#Employee" title="Employee" data-toggle="collapse">
                                <em class="icon-credit-card"></em>
                                <span><strong style="color:white;">नयाँ कर्मचारी</strong></span>
                            </a>
                            <ul class="sidebar-nav sidebar-subnav collapse" id="Employee">

                                <li class=" ">
                                    <a href="/Employee/AddUpdateEmployee/0" title="Add new Employee">
                                        <i class="icon-energy"></i>
                                        <span><strong style="color:white;">नयाँ कर्मचारी</strong></span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="/Employee/Index" title="Vew entries">
                                        <i class="icon-magnifier"></i>
                                        <span><strong style="color:white;">सम्पूर्ण कर्मचारी</strong></span>
                                    </a>
                                </li>


                            </ul>

                        </li>

                        <li class=" ">
                            <a href="#ChildCardPrc" title="Child Card" data-toggle="collapse">
                                <em class="icon-credit-card"></em>
                                <span><strong style="color:white;">नाबालक कार्ड प्रणाली</strong></span>
                            </a>
                            <ul class="sidebar-nav sidebar-subnav collapse" id="ChildCardPrc">

                                <li class=" ">
                                    <a href="/CardPrint/AddUpdateChildCardDetail/0" title="Add new child card">
                                        <i class="fa fa-wheelchair"> </i>
                                        <span><strong style="color:white;">नयाँ कार्ड</strong></span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="/CardPrint/ChildCardDetail" title="View entries">
                                        <i class="icon-magnifier"></i>
                                        <span><strong style="color:white;">सम्पूर्ण प्रविष्टिहरू</strong></span>
                                    </a>
                                </li>


                            </ul>

                        </li>

                        <li class=" ">
                            <a href="#OldChildCardPrc" title="Old Child Card" data-toggle="collapse">
                                <em class="icon-credit-card"></em>
                                <span><strong style="color:white;">पुरानो कार्ड</strong></span>
                            </a>
                            <ul class="sidebar-nav sidebar-subnav collapse" id="OldChildCardPrc">

                                <li class=" ">
                                    <a href="/OldChildCard/AddUpdateOldChildCardDetail/0" title="Add old child card">
                                        <i class="fa fa-wheelchair"> </i>
                                        <span><strong style="color:white;">पुरानो कार्ड</strong></span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="/OldChildCard/OldChildCardDetail" title="View entries">
                                        <i class="icon-magnifier"></i>
                                        <span><strong style="color:white;">सम्पूर्ण प्रविष्टिहरू</strong></span>
                                    </a>
                                </li>


                            </ul>

                        </li>
                        <li class=" ">
            <a href="#DisabledCardPrc" title="Disabled Card" data-toggle="collapse">
                <em class="icon-credit-card"></em>
                <span><strong style="color:white;">अपाङ्ग कार्ड प्रणाली</strong></span>
            </a>
            <ul class="sidebar-nav sidebar-subnav collapse" id="DisabledCardPrc">

                <li class=" ">
                    <a href="/CardPrint/AddUpdateView/0" title="Add new disabled card">
                        <i class="fa fa-wheelchair"> </i>
                        <span><strong style="color:white;">नयाँ कार्ड</strong></span>
                    </a>
                </li>
                <li class=" ">
                    <a href="/CardPrint/DisabilityCardDetail" title="Vew entries">
                        <i class="icon-magnifier"></i>
                        <span><strong style="color:white;">सम्पूर्ण प्रविष्टिहरू</strong></span>
                    </a>
                </li>


            </ul>

        </li>
        <li class=" ">
            <a href="#ElderCardPrc" title="Setup" data-toggle="collapse">
                <em class="icon-eyeglass"></em>
                <span><strong style="color:white;">जेष्ठ नागरिक कार्ड प्रणाली</strong></span>
            </a>
            <ul class="sidebar-nav sidebar-subnav collapse" id="ElderCardPrc">

                <li class=" ">
                    <a href="/CardPrint/AddUpdateElderDetail/0" title="Add new disabled card">
                        <i class="fa fa-id-card"> </i>
                        <span><strong style="color:white;">नयाँ कार्ड</strong></span>
                    </a>
                </li>
                <li class=" ">
                    <a href="/CardPrint/ElderCardDetail" title="Vew entries">
                        <i class="icon-magnifier"></i>
                        <span><strong style="color:white;">सम्पूर्ण प्रविष्टिहरू</strong></span>
                    </a>
                </li>


            </ul>

        </li>
                        <li class=" ">
                            <a href="#Report" title="Setup" data-toggle="collapse">
                                <em class="icon-social-reddit"></em>
                                <span><strong style="color:white;">प्रतिवेदन</strong></span>
                            </a>


                            <ul class="sidebar-nav sidebar-subnav collapse" id="Report">
                                <li class=" ">
                    <a href="#DisabledReport" title="Disabled reports" data-toggle="collapse">
                        <em class="icon-puzzle"></em>
                        <span><strong style="color:white;">अपाङ्ग</strong></span>
                    </a>
                    <ul class="sidebar-nav sidebar-subnav collapse" id="DisabledReport">
                        <li class="sidebar-subnav-header">अपाङ्ग</li>
                        <li class=" ">
                            <a href="/CardPrint/DisabledProgressReport" title="Horizontal">
                                <i class="icon-power"></i>
                                <span><strong style="color:white;">प्रगति विवरण</strong></span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="/CardPrint/PrintedDisabledCardList/1" title="Horizontal">
                                <i class="icon-list"></i>
                                <span><strong style="color:white;">प्रिन्टको सुची</strong></span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class=" ">
                    <a href="#ElderReport" title="Disabled reports" data-toggle="collapse">
                        <em class="icon-ghost"></em>
                        <span><strong style="color:white;">जेष्ठ नागरिक</strong></span>
                    </a>
                    <ul class="sidebar-nav sidebar-subnav collapse" id="ElderReport">
                        <li class="sidebar-subnav-header">जेष्ठ नागरिक</li>

                        <li class=" ">
                            <a href="/CardPrint/PrintedDisabledCardList/2" title="Horizontal">
                                <i class="icon-list"></i>
                                <span><strong style="color:white;">प्रिन्टको सुची</strong></span>
                            </a>
                        </li>
                    </ul>
                </li>
                                <li class=" ">
                                    <a href="#DartReport" title="Darta reports" data-toggle="collapse">
                                        <em class="icon-puzzle"></em>
                                        <span><strong style="color:white;">दर्ता</strong></span>
                                    </a>
                                    <ul class="sidebar-nav sidebar-subnav collapse" id="DartReport">
                                        <li class="sidebar-subnav-header">दर्ता</li>
                                        <li class=" ">
                                            <a href="/Report/DartaList/1" title="Horizontal">
                                                <i class="icon-list"></i>
                                                <span><strong style="color:white;">दर्ता सुची</strong></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class=" ">
                                    <a href="#ChalaniReport" title="Chalani reports" data-toggle="collapse">
                                        <em class="icon-ghost"></em>
                                        <span><strong style="color:white;">चलानी</strong></span>
                                    </a>
                                    <ul class="sidebar-nav sidebar-subnav collapse" id="ChalaniReport">
                                        <li class="sidebar-subnav-header">चलानी</li>

                                        <li class=" ">
                                            <a href="/Report/ChalaniList/2" title="Horizontal">
                                                <i class="icon-list"></i>
                                                <span><strong style="color:white;">चलानी सुची</strong></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        </li>
                        <li class=" ">
            <a href="#IntelligenceReport" title="Setup" data-toggle="collapse">
                <em class="icon-info"></em>
                <span><strong style="color:white;">बौद्धिक प्रतिवेदन</strong></span>
            </a>


            <ul class="sidebar-nav sidebar-subnav collapse" id="IntelligenceReport">
                <li class=" ">
                    <a href="#DisabledIntReport" title="Disabled reports" data-toggle="collapse">
                        <em class="icon-puzzle"></em>
                        <span><strong style="color:white;">अपाङ्ग</strong></span>
                    </a>
                    <ul class="sidebar-nav sidebar-subnav collapse" id="DisabledIntReport">
                        <li class="sidebar-subnav-header">अपाङ्ग</li>
                        <li class=" ">
                            <a href="/CardPrint/DisabledPieChartView" title="Horizontal">
                                <i class="icon-pie-chart"></i>
                                <span><strong style="color:white;">वृत्त चित्र</strong></span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="/CardPrint/DisabledBarGraphView" title="Horizontal">
                                <i class="icon-bag"></i>
                                <span><strong style="color:white;">स्तम्भ चित्र</strong></span>
                            </a>
                        </li>
                    </ul>
                </li>


            </ul>

        </li>



                      
                    

                    <!-- END sidebar nav-->
                </nav>
            </div>
            <!-- END Sidebar (left)-->
        </aside>
        <!-- offsidebar-->
        <aside class="offsidebar d-none">
            <!-- START Off Sidebar (right)-->
            <nav>
                <div role="tabpanel">
                    <!-- Nav tabs-->
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" href="#app-settings" aria-controls="app-settings" role="tab" data-toggle="tab">
                                <em class="icon-equalizer fa-lg"></em>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="#app-chat" aria-controls="app-chat" role="tab" data-toggle="tab">
                                <em class="icon-user fa-lg"></em>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes-->
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="app-settings" role="tabpanel">
                            <h3 class="text-center text-thin mt-4">Settings</h3>
                            <div class="p-2">
                                <h4 class="text-muted text-thin">Themes</h4>
                                <div class="row row-flush mb-2">
                                    <div class="col mb-2">
                                        <div class="setting-color">
                                            <label data-load-css="css/theme-a.css">
                                                <input type="radio" name="setting-theme" checked="checked">
                                                <span class="icon-check"></span>
                                                <span class="split">
                                                    <span class="color bg-info"></span>
                                                    <span class="color bg-info-light"></span>
                                                </span>
                                                <span class="color bg-white"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col mb-2">
                                        <div class="setting-color">
                                            <label data-load-css="css/theme-b.css">
                                                <input type="radio" name="setting-theme">
                                                <span class="icon-check"></span>
                                                <span class="split">
                                                    <span class="color bg-green"></span>
                                                    <span class="color bg-green-light"></span>
                                                </span>
                                                <span class="color bg-white"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col mb-2">
                                        <div class="setting-color">
                                            <label data-load-css="css/theme-c.css">
                                                <input type="radio" name="setting-theme">
                                                <span class="icon-check"></span>
                                                <span class="split">
                                                    <span class="color bg-purple"></span>
                                                    <span class="color bg-purple-light"></span>
                                                </span>
                                                <span class="color bg-white"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col mb-2">
                                        <div class="setting-color">
                                            <label data-load-css="css/theme-d.css">
                                                <input type="radio" name="setting-theme">
                                                <span class="icon-check"></span>
                                                <span class="split">
                                                    <span class="color bg-danger"></span>
                                                    <span class="color bg-danger-light"></span>
                                                </span>
                                                <span class="color bg-white"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-flush mb-2">
                                    <div class="col mb-2">
                                        <div class="setting-color">
                                            <label data-load-css="css/theme-e.css">
                                                <input type="radio" name="setting-theme">
                                                <span class="icon-check"></span>
                                                <span class="split">
                                                    <span class="color bg-info-dark"></span>
                                                    <span class="color bg-info"></span>
                                                </span>
                                                <span class="color bg-gray-dark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col mb-2">
                                        <div class="setting-color">
                                            <label data-load-css="css/theme-f.css">
                                                <input type="radio" name="setting-theme">
                                                <span class="icon-check"></span>
                                                <span class="split">
                                                    <span class="color bg-green-dark"></span>
                                                    <span class="color bg-green"></span>
                                                </span>
                                                <span class="color bg-gray-dark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col mb-2">
                                        <div class="setting-color">
                                            <label data-load-css="css/theme-g.css">
                                                <input type="radio" name="setting-theme">
                                                <span class="icon-check"></span>
                                                <span class="split">
                                                    <span class="color bg-purple-dark"></span>
                                                    <span class="color bg-purple"></span>
                                                </span>
                                                <span class="color bg-gray-dark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col mb-2">
                                        <div class="setting-color">
                                            <label data-load-css="css/theme-h.css">
                                                <input type="radio" name="setting-theme">
                                                <span class="icon-check"></span>
                                                <span class="split">
                                                    <span class="color bg-danger-dark"></span>
                                                    <span class="color bg-danger"></span>
                                                </span>
                                                <span class="color bg-gray-dark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-2">
                                <h4 class="text-muted text-thin">Layout</h4>
                                <div class="clearfix">
                                    <p class="float-left">Fixed</p>
                                    <div class="float-right">
                                        <label class="switch">
                                            <input id="chk-fixed" type="checkbox" data-toggle-state="layout-fixed">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <p class="float-left">Boxed</p>
                                    <div class="float-right">
                                        <label class="switch">
                                            <input id="chk-boxed" type="checkbox" data-toggle-state="layout-boxed">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <p class="float-left">RTL</p>
                                    <div class="float-right">
                                        <label class="switch">
                                            <input id="chk-rtl" type="checkbox">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="p-2">
                                <h4 class="text-muted text-thin">Aside</h4>
                                <div class="clearfix">
                                    <p class="float-left">Collapsed</p>
                                    <div class="float-right">
                                        <label class="switch">
                                            <input id="chk-collapsed" type="checkbox" data-toggle-state="aside-collapsed">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <p class="float-left">Collapsed Text</p>
                                    <div class="float-right">
                                        <label class="switch">
                                            <input id="chk-collapsed-text" type="checkbox" data-toggle-state="aside-collapsed-text">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <p class="float-left">Float</p>
                                    <div class="float-right">
                                        <label class="switch">
                                            <input id="chk-float" type="checkbox" data-toggle-state="aside-float">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <p class="float-left">Hover</p>
                                    <div class="float-right">
                                        <label class="switch">
                                            <input id="chk-hover" type="checkbox" data-toggle-state="aside-hover">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <p class="float-left">Show Scrollbar</p>
                                    <div class="float-right">
                                        <label class="switch">
                                            <input id="chk-scroll" type="checkbox" data-toggle-state="show-scrollbar" data-target=".sidebar">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="app-chat" role="tabpanel">
                            <h3 class="text-center text-thin mt-4">Connections</h3>
                            <div class="list-group">
                                <!-- START list title-->
                                <div class="list-group-item border-0">
                                    <small class="text-muted">ONLINE</small>
                                </div>
                                <!-- END list title-->
                                <div class="list-group-item list-group-item-action border-0">
                                    <div class="media">
                                        <img class="align-self-center mr-3 rounded-circle thumb48" src="~/img/user/05.jpg" alt="Image">
                                        <div class="media-body text-truncate">
                                            <a href="#">
                                                <strong>Juan Sims</strong>
                                            </a>
                                            <br>
                                            <small class="text-muted">Designeer</small>
                                        </div>
                                        <div class="ml-auto">
                                            <span class="circle bg-success circle-lg"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-item list-group-item-action border-0">
                                    <div class="media">
                                        <img class="align-self-center mr-3 rounded-circle thumb48" src="~/img/user/06.jpg" alt="Image">
                                        <div class="media-body text-truncate">
                                            <a href="#">
                                                <strong>Maureen Jenkins</strong>
                                            </a>
                                            <br>
                                            <small class="text-muted">Designeer</small>
                                        </div>
                                        <div class="ml-auto">
                                            <span class="circle bg-success circle-lg"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-item list-group-item-action border-0">
                                    <div class="media">
                                        <img class="align-self-center mr-3 rounded-circle thumb48" src="~/img/user/07.jpg" alt="Image">
                                        <div class="media-body text-truncate">
                                            <a href="#">
                                                <strong>Billie Dunn</strong>
                                            </a>
                                            <br>
                                            <small class="text-muted">Designeer</small>
                                        </div>
                                        <div class="ml-auto">
                                            <span class="circle bg-danger circle-lg"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-item list-group-item-action border-0">
                                    <div class="media">
                                        <img class="align-self-center mr-3 rounded-circle thumb48" src="~/img/user/08.jpg" alt="Image">
                                        <div class="media-body text-truncate">
                                            <a href="#">
                                                <strong>Tomothy Roberts</strong>
                                            </a>
                                            <br>
                                            <small class="text-muted">Designeer</small>
                                        </div>
                                        <div class="ml-auto">
                                            <span class="circle bg-warning circle-lg"></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- START list title-->
                                <div class="list-group-item border-0">
                                    <small class="text-muted">OFFLINE</small>
                                </div>
                                <!-- END list title-->
                                <div class="list-group-item list-group-item-action border-0">
                                    <div class="media">
                                        <img class="align-self-center mr-3 rounded-circle thumb48" src="~/img/user/09.jpg" alt="Image">
                                        <div class="media-body text-truncate">
                                            <a href="#">
                                                <strong>Lawrence Robinson</strong>
                                            </a>
                                            <br>
                                            <small class="text-muted">Designeer</small>
                                        </div>
                                        <div class="ml-auto">
                                            <span class="circle bg-warning circle-lg"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-group-item list-group-item-action border-0">
                                    <div class="media">
                                        <img class="align-self-center mr-3 rounded-circle thumb48" src="~/img/user/10.jpg" alt="Image">
                                        <div class="media-body text-truncate">
                                            <a href="#">
                                                <strong>Tyrone Owens</strong>
                                            </a>
                                            <br>
                                            <small class="text-muted">Designeer</small>
                                        </div>
                                        <div class="ml-auto">
                                            <span class="circle bg-warning circle-lg"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="px-3 py-4 text-center">
                                <!-- Optional link to list more users-->
                                <a class="btn btn-purple btn-sm" href="#" title="See more contacts">
                                    <strong>Load more..</strong>
                                </a>
                            </div>
                            <!-- Extra items-->
                            <div class="px-3 py-2">
                                <p>
                                    <small class="text-muted">Tasks completion</small>
                                </p>
                                <div class="progress progress-xs m-0">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="px-3 py-2">
                                <p>
                                    <small class="text-muted">Upload quota</small>
                                </p>
                                <div class="progress progress-xs m-0">
                                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                        <span class="sr-only">40% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- END Off Sidebar (right)-->
        </aside>
        <div class="section-container">
            <div class="container body-content">
                @RenderBody()
                @*<hr />
                    <footer>
                        <p>&copy; 2018 - Crystal.Web.Transportation</p>
                    </footer>
            </div>
        </div>
        <!-- Page footer-->
        @*<footer class="footer-container">
                <span>&copy;</span>
            </footer>*@
    </div>


    <script src="~/Vendor/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="~/js/navigation.min.js"></script>
    @*<script src="~/Vendor/popper.js"></script>*@
    <script src="~/Vendor/bootstrap.js"></script>

    <script src="~/Vendor/app.js"></script>
    <script src="~/js/helpers.js"></script>

    <script src="~/js/toggler.js"></script>
    <script src="~/js/TotalAmountHelper.js"></script>


    <script src="~/lib/ToastMessage/ToastMessage.js"></script>
    <script src="~/js/nepali.datepicker.v3.2.min.js"></script>

    <script>

		$(function () {
			$('.has-tooltip').tooltip();

			@{
				if (TempData["message"] != null)
				{
					MunicipalityCardPrinting.Utils.Alert alert = Newtonsoft.Json.JsonConvert.DeserializeObject<MunicipalityCardPrinting.Utils.Alert>(TempData["message"].ToString());
					if (alert.message_type == DTO.Enums.ResponseTypes.success)
					{
						<text>
							$.notify("@alert.message", {
								status: 'success',
								timeout: '45000'
							});
						</text>
					}
					if (alert.message_type == DTO.Enums.ResponseTypes.error)
					{
						<text>
							$.notify("@alert.message", {
								status: 'danger',
								timeout: '45000'
							});
						</text>
					}
                    if (alert.message_type == DTO.Enums.ResponseTypes.notify)
					{
						<text>
							$.notify("@alert.message", {
								status: 'notify',
								timeout: '45000'
							});
						</text>
					}
				}
			}
		});
		$('.type-ahead').select2({ width: "100%", placeholder:"Select" });
    </script>
    <style>
        .full-width {
            width: 100%;
        }

        .uk-notify {
            z-index: 9816988504 !important;
        }

        .alert {
            color: white !important;
        }

        .alert-success {
            background-color: #388E3C !important;
        }

        .alert-danger {
            background-color: #F44336 !important;
        }
    </style>
    @RenderSection("Scripts", required: false)
</body>
</html>
