﻿@model DTO.FattDto

<h4>फाट</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUpdateFatt">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><b>फाटको नाम<span class="text-danger">*</span></b></label>
                <input asp-for="FattName" class="form-control" required="required"/>
                <span asp-validation-for="FattName" class="text-danger"></span>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm">बनाउनुहोस्</button>
                <button type="button" class="btn btn-danger btn-sm" onclick='window.location.href="@Url.Action("Index","Fatt")"'>सुचिमा जानुहोस्</button>
            </div>
        </form>
    </div>
</div>


