﻿@model IEnumerable<DTO.FattDto>
@{ ViewData["Title"] = "फाँट सुची"; Layout = "~/Views/Shared/_Layout.cshtml"; }
<section class="content-header">
    <h1>
        @ViewData["Title"]
    </h1>
</section>
<section class="content">
    <div class="box box-default">
        <div class="box-header">
            <div class="row">
                <div class="col-lg-1">
                    <a href="/Fatt/AddUpdateFatt" class="btn btn-primary btn-md ">
                        <i class="fa fa-plus-circle"></i>नयाँ फाँट
                    </a>
                </div>
            </div>
        </div>
        <table class="table" border="1">

            <tr style="background-color: #3c8dbc;color:white">

                <th>
                    SN
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FattName)
                </th>
                <th>Action</th>
            </tr>

            <tbody>
                @{ var i = 1;
                    if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(x => i)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FattName)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "AddUpdateFatt", new { id = item.id })

                                    @Html.ActionLink("Delete", "DeleteFatt", new { id = item.id }, new { onclick = "return confirm('Are you sure want to delete this item?')" })

                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr style="text-align:center; color:red"><td colspan="6"><b>No Record Found</b></td></tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>
