﻿@model DTO.CardDetailDTO

@{
    ViewData["Title"] = "AddUpdateCard";
}

<h1>AddUpdateCard</h1>

<h4>CardDetailDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUpdateCard">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            @Html.HiddenFor(a=>a.Id)
            <div class="form-group">
                <label asp-for="DisabledPersonId" class="control-label"></label>
                <input asp-for="DisabledPersonId" class="form-control" />
                <span asp-validation-for="DisabledPersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuardianId" class="control-label"></label>
                <input asp-for="GuardianId" class="form-control" />
                <span asp-validation-for="GuardianId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisabilityTypeByNature" class="control-label"></label>
                <input asp-for="DisabilityTypeByNature" class="form-control" />
                <span asp-validation-for="DisabilityTypeByNature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisabilityTypeBySeriousness" class="control-label"></label>
                <input asp-for="DisabilityTypeBySeriousness" class="form-control" />
                <span asp-validation-for="DisabilityTypeBySeriousness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCardType" class="control-label"></label>
                <input asp-for="IdCardType" class="form-control" />
                <span asp-validation-for="IdCardType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCardnumber" class="control-label"></label>
                <input asp-for="IdCardnumber" class="form-control" />
                <span asp-validation-for="IdCardnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Occupation" class="control-label"></label>
                <input asp-for="Occupation" class="form-control" />
                <span asp-validation-for="Occupation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qualification" class="control-label"></label>
                <input asp-for="Qualification" class="form-control" />
                <span asp-validation-for="Qualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentSchoolCollegeName" class="control-label"></label>
                <input asp-for="CurrentSchoolCollegeName" class="form-control" />
                <span asp-validation-for="CurrentSchoolCollegeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyingOrFinished" class="control-label"></label>
                <input asp-for="StudyingOrFinished" class="form-control" />
                <span asp-validation-for="StudyingOrFinished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhatKindOfWorkcanDoInDailyLife" class="control-label"></label>
                <input asp-for="WhatKindOfWorkcanDoInDailyLife" class="form-control" />
                <span asp-validation-for="WhatKindOfWorkcanDoInDailyLife" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhatKindOfWorkCantDo" class="control-label"></label>
                <input asp-for="WhatKindOfWorkCantDo" class="form-control" />
                <span asp-validation-for="WhatKindOfWorkCantDo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsNeededAnyEquipement" class="control-label"></label>
                <input asp-for="IsNeededAnyEquipement" class="form-control" />
                <span asp-validation-for="IsNeededAnyEquipement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalEquipements" class="control-label"></label>
                <input asp-for="AdditionalEquipements" class="form-control" />
                <span asp-validation-for="AdditionalEquipements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HasAnyAdditionalEquipement" class="control-label"></label>
                <input asp-for="HasAnyAdditionalEquipement" class="form-control" />
                <span asp-validation-for="HasAnyAdditionalEquipement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherFacilities" class="control-label"></label>
                <input asp-for="OtherFacilities" class="form-control" />
                <span asp-validation-for="OtherFacilities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherFacilitiesNeeded" class="control-label"></label>
                <input asp-for="OtherFacilitiesNeeded" class="form-control" />
                <span asp-validation-for="OtherFacilitiesNeeded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficeToProvideFacility" class="control-label"></label>
                <input asp-for="OfficeToProvideFacility" class="form-control" />
                <span asp-validation-for="OfficeToProvideFacility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullNameNepali" class="control-label"></label>
                <input asp-for="FullNameNepali" class="form-control" />
                <span asp-validation-for="FullNameNepali" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempAddressId" class="control-label"></label>
                <input asp-for="TempAddressId" class="form-control" />
                <span asp-validation-for="TempAddressId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermanentAddressId" class="control-label"></label>
                <input asp-for="PermanentAddressId" class="form-control" />
                <span asp-validation-for="PermanentAddressId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempTole" class="control-label"></label>
                <input asp-for="TempTole" class="form-control" />
                <span asp-validation-for="TempTole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermanentTole" class="control-label"></label>
                <input asp-for="PermanentTole" class="form-control" />
                <span asp-validation-for="PermanentTole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempWardNumber" class="control-label"></label>
                <input asp-for="TempWardNumber" class="form-control" />
                <span asp-validation-for="TempWardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermanentWardNumber" class="control-label"></label>
                <input asp-for="PermanentWardNumber" class="form-control" />
                <span asp-validation-for="PermanentWardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOBNepali" class="control-label"></label>
                <input asp-for="DOBNepali" class="form-control" />
                <span asp-validation-for="DOBNepali" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CitizenshipNumber" class="control-label"></label>
                <input asp-for="CitizenshipNumber" class="form-control" />
                <span asp-validation-for="CitizenshipNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CitizenshipNumberNepali" class="control-label"></label>
                <input asp-for="CitizenshipNumberNepali" class="form-control" />
                <span asp-validation-for="CitizenshipNumberNepali" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodGroup" class="control-label"></label>
                <input asp-for="BloodGroup" class="form-control" />
                <span asp-validation-for="BloodGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarritalStatus" class="control-label"></label>
                <input asp-for="MarritalStatus" class="form-control" />
                <span asp-validation-for="MarritalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuardianFullName" class="control-label"></label>
                <input asp-for="GuardianFullName" class="form-control" />
                <span asp-validation-for="GuardianFullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuardianFullNameNepali" class="control-label"></label>
                <input asp-for="GuardianFullNameNepali" class="form-control" />
                <span asp-validation-for="GuardianFullNameNepali" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuardianGender" class="control-label"></label>
                <input asp-for="GuardianGender" class="form-control" />
                <span asp-validation-for="GuardianGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuardianTempAddressId" class="control-label"></label>
                <input asp-for="GuardianTempAddressId" class="form-control" />
                <span asp-validation-for="GuardianTempAddressId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuardianPermanentAddressId" class="control-label"></label>
                <input asp-for="GuardianPermanentAddressId" class="form-control" />
                <span asp-validation-for="GuardianPermanentAddressId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuardianTempTole" class="control-label"></label>
                <input asp-for="GuardianTempTole" class="form-control" />
                <span asp-validation-for="GuardianTempTole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuardianPermanentTole" class="control-label"></label>
                <input asp-for="GuardianPermanentTole" class="form-control" />
                <span asp-validation-for="GuardianPermanentTole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuardianTempWardNumber" class="control-label"></label>
                <input asp-for="GuardianTempWardNumber" class="form-control" />
                <span asp-validation-for="GuardianTempWardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuardianPermanentWardNumber" class="control-label"></label>
                <input asp-for="GuardianPermanentWardNumber" class="form-control" />
                <span asp-validation-for="GuardianPermanentWardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuardianDOB" class="control-label"></label>
                <input asp-for="GuardianDOB" class="form-control" />
                <span asp-validation-for="GuardianDOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuardianDOBNepali" class="control-label"></label>
                <input asp-for="GuardianDOBNepali" class="form-control" />
                <span asp-validation-for="GuardianDOBNepali" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuardianCitizenshipNumber" class="control-label"></label>
                <input asp-for="GuardianCitizenshipNumber" class="form-control" />
                <span asp-validation-for="GuardianCitizenshipNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuardianCitizenshipNumberNepali" class="control-label"></label>
                <input asp-for="GuardianCitizenshipNumberNepali" class="form-control" />
                <span asp-validation-for="GuardianCitizenshipNumberNepali" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuardianBloodGroup" class="control-label"></label>
                <input asp-for="GuardianBloodGroup" class="form-control" />
                <span asp-validation-for="GuardianBloodGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuardianMarritalStatus" class="control-label"></label>
                <input asp-for="GuardianMarritalStatus" class="form-control" />
                <span asp-validation-for="GuardianMarritalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

