﻿
@model DTO.ProvinceDTO
<div class="content-wrapper">
    <div class="card card-primary col-md-6 ">
        <div class="card-header" style="">
            <h3 class="page-title">Create Province</h3>
        </div>
        <form asp-action="Create">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.HiddenFor(x => x.Id);
                <div class="form-group">
                    <label asp-for="ProvinceName" class="control-label"></label>
                    <input asp-for="ProvinceName" class="form-control" />
                    <span asp-validation-for="ProvinceName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProvinceNameNepali" class="control-label"></label>
                    <input asp-for="ProvinceNameNepali" class="form-control" />
                    <span asp-validation-for="ProvinceNameNepali" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Capital" class="control-label"></label>
                    <input asp-for="Capital" class="form-control" />
                    <span asp-validation-for="Capital" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success">
                    <span class="fa fa-check-circle"></span> Save
                </button>
                <a asp-action="Index" class="btn btn-primary btn-sm" title=" Click to go back to list">
                    <span class="fa fa-chevron-circle-left"></span> Back To List
                </a>
            </div>
        </form>
    </div>
</div>

