﻿.columns {
	width: 100%;
	display: table;
	padding-left: 4px;
	padding-right: 4px;
}

.columns2 {
	width: 85%;
	display: table;
	padding-left: 4px;
	padding-right: 4px;
}

.columns3 {
	width: 70%;
	display: table;
	padding-left: 4px;
	padding-right: 4px;
}

.column1 {
	display: table-cell;
	width: 30%;
}

.column2 {
	display: table-cell;
	width: 40%;
	padding-top:10px;
}

.column3 {
	display: table-cell;
	width: 30%;
	float: right;
}


.column2 p {
	margin-bottom: 0rem !important;
}

.columns p {
	margin-bottom: 0rem !important;
}

.maincolumn {
	background: lightblue;
}

.NationalLogo {
	padding-top: 10px;
}
.dynamicValue {
	font-weight: bolder;
}
.cardHeadingClass{
	text-align:center;
}
.cardDataText {
	font-size: smaller;
}
.OverflowCls {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
