﻿body 
{
	font-size: .85em !important;
}
table {
	margin-top:20px;
}
ul.pagination {
	margin-top: 20px;
}
ul.pagination li {
	border-radius:50%;
}
.btn {
	box-shadow: 4px 4px 16px rgba(0,0,0, .4);
	transition : all .3s;
}
.btn:hover {
	box-shadow: 2px 2px 5px rgba(0,0,0, 0.3);
}
select.form-control:not([size]):not([multiple]) {
	height: auto;
}
/*.form-control 
{
	padding : inherit;
	font-size : .8rem;
}*/
.form-group
{
margin:10px;
}
h6{
    margin:5px;
}
hr{
    margin:20px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: initial !important;
}
.select2-container .select2-selection--single {
height:auto !important;
}

.wrapper .aside-container .aside-inner {
	padding-top: 55px;
	height: 100%;
	width: 220px;
	overflow: hidden;
	margin-top: 10px !important;
	
}
.sidebar
{
background-color:black !important;
}
	.sidebar li {
		background-color: #3c8dbc;
	}
.topnavbar-wrapper, .navbar {
	background-color: #3c8dbc !important;
}

.navbar {
	background-color: #3c8dbc !important;
}

.topnavbar {
	background-image:none;
}

.aside-inner, .navbar-header, .sidebar > .sidebar-nav > li {
	margin-bottom:10px !important;
}
.wrapper{
	overflow-y:hidden;
}

.manualimgsize
{
 height:300px !important;
 width:300px !important;
}



.