﻿@model IEnumerable<Infrastructure.Database.Models.Darta>
@{ ViewData["Title"] = "दर्ता रिपोर्ट"; Layout = "~/Views/Shared/_Layout.cshtml"; }
<section class="content-header">
    <h1>
        @ViewData["Title"]
    </h1>
</section>
<section class="content">
    <div class="box box-default">


         <div class="col-lg-11">
                    <form asp-action="DartaList" asp-controller="Report" method="get">

                        <div class="row">
                            <div class="col-lg-10">
                                <div class="row">
                                   @* <div class="col-lg-3">
                                        <input name="Name" placeholder="Search By Darta Number" type="text" class="form-control" style="width:115%; margin-left:40px" />
                                    </div>*@

                                     <div class="col-lg-3">
                                        <input name="from_date"  type="text" placeholder="From date" class="form-control nepali-calendar" id="nepali-datepicker" style="width:100%;" />
                                    </div>
                                    <div class="col-lg-3">
                                        <input name="to_date" type="text" placeholder="To date" class="form-control nepali-calendar" id="nepali-datepicker1" style="width:100%;" />
                                    </div>


                                    <div class="col-lg-3">
                                        <button type="submit" class="btn btn-success btn-md" style="margin-left:40px">
                                            <span class="fa fa-filter"></span> Filter
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


        <table class="table" border="1">

            <tr style="background-color: #3c8dbc;color:white">

                <th>
                    सि.नं.
                </th>
                <th>
                    दर्ता मिति
                </th>
                <th>
                    पत्र पठाउने कार्यालयको नाम
                </th>
                <th>
                    प्राप्त पत्रको चलानी नम्बर
                </th>
                <th>
                    बिषय
                </th>
                <th>
                    फाट
                </th>
            </tr>
            <tbody>
                @{ var i = 1;
                    if (Model != null && Model.Any())
                    {
                        foreach (var item in Model)
                        {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(x => i)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Dartadate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CompanyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ReferenceNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Subject)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Fatt.FattName)
                                    </td>
                                </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr style="text-align:center; color:red"><td colspan="7"><b>No Record Found</b></td></tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>


@section scripts{
    <script type='text/javascript'>

        $(document).ready(function(){
            var mainInput = $("#nepali-datepicker");
            mainInput.nepaliDatePicker();

            var mainInput = $("#nepali-datepicker1");
            mainInput.nepaliDatePicker();
        });

        

    </script>
}