.toast {
  padding: 15px 20px;
  color: #fff;
  background: rgba(245,81,69, .9);
  display: inline-block;
  position: fixed;
  top: -100px;
  right: 15px;
  opacity: 0;
  transition: all 0.4s ease-out;
  z-index: 9816988504;
  border-radius: 10px;
  min-width: 200px;
  min-height: 50px;
}